<div class="dailiright_top">
  <%=image_tag "new/dailiimg/biaoge_21.gif", class: "biaoimg"%>
  <div class="biaotou">
    <h1>下线会员明细查询</h1>
    <p>显示各下线会员在时间段内的投注及输赢</p>
  </div>
</div>
<div class="dailiright_down">
  <%= render partial: "agent/shared/date_filter_and_export_excel", locals: {thispath: profit_agent_members_path} %>

  <table class="biaoge">
    <thead>
      <tr>
        <th class="">用户名/ID</th>
        <th class="">注册时间</th>
        <th class="">状态</th>
        <th class="">存款</th>
        <th class="">提款</th>
        <th class="">红利</th>
        <th class="">投注</th>
        <th class="">输赢</th>
        <th class="">派奖</th>
      </tr>
      <tbody>
        <% @member_profit_summaries.each do |member_profit| %>
          <tr>
            <td class=""><%= member_profit.user.display_name %></td>
            <td class=""><%= member_profit.user.display_created_at %></td>
            <td class=""><%= t member_profit.user.state.to_sym %></td>
            <td class=""><%= member_profit.display_deposit_amount %></td>
            <td class=""><%= member_profit.display_drawing_amount %></td>
            <td class=""><%= member_profit.display_bonus %></td>
            <td class=""><%= member_profit.display_bid_amount %></td>
            <td class=""><%= member_profit.display_net %></td>
            <td class=""><%= member_profit.display_profit %></td>
          </tr>
        <% end %>
      </tbody>

    </thead>
  </table>

  <%= will_paginate @users %>
</div>
