<div> <h2 class="page-header">下线会员明细查询  <small>显示各下线会员在时间段内的投注及输赢 </small> </h2></div>
<p id="notice"><%= notice %></p>
<%= render partial: "agent/shared/date_filter_and_export_excel", locals: {thispath: profit_agent_members_path} %>

<table class="table">
  <thead>
    <tr>
      <th>用户名</th>
      <th>注册时间</th>
      <th>状态</th>
      <th>存款</th>
      <th>提款</th>
      <th>红利</th>
      <th>投注</th>
      <th>输赢</th>
      <th>派奖</th>
    </tr>
    <tbody>
      <% @member_profit_summaries.each do |member_profit| %>
        <tr>
          <td><%= member_profit.user.nickname %></td>
          <td><%= member_profit.user.created_at %></td>
          <td><%= 'xyz' %></td>
          <td><%= member_profit.deposit_amount %></td>
          <td><%= member_profit.drawing_amount %></td>
          <td><%= member_profit.bonus %></td>
          <td><%= member_profit.bid_amount %></td>
          <td><%= member_profit.net %></td>
          <td><%= member_profit.profit %></td>
        </tr>
      <% end %>
    </tbody>

  </thead>
</table>

<%= will_paginate @users %>
