<ul>
	<li><input type="radio" name="iss_ins_cd" value="0801040000" checked><%=image_tag "new/banks/zhongguo.gif" %></li>
	<li><input type="radio" name="iss_ins_cd" value="0801020000"><%=image_tag "new/banks/gongshang.gif" %></li>
	<li><input type="radio" name="iss_ins_cd" value="0801030000"><%=image_tag "new/banks/nongye.gif" %></li>
	<li><input type="radio" name="iss_ins_cd" value="0801050000"><%=image_tag "new/banks/jianshe.gif" %></li>
</ul>
<ul>
	<!--<li><input type="radio" name="iss_ins_cd" value="0803010000"><%=image_tag "new/banks/jiaotong.gif" %></li>-->
	<li><input type="radio" name="iss_ins_cd" value="0803080000"><%=image_tag "new/banks/zhaoshang.gif" %></li>
	<li><input type="radio" name="iss_ins_cd" value="0803030000"><%=image_tag "new/banks/guangda.gif" %></li>
	<li><input type="radio" name="iss_ins_cd" value="0803050000"><%=image_tag "new/banks/minsheng.gif" %></li>
	<li><input type="radio" name="iss_ins_cd" value="0803040000"><%=image_tag "new/banks/huaxia.gif" %></li>
</ul>
<ul>
	<li><input type="radio" name="iss_ins_cd" value="0803060000"><%=image_tag "new/banks/fazhan.gif" %></li>
	<li><input type="radio" name="iss_ins_cd" value="0803020000"><%=image_tag "new/banks/shiye.gif" %></li>
	<li><input type="radio" name="iss_ins_cd" value="0000000000"><%=image_tag "new/banks/union-pay.jpg" %></li>
</ul>
<ul>
</ul>
