<ul>
	<li><input type="radio" name="zx_bank"><%=image_tag "new/banks/zhongguo.gif" %></li>
	<li><input type="radio" name="zx_bank"><%=image_tag "new/banks/gongshang.gif" %></li>
	<li><input type="radio" name="zx_bank"><%=image_tag "new/banks/nongye.gif" %></li>
	<li><input type="radio" name="zx_bank"><%=image_tag "new/banks/jianshe.gif" %></li>
</ul>
<ul>
	<li><input type="radio" name="zx_bank"><%=image_tag "new/banks/jiaotong.gif" %></li>
	<li><input type="radio" name="zx_bank"><%=image_tag "new/banks/zhaoshang.gif" %></li>
	<li><input type="radio" name="zx_bank"><%=image_tag "new/banks/shanghai.gif" %></li>
	<li><input type="radio" name="zx_bank"><%=image_tag "new/banks/shenzhen.gif" %></li>
</ul>
<ul>
	<li><input type="radio" name="zx_bank"><%=image_tag "new/banks/guangda.gif" %></li>
	<li><input type="radio" name="zx_bank"><%=image_tag "new/banks/minsheng.gif" %></li>
	<li><input type="radio" name="zx_bank"><%=image_tag "new/banks/huaxia.gif" %></li>
	<li><input type="radio" name="zx_bank"><%=image_tag "new/banks/fazhan.gif" %></li>
</ul>
<ul>
	<li><input type="radio" name="zx_bank"><%=image_tag "new/banks/shiye.gif" %></li>
	<li><input type="radio" name="zx_bank"><%=image_tag "new/banks/nongchun.gif" %></li>
</ul>
