<div class="sign" style="height:100%">
  <%@user||=User.new%>
  <%= simple_form_for(@user, :url => user_registration_path, remote:true,
  :html => { :id=>"sign_up_form", :role => 'form', :class=>"sign_box", style:"width:100%"},
  defaults: { wrapper_html:{style:"float:left;margin:5px 30px 5px 0;width:295px;"},
  input_html:{style:"border-radius: 0px;border:0;box-shadow:0 0;margin:0;"}}) do |f| %>
    <div style="width:688px;float:left;">
      <%=f.input "first_name", label: false, placeholder: "名", input_html: {class: "in01"},
      wrapper_html:{style:"float:left;margin:5px 5px 5px 0;width:145px;"} %>
      <%=f.input "last_name", label: false, placeholder: "姓", input_html: {class: "in01"}, wrapper_html:{style:"float:left;margin:5px 30px 5px 0;width:145px;"} %>
      <%=f.input "email", label: false, placeholder: "电子邮箱", input_html: {class: "in02"}  %>
      <%=f.input "qq", label: false, placeholder: "QQ", input_html: {class: "in04  notx"}  %>
      <input name="countryDialCode" value="+86" id="reg-area-code" class="in05" type="text" style="margin:5px 0;">
      <%=f.input "phone", label: false, placeholder: "电话", input_html: {class: "in06"}, wrapper_html:{style:"float:left;margin:5px 30px 5px 0;width:245px;"} %>
      <%=f.input "password", label: false, placeholder: "密码", input_html: {class: "in03"}  %>
      <%= f.input :validate_code, label: false, placeholder: "验证码", input_html: {class: "in07"}, wrapper_html:{style:"float:left;margin:5px 5px 5px 0;width:190px;"} %>
      <input id="landing" name="landing" value="" readonly="readonly" type="hidden">
      <input value="获取验证码" class="btn01 obtainVerifyCode" style="height:36px;float:left;margin:5px 30px 5px 0;" type="button" onclick="$('#send_code').val('1');$('#sign_up_form').submit();return false;">
      <%=hidden_field_tag :send_code, "0" %>
    </div>
    <div class="ce" style="margin-top:0;">
      <div class="ce1" style="margin-left:10px;">
        <span><%=image_tag "new/sign-icon04.png" %>经纪人:</span>
        <label class="cho"><input name="affiliate" class="ch" value="1" type="radio" onclick="$('.in11').show()">有</label>
        <label class="cho"><input name="affiliate" checked="checked" class="ch" value="0" type="radio" onclick="$('.in11').hide()">无</label>
        <%=f.input "broker_number", label: false, placeholder: "经纪人编码", input_html: {class: "in11", style:"border-radius: 0px;border:0;box-shadow:0 0;width:120px;"}, wrapper_html:{style:"float:left;margin:5px 0;width:120px;"}  %>
      </div>

      <input name="reg-agreement" checked="checked" class="bo" id="reg-agreement" type="checkbox">
     我已阅读并同意
     <a href="http://www.ggbinary.com/zh-cn/TermsOfAgreement/" target="_blank">服务条款</a> 和 <a href="http://www.ggbinary.com/zh-cn/PrivacyPolicy/" target="_blank">隐私政策</a>
   </div>
   <input name="input2" value="免费创建账户" class="btn02" id="reg-submit" type="submit">
 <%end%>
</div>
