<div class="dailiright_top">
  <%=image_tag "new/dailiimg/anan_03.gif", class: "biaoimg" %>
  <div class="biaotou">
    <h1>更改密码</h1>
    <p>所有资料都必须填写</p>
  </div>
</div>
<div class="dailiright_down">
  <div class="ananan">
    <%selected_password ||=@selected_password%>
    <%login_active = selected_password == "login" ? "active" : ""%>
    <%money_active = selected_password == "money" ? "active" : ""%>

    <div class="chongzhi_top">
        <span style="margin-top:10px;"><%=link_to "登录密码",{}, href:"#login", role:"tab", "data-toggle":"tab"%></span>
        <span style="margin-top:10px;"><%=link_to "资金密码",{}, href:"#money", role:"tab", "data-toggle":"tab"%></span>
      <hr>
    </div>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane <%=login_active%> zxzhifu" id="login">
        <%= better_form_for(current_broker, url: {:action=>"change_password"} ) do |f| %>
          <div class="form-inputs">
            <%= f.input :current_password, label: "旧密码" %>
            <%= f.input :password, label: "新密码" %>
            <%= f.input :password_confirmation, label: "确认密码" %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "保存", class:"ggtj1" %>
          </div>
        <% end %>
      </div>

      <div role="tabpanel" class="tab-pane <%=money_active%> zxzhifu" id="money">
        <%= better_form_for(current_broker, :url=>{:action=>"change_password"}) do |f| %>
          <div class="form-inputs">
            <%= f.input :current_money_password, label: "当前资金密码" if current_broker.has_money_password? %>
            <%= f.input :money_password, label: "资金密码" %>
            <%= f.input :money_password_confirmation, label: "资金密码确认" %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "保存", class:"ggtj1" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
