<div> <h2 class="page-header">数据概况  <small>显示您当月业绩达成状况 </small> </h2>
</div>
<div>
  <ul class="nav summary_by_month clearfix">
     <li >
                  <%= fa_icon "group" , class: "fa-5x"%>
                  <p class="num">2</p>
                  <p>总人数</p>
                </li>
                <li >
                  <%= fa_icon "user" , class: "fa-5x"%>
                  <p class="num"> 0 </p>
                  <p>活跃人数</p>
                </li>
                <li >
                  <%= fa_icon "desktop" , class: "fa-5x"%>
                  <p class="num"> 0 </p>
                  <p>点击数</p>
                </li>

                 <li >
                   <%= fa_icon "exchange" , class: "fa-5x"%>
                  <p class="num"></p>
                  <p>提款额</p>
                </li>
                 <li style="" class="last">
                   <%= fa_icon "credit-card" , class: "fa-5x"%>
                  <p class="num">0 </p>
                  <p>提款人数</p>
                </li>


                <li style="">
                  <%= fa_icon "signal" , class: "fa-5x"%>
                  <p class="num"> 0 </p>
                  <p>平台投注</p>
                </li>
                <li style="">
                  <%= fa_icon "bar-chart" , class: "fa-5x"%>
                  <p class="num"> 0 </p>
                  <p>平台输赢</p>
                </li>
                <li style="">
                  <%= fa_icon "gift" , class: "fa-5x"%>
                  <p class="num"> 0 </p>
                  <p>红利</p>
                </li>

                 <li style="" class="last">
                   <%= fa_icon "list-alt" , class: "fa-5x"%>
                  <p class="num"> 0 </p>
                  <p>注册数</p>
                </li>

              </ul>
</div>

<div class="section">
  <h3> 引导客户去注册</h3>

</div>

<div class="section">
  <h3> 引导客户去注册</h3>

</div>
