<p id="notice"><%= notice %></p>

<h1>Game Instruments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
      <th>Hot</th>
      <th>Default rate</th>
      <th>Decimal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_instruments.each do |game_instrument| %>
      <tr>
        <td><%= game_instrument.name %></td>
        <td><%= game_instrument.code %></td>
        <td><%= game_instrument.description %></td>
        <td><%= game_instrument.hot %></td>
        <td><%= game_instrument.default_rate %></td>
        <td><%= game_instrument.decimal %></td>
        <td><%= link_to 'Show', game_instrument %></td>
        <td><%= link_to 'Edit', edit_game_instrument_path(game_instrument) %></td>
        <td><%= link_to 'Destroy', game_instrument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Instrument', new_game_instrument_path %>
