<% # locals {container_id, symbol}
game_instrument = GameInstrument.where(code: symbol).first
%>

<div class="forex-wrapper forex-simulator-wrapper">
  <div class="clearfix">
    <%= render partial: "expiry_panel_simulator", locals: { symbol: symbol } %>

  </div>

  <%= content_tag "div","", id: container_id, class: "forex-chart forex-chart-simulator", data: {symbol: symbol} %>

  <div class="huobiright_ti1 clearfix">
			<div class="huobiti_left1 pull-left">
        <div class="text-center" style=""><%= content_tag "span","0.0000", class: "b-instrument-last-quote", data: {symbol: symbol} %> </div>
        <a href="javascript:void(0)" class="bid-highlow  b-bid" data-highlow="0"> <%= image_tag "new/jiaoyi/jiaoyi1_101.gif" %></a>
        <a href="javascript:void(0)" class="bid-highlow  b-bid" data-highlow="1"> <%= image_tag "new/jiaoyi/jiaoyi1_109.gif" %></a>
			</div>
			<div class="b-game-form-invoice-wrapper huobiti_right1 pull-right">
        <div class="payout " >
  				<div class="sshuou text-center">
  				  <span class="rebate"> <%= game_instrument.display_default_rate %></span>
  				</div>
  				<div class="ssshou" >
    				<p class="shouyi1 text-center">收益</p>
            <p class="chushou1 pull-left"><%= image_tag "new/jiaoyi/jiaoyi1_112.gif" %>出售</p>
            <p class="duichong1 pull-right"><%= image_tag "new/jiaoyi/jiaoyi1_114.gif" %>对冲</p>
    				<p class="jiabei1 text-center">X2加倍</p>
  				</div>
        </div>
        <div class="invoice " style="display:none; opacity: 1; color: white; padding: 0;width:350px;"  data-active="true" >
          <button type="button" class="close" style="right:0; opacity: 0.5;" ><span style="display:block;padding: 2px; color:black;"> X </span><span class="sr-only">Close</span></button>
          <% @bid = Bid.new %>
          <%= simple_form_for(@bid, url: simulate_my_bids_path, remote: true) do |f| %>
          <%=  hidden_field_tag "game_round[instrument_code]", symbol, class: 'b-game-round-instrument-code' %>
          <%=  hidden_field_tag "game_round[start_at]"  %>
          <%=  hidden_field_tag "game_round[period]"  %>
          <%=  hidden_field_tag "game_round[game_id]", 1  %>
          <%= f.input "rate", as: :hidden   %>
          <%= f.input "highlow", as: :hidden   %>
          <%= f.input "last_quote", as: :hidden   %>
            <div class="message-container">
                <table><tbody>
                  <tr>
                    <th>即将结束:</th>
                    <td>
                      <div class="close-button" style="display:none;" onclick="Trading.app.getController('Game').hideInvoice('157')"></div>
                      <div class="call-small-icon"></div> <span id="invoice-spot-157" class="spot-157 trend-down b-instrument-last-quote" data-symbol="<%=symbol%>">0.0</span>
                    </td>
                    <th valign="middle">投资:</th>
                    <td colspan="2">
                      <div class="investment-amount-wrapper" style="">

                        <span class="invoice-currency-symbol">$</span>
                        <select name="bid[amount]" class="b-bid-cost form-control input-sm" style="width:auto;hight:auto;">
                          <option value="10"> 10 </option>
                          <option value="25"> 25 </option>
                          <option value="50"> 50 </option>
                          <option value="100" selected=""> 100 </option>
                          <option value="200"> 200 </option>
                          <option value="250"> 250 </option>
                          <option value="300"> 300 </option>
                          <option value="400"> 400 </option>
                          <option value="500"> 500 </option>
                        </select>
                        <span class="combobox" style="position:relative; display:none;">
                          <input type="text" class="investment-amount" id="investment-amount-157" onchange="Utils.validateStake(event, this); Trading.app.getController('Game').setReturnAmount('157', 70, 0)" onkeyup="Utils.validateStake(event, this); Trading.app.getController('Game').setReturnAmount('157', 70, 0)" onpaste="Utils.validateStake(event, this); Trading.app.getController('Game').setReturnAmount('157', 70, 0)" onblur="Utils.validateStake(event, this); Trading.app.getController('Game').setReturnAmount('157', 70, 0)" style="margin: 0px;"><a href="#" class="combobox_button">
                          <div class="combobox_arrow"></div></a><div class="combobox_selector" style="display:none">
                          <ul><li>10</li><li>25</li><li>50</li><li>100</li><li>200</li><li>250</li><li>300</li><li>400</li><li>500</li></ul></div>
                        </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>有效期:</th>
                    <td colspan="2"> <span class="b-game-round-expiry-at" data-format='l'> 13-Dec 10:28 </span></td>
                    <td colspan="2"> <span class="bid_result" style="color:red;"></span></td>
                  </tr>
                  <tr>
                    <th>价内期权:</th>
                    <td class="cf"><span  class="b-bid-money">170.00 (70%)</span></td>
                    <td>价外期权:</td>
                    <td><span id="invoice-rebate-157">$0.00 (0%)</span></td>
                    <td class="apply-wrapper">
                      <a href="javascript:void(0)" class="btn-danger btn-xs b-submit-bid "  >交易</a>
                      <span class="loadable" id="loader-157">&nbsp;</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>
        <div class="message-container confirmation-message" style="display: none;" id="confirmation-message-157"></div>

			</div>
    </div>
</div>
