
  <div class="index_slide">
    <div class="wrap_1005 slide">
      <ul class="slide_index clearfix">
        <li class="one"></li>
        <li class="two"></li>
        <li class="five hover"></li>
        <li class="three"></li>
        <li class="four"></li>
        
      </ul>
      <ul class="slide_con clearfix">
        <li style="display: block;"> <a href="/pages/forex_adv"><%= image_tag "new/index_slide_con01.jpg" %></a></li>
        <li><a href=""><%= image_tag "new/index_slide_con02.jpg" %></a></li>
        <li><a href="/pages/forex_simple"><%= image_tag "new/index_slide_con03.jpg" %></a></li>
        <li><a href="/agent"><%= image_tag "new/index_slide_con04.jpg" %></a></li>
        <li><a href="/info/a/youhuihuodong/suoyouhuodong/"><%= image_tag "new/index_slide_con05.jpg" %></a></li>
      </ul>

    </div>
  </div>

  <div class="ggao">
    <div class="ggaonei">
       <iframe src="/info/templets/default/gonggao.htm" height="45" width="800" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>

    </div>
  </div>

  <div class="bodyer">
    <div class="bodyernei">
      <div class="bodyernei_top">
        <dt>二元期权交易终端</dt>
        <dd>同一个交易· 不同的魅力 同一个账户，共同的财富梦想，来自您的选择 </dd>
        <div class="sp">
          <div class="videobox">
            <div class="video-img">
              <embed  id="js_videoCon_1" class="js_videoCon"   src='http://player.youku.com/player.php/sid/XMTg2Mjc3MzMyOA==/v.swf' allowFullScreen='true' quality='high' width='720' height='400' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
              <embed  id="js_videoCon_2" class="js_videoCon"  style="display:none" src='http://player.youku.com/player.php/sid/XMTg3MjY0OTgwNA==/v.swf' allowFullScreen='true' quality='high' width='720' height='400' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
              <embed  id="js_videoCon_3" class="js_videoCon"  style="display:none" src='http://player.youku.com/player.php/sid/XMTg2Mjc3MzMyOA==/v.swf' allowFullScreen='true' quality='high' width='720' height='400' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>

            </div>

          </div>

          <div class="spqh">
          <div class="video-list">
            <ul>
              <li class="now" id="http://player.youku.com/player.php/sid/XMTg2Mjc3MzMyOA==/v.swf" video="1" vid="1">
                <%=image_tag "new/tp_10.gif", class:"tbiao" %>
                <p>平台价绍<br>BALLMER ASIA</p>
                <%=image_tag "new/video_1.jpg", width:"142", height:"82" %>
                <%=image_tag "new/icon-video.png", class:"icon-video" %>
              </li>
              <li id="http://player.youku.com/player.php/sid/XMTg3MjY0OTgwNA==/v.swf" video="2" vid="2">
                <%=image_tag "new/tp_10.gif", class:"tbiao" %>
                <p>平台操作指南<br>轻轻松松学会交易</p>
                <%=image_tag "new/video_1.jpg", width:"142", height:"82" %>
                <%=image_tag "new/icon-video.png", class:"icon-video" %>
              </li>
              <li id="http://player.youku.com/player.php/sid/XMTg2Mjc3MzMyOA==/v.swf" video="3" vid="3">
                <%=image_tag "new/tp_10.gif", class:"tbiao" %>
                <p>商业模式<br>模式决定高度</p>
                <%=image_tag "new/video_1.jpg", width:"142", height:"82" %>
                <%=image_tag "new/icon-video.png", class:"icon-video" %>
              </li>

            </ul>
          </div>
          </div>
        </div>


      </div>
      <div class="bodyernei_hdong">

        <div id="container" class="banner">
          <ol>
            <li style="margin-top: 0px;">
              <a href="/info/a/youhuihuodong/suoyouhuodong/" target="_blank">
              <%=image_tag "new/tp_15.gif" %>
              </a>
            </li>
            <li style="margin-top: 0px;">
              <a href="/info/a/youhuihuodong/suoyouhuodong/" target="_blank"><%=image_tag "new/tp_16.gif" %></a>
            </li>
            <li style="margin-top: 0px;">
              <a href="/info/a/youhuihuodong/suoyouhuodong/" target="_blank"><%=image_tag "new/tp_68.gif" %></a>
            </li>
          </ol>
          <div class="mouse_direction">
              <div class="mouse_top"></div>
              <div class="mouse_bottom"></div>
          </div>
        </div>


      </div>
      <div class="denglu">
        <a href="http://www.ballmerasia.com/pages/forex_simple"><%=image_tag "new/zc_03.gif" %></a>
        <a class="zccc"><%=image_tag "new/zc_05.gif" %></a>
       <div class="zccb"><%=image_tag "new/mobile.png" %></div>
      </div>
     
      <style type="text/css">
        .zccb{
          display: none;
    width: 120px!important;
    height: 120px;
    position: absolute;
    margin-left: 100px;
    margin-top: -240px;

        }
        .zccc:hover .zccb{
          display: block;
        }
      </style>
      <div style="text-align:left;clear:both"><br></div>
    </div>
    <!--<div id="mobile_trade_qrcode" class="qrcode" style="right:45%; position: absolute; height: 300px; width: 300px;margin-top:-250px"></div>-->
  <%unless current_user%>
    <div id="sign_up_block" class="bodyernei_zhong" style="">
      <%=render :partial=>"/devise/registrations/sign_up"%>
    </div>
  <%end%>
  <div class="bodyernei_jiaoyi">
    <div class="box2">
        <div class="simulation">
         <!-- <h3>「 模拟交易 &amp; 交易信号 」<span>- 免费模拟，1分钟轻松入门 -</span></h3>-->
          <div style="height: 328px; widht:685px; margin-left:13px;" class="tradding">
            <%= render partial: 'forex_chart_simulator', locals:{ container_id:"advanced-chart-line-USEURUSD",  symbol: "USEURUSD"} %>


           </div>
        </div>
        <div class="single">
          <div style="margin: 8px 3px;" class="zidongtubiao_timu">
                <ul class="zidongtubiao_lanmu">
                  <li>
                    <a href=""class="zidongtbxl"> <%= image_tag "new/jiaoyi/jiaoyi1_49.gif" %>  </a>
                   </li>
                  <li><h2>符号</h2></li>
                  <li><h2>形态</h2></li>
                  <li><h2>时间</h2></li>
                </ul>
                <div class="zidongtable">
                  <table>
                    <tbody><tr>
                      <td class="up1"><%= image_tag "new/jiaoyi/jiaoyi1_58.gif" %>  </td>
                      <td><p>美元/日元（1-5分钟）</p></td>
                      <td><p>反弹</p></td>
                      <td><p>10分钟前</p></td>
                      <td class="up2"><%= image_tag "new/jiaoyi/jiaoyi1_61.gif" %>  </td>
                    </tr>
                    <tr>
                      <td class="down1"><%= image_tag "new/jiaoyi/jiaoyi1_67.gif" %>  </td>
                      <td><p>美元/日元（1-5分钟）</p></td>
                      <td><p>反弹</p></td>
                      <td><p>10分钟前</p></td>
                      <td class="down2"><%= image_tag "new/jiaoyi/jiaoyi1_68.gif" %>  </td>
                    </tr>
                    <tr>
                      <td class="down1"><%= image_tag "new/jiaoyi/jiaoyi1_67.gif" %> </td>
                      <td><p>美元/日元（1-5分钟）</p></td>
                      <td><p>反弹</p></td>
                      <td><p>10分钟前</p></td>
                      <td class="down2"><%= image_tag "new/jiaoyi/jiaoyi1_68.gif" %> </td>
                    </tr>
                    <tr>
                      <td class="down1"><%= image_tag "new/jiaoyi/jiaoyi1_67.gif" %> </td>
                      <td><p>美元/日元（1-5分钟）</p></td>
                      <td><p>反弹</p></td>
                      <td><p>10分钟前</p></td>
                      <td class="down2"><%= image_tag "new/jiaoyi/jiaoyi1_68.gif" %>  </td>
                    </tr>
                    <tr>
                      <td class="down1"><%= image_tag "new/jiaoyi/jiaoyi1_58.gif" %> </td>
                      <td><p>美元/日元（1-5分钟）</p></td>
                      <td><p>反弹</p></td>
                      <td><p>10分钟前</p></td>
                      <td class="down2"><%= image_tag "new/jiaoyi/jiaoyi1_61.gif" %> </td>
                    </tr>
                    <tr>
                      <td class="down1"><%= image_tag "new/jiaoyi/jiaoyi1_67.gif" %>  </td>
                      <td><p>美元/日元（1-5分钟）</p></td>
                      <td><p>反弹</p></td>
                      <td><p>10分钟前</p></td>
                      <td class="down2"><%= image_tag "new/jiaoyi/jiaoyi1_68.gif" %>  </td>
                    </tr>
                     <tr>
                      <td class="down1"><%= image_tag "new/jiaoyi/jiaoyi1_58.gif" %>  </td>
                      <td><p>美元/日元（1-5分钟）</p></td>
                      <td><p>反弹</p></td>
                      <td><p>10分钟前</p></td>
                      <td class="down2"><%= image_tag "new/jiaoyi/jiaoyi1_61.gif" %>  </td>
                    </tr>
                       <tr>
                      <td class="down1"><%= image_tag "new/jiaoyi/jiaoyi1_58.gif" %> </td>
                      <td><p>美元/日元（1-5分钟）</p></td>
                      <td><p>反弹</p></td>
                      <td><p>10分钟前</p></td>
                      <td class="down2"><%= image_tag "new/jiaoyi/jiaoyi1_61.gif" %>  </td>
                    </tr>
                  </tbody></table>
                </div>
          <a target="blank" href="/SignalClassic">
            <input type="button" class="btn03" value="免费信号获取" name="input">
          </a>
          <a target="blank" href="/SignalRss">
            <input type="button" class="btn04" value="免费行情订阅" name="input">
          </a>
        </div>

      </div>
      </div>
    </div>
    <div style="margin:auto;width:1100px;"><iframe src="/info/templets/default/sjsc.htm" width="1100" height="457" style="border: none;" scrolling="no" id="demo_trading"></iframe></div>
    <div class="jingguo">
        <p>二元期权体验更多</p>
      <a href="/agent/product"><div class="frame">
        <div class="wrap">
          <%=image_tag "new/yjjg_03.gif", alt:"" %>
          <div>
            <b></b>
            <span>
            <h1>代理扶持</h1>
            <p>全天候一对一个性化支持实时查看发展客户的情况稳定快速的佣金结算周期</p>

            </span>
          </div>
        </div> <!-- end wrap -->
      </div></a>

      <a href="/nfo/a/zhanghuzijin/cunkuanshuoming/"><div class="frame">
        <div class="wrap">
          <%=image_tag "new/yjjg_04.gif", alt:"" %>
          <div>
            <b></b>
            <span>
            <h1>存取快捷</h1>
            <p>存款5-10分钟即可入账取款1 - 2小时达到账户5 X 24 小时财务支持</p>

            </span>
          </div>
        </div> <!-- end wrap -->
      </div></a>

      <a href="/info/a/zhanghuzijin/zijinanquan/"><div class="frame">
        <div class="wrap">
          <%=image_tag "new/yjjg_05.gif", alt:"" %>
          <div>
            <b></b>
            <span>
            <h1>资金安全</h1>
            <p>客户资金由第三方托管与公司运营资金进行剥离世界级银行提供安全保障</p>

            </span>
          </div>
        </div>
      </div></a>

      <a href="/info/a/xieyizhengce/fengxianpilu/"><div class="frame">
        <div class="wrap">
          <%=image_tag "new/yjjg_06.gif", alt:"" %>
          <div>
            <b></b>
            <span>
            <h1>风险保障</h1>
            <p>客户经理一对一贴心跟进金融分析师犀利分析推送每天在线研讨会行情喊单</p>

            </span>
          </div>
        </div></a>

    </div>
    <div style="clear:both;padding-top:30px;"></div>

    <div style="clear:both;padding-top:30px;"></div>
    <div class="zsgg1">
      <%= link_to agent_root_path do %>
         <p class="zsggnei">加盟代理</p>
      <% end %>
        <a href="/info/a/zaixianbangzhu/lianxiwomen_/"><p>招商QQ</p></a>
    </div>
    <div style="clear:both;padding-top:30px;"></div>

  </div>
</div>
<%= render 'pages/registry' %>
