<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<title>
  <% if content_for? :title %>
    <%= yield :title %> :   <%= t('my.site.name') %>
  <% else %>
    <%= t(controller.controller_name, default: controller.controller_name.titleize) %>:
    <%= t('my.site.name') %>
  <% end %>
</title>

<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Better" %>">
<%= stylesheet_link_tag 'my.mobile', media: 'all' %>
<%= javascript_include_tag 'my.mobile' %>
<%= javascript_include_tag 'jquery.qrcode.min' %>
<%= favicon_link_tag %>
<%= csrf_meta_tags %>
<% # This line ensures javascript code can access the current locale from Rails %>
<script type="text/javascript">
  Better.user_number = '<%= current_seller.try(:number) %>';
</script>
