<%=form_tag batch_pass_admin_drawings_path, method: :put do%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>会员名</th>
      <th>提现日期</th>
      <th>交易号码</th>
      <th>提款方式</th>
      <th>提现全额(RMB)</th>
      <%if check == true%>
        <th>提现详情</th>
        <th><%=submit_tag "通过", class: "btn btn-primary btn_xs"%></th>
        <th><%=submit_tag "拒绝", class: "btn btn-primary btn_xs", formaction: batch_deny_admin_drawings_path(page: @page)%></th>
        <th></th>
        <th><%= check_box_tag "selectall", 1, false %></th>
      <% else %>
        <th>提现状态</th>
        <th>审核人</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% if @drawings.empty? %>
      <%colspan = check == true ? 9 : 6%>
      <tr>
        <td colspan="<%= colspan %>">暂无提现记录</td>
      <tr>
    <% else %>
      <%total_amount = 0%>
      <% @drawings.each do |drawing| %>
        <tr>
          <td><%= drawing.user.real_name %></td>
          <td><%= drawing.display_created_at %></td>
          <td><%= drawing.number %></td>
          <td><%= drawing.user_bank_name %></td>
          <td><%= drawing.display_amount %></td>
          <%if check == true%>
            <td><%= link_to "提现详情", admin_drawing_path(drawing.id, page: @page), method: :get %></td>
            <td><%= link_to_if drawing.pending?, "通过", pass_admin_drawing_path(drawing.id, page: @page), method: :put %></td>
            <td><%= link_to_if drawing.pending?, "拒绝", deny_admin_drawing_path(drawing.id, page: @page), method: :put %></td>
            <td><%= link_to_if drawing.checked?, "划款", trans_admin_drawing_path(drawing.id, page: @page), method: :put %></td>
            <td><%= check_box_tag "selected_drawings[]", drawing.id, false, class: "selectedId" %></td>
          <% else %>
            <td><%=t drawing.state %></td>
            <td><%= drawing.administrator.name if drawing.administrator.present? %></td>
          <% end %>
        </tr>
        <%total_amount += drawing.amount%>
      <% end %>
    <% end %>
  </tbody>
</table>
<p >提款记录总额：<b><%=display_money(total_amount)%></b></p>

<%end%>
