<%= simple_form_for(@bid) do |f| %>
  <%#= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :game_round %>
    <%= f.association :user %>
    <%= f.input :amount %>
    <%= f.input :rate %>
    <%= f.input :state %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
