<% platform ||= "my"%>
<% th_class = platform == "my" ? "xsjg1" : ""%>
<% tr_class = platform == "my" ? "xsjg2" : ""%>
<% p_class = platform == "my" ? "czjlll" : ""%>
<% t_class = platform == "my" ? "" : "table table-striped"%>
<table class="table biaoge <%=t_class%>">
  <thead>
    <tr class="<%=th_class%>">
      <th>ID</th>
      <th>日期/时间(GMT+8)</th>
      <th>资产</th>
      <th>投注全额(RMB)</th>
      <th>输赢全额(RMB)</th>
    </tr>
  </thead>

  <tbody>
    <% if @bids.empty? %>
      <tr class="<%=tr_class%>">
        <td colspan="5">暂无记录</td>
      <tr>
    <% else %>
      <% @bids.each do |bid| %>
        <tr class="<%=tr_class%>">
          <td><%= bid.created_at.to_i %></td>
          <td><%= bid.display_created_at %></td>
          <td><%= bid.game_round.game_instrument.name %></td>
          <td><%= bid.display_amount %></td>
          <td><%= bid.display_net_amount %></td>
        </tr>
      <% end %>
    <% end %>

  </tbody>
</table>
<p class="<%=p_class%>">投注记录总额：<b><%=display_money(@bid_sum)%></b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp输赢记录总额：<b><%=display_money(@net_sum)%></b></p>
<%= will_paginate @bids if @bids.respond_to? :total_pages %>
