<%
@start_date ||= ""
@end_date ||= ""
@platform ||= "1"
%>
<div class="">
  <%=form_tag search_my_bids_path do%>
    <%=text_span "起始日期"%><%=calendar "start_date", @start_date%><%=text_span "到"%><%=calendar "end_date", @end_date%>
    <%=text_span "平台"%><%=bid_platform_select "game_id", @platform%>
    <%=content_tag(:div, submit_tag("查询",  class:"form-control"), style:'width:100px;float:left;margin:5px;')%>
  <%end%>
</div>
<div style="float:left">根据第三方平台限制，投注记录查询存在延迟</div>

<div id="bid_records" style="padding-top:20px;">
  <%= render partial: "records" %>
</div>
<script type="text/javascript">
  $(function () {
    $('.calendar').datetimepicker({format: "YYYY-MM-DD"});
  });
</script>
