<%
@start_date ||= ""
@end_date ||= ""
@platform ||= "1"
%>

<%=form_tag search_my_bids_path, method:"get", class:"form-inline", role:"form" do%>
  <div class="form-group">
    <label for="start_date">起始日期</label>
    <%=calendar "start_date", @start_date%>
  </div>
  <div class="form-group">
    <label for="end_date">到</label>
    <%=calendar "end_date", @end_date%>
  </div>
  <div class="form-group">
    <label for="game_id">平台</label>
    <%=bid_platform_select "game_id", @platform%>
  </div>
  <div class="form-group">
    <%=submit_tag "查询", class:"form-control richa", src:"new/noimages/tbqw_07.gif" %>
  </div>

<%end%>

<div class="xianshijieguo">
  <%= render partial: "records" %>
</div>
