<% if @bid.errors.empty? %>
<h3>交易详情</h3>
<div  class="b-bid-countdown-<%=@bid.id.to_i%>"><%= @bid.game_round.instrument_code %> - 投资：<%= @bid.amount %></div>
<div>如果关闭时为价内期权 <%= @bid.highlow == 1 ? "高于" : "低于" %> <br/>
 <span> <%= @bid.last_quote %> </span>
</div>
<hr>
<div> 到期时间:  <%= @bid.game_round.display_end_at %> <span></div>
<div> 目前状态:  <span id="bid_status"></span><br/>
  <%#= @bid.human_state %>
  交易倒计时：<span id="bid_countdown_<%=@bid.id%>"></span>
</div>
<% else %>
<h3>交易详情</h3>

<h4>
  <%= @bid.errors.full_messages %>
</h4>

<%end %>
