//交易id	交易时间	到期时间	资产	当期价格	投资	收益	状态
if( $(".forex-adv").is("*")){
    if( $("body.mobile .forex-adv").is("*")){
      $("#simplemodal").html(<%== ( render :partial => "show",:formats=>[:html] ).to_json %>)

      $('#simplemodal').simplemodal(
        {
          closeHTML: '<a class="modalCloseImg" title="Close"><i class="fa fa-close"></i></a>',
          minHeight:240,
          minWidth: 240,
          overlayCss: { backgroundColor: '#000000', opacity: 0.5 },
          containerCss: { width: '240px', height: '240px', padding: '16px 24px', borderRadius: '10px', backgroundColor: '#FFFFFF',
            border: "1px solid #999" }}
      )
    }else{
      var r = "<tr><td><%= @bid.id%> </td><td><%= @bid.created_at %></td> \
      <td><%= @bid.game_round.end_at %> </td>\
      <td><%= @bid.game_round.instrument_code %></td><td><%= @bid.game_round.instrument_quote %></td> \
      <td><%= @bid.amount %></td> <td><%= @bid.profit %></td> <td><%= @bid.state %></td> </tr>\
      "
      $("table.b-bids tbody").prepend(r);
    }

}else {
  $("#simplemodal").html(<%== ( render :partial => "show",:formats=>[:html] ).to_json %>)

  $('#simplemodal').simplemodal(
    {
      closeHTML: '<a class="modalCloseImg" title="Close"><i class="fa fa-close"></i></a>',
      minHeight:240,
      minWidth: 360,
      overlayCss: { backgroundColor: '#000000', opacity: 0.5 },
      containerCss: { width: '320px', height: '240px', padding: '16px 24px', borderRadius: '10px', backgroundColor: '#FFFFFF',
        border: "1px solid #999" }}
  )

}
