//交易id	交易时间	到期时间	资产	当期价格	投资	收益	状态
<% if @bid.state != "pending" %>
//update
  var result = "本轮结束， 收益：<%=@bid.profit%>";
  $('.modalCloseImg').click();
  $(".bid_result").html(result);
<%else%>
// since we use jquery.countdown, it require a html element to store data,
// the element should be exist before run countdown,
// so render to a string and show in model may cause above break.
// var info = " ( render :partial => 'show',:formats=>[:html] ).to_json ";

var options = {
  closeHTML: '<a class="modalCloseImg" title="Close" style="float:right;"><i class="fa fa-close"></i></a>',
  minHeight:240,
  minWidth: 240,
  overlayCss: { backgroundColor: '#000000', opacity: 0.5 },
  containerCss: { width: '240px', height: '250px', padding: '16px 24px', borderRadius: '10px', backgroundColor: '#FFFFFF',
    border: "1px solid #999" }
}
// for unkonw reason, Utils.countdown is not accurate, little faster than normal, use jquery.countdown instead

if( $(".forex-adv").is("*")){
    if( $("body.mobile .forex-adv").is("*")){
      $("#simplemodal").html(<%== ( render :partial => "show",:formats=>[:html] ).to_json %>)
      $('#simplemodal').simplemodal(options);

      var time_from= <%=Time.now.to_i%>;
      var time_to = <%=@bid.game_round.end_at.to_i %>;

      $(".b-bid-countdown-<%=@bid.id.to_i%>").countdown( moment.unix( time_from ).toDate(),moment.unix( time_to ).toDate(), function(event){
        switch(event.type) {
         case "days":
           break;
         case "hours":
           break;
         case "minutes":
           break;
         case "seconds":
           var first_quote = <%=@bid.last_quote%>;
           var last_quote = $(".b-instrument-last-quote").first().html();
           var highlow = $("input[name='bid[highlow]']").val();
           var hight_win = (parseInt(last_quote) - first_quote > 0 && parseInt(highlow) == 1);
           var low_win = (parseInt(last_quote) - first_quote < 0 && parseInt(highlow) == 0);
           if(hight_win || low_win){
             var status = "价内期权";
           }else{
             var status = "价外期权";
           }
           $("#bid_status").html(status);
           var seconds =  event.lasting.seconds +  event.lasting.minutes*60+  event.lasting.hours*3600

           var time_left = moment.unix( seconds );
           $("#bid_countdown_<%=@bid.id%>").html(time_left.format("mm:ss"));
           break;
         case "finished":
           //var game = Game.current( $(".forex-wrapper") );
           var last_quote = $(".b-instrument-last-quote").first().html();
           var bid_id = <%=@bid.id ? @bid.id : 0%>
           <% if @bid.persisted? %>
             var url ='/my/bids/<%=@bid.id%>';
           <%else%>
             var url ='/my/bids/simulate_update';
           <%end%>
           setTimeout(function(){
             $.ajax({url: url,
               type:'PUT',
               data:{
                 quote: last_quote
               }
             })
           },1500);
            break;
        }
      });

      var bid = new Utils.countdown({
          seconds: parseInt(<%=(@bid.game_round.end_at-Time.now)%>),
        //seconds: parseInt(10),
          onUpdateStatus: function(l) {
            var first_quote = <%=@bid.last_quote%>;
            var last_quote = $(".b-instrument-last-quote").first().html();
            var highlow = $("input[name='bid[highlow]']").val();
            var hight_win = (parseInt(last_quote) - first_quote > 0 && parseInt(highlow) == 1);
            var low_win = (parseInt(last_quote) - first_quote < 0 && parseInt(highlow) == 0);
            if(hight_win || low_win){
              var status = "价内期权";
            }else{
              var status = "价外期权";
            }
            $("#bid_status").html(status);
            var time_left = moment.unix( l );
            $("#bid_countdown_<%=@bid.id%>").html(time_left.format("mm:ss"));
          },
          onCounterEnd: function() {
            //var game = Game.current( $(".forex-wrapper") );
            var last_quote = $(".b-instrument-last-quote").first().html();
            var bid_id = <%=@bid.id ? @bid.id : 0%>
            <% if @bid.persisted? %>
              var url ='/my/bids/<%=@bid.id%>';
            <%else%>
              var url ='/my/bids/simulate_update';
            <%end%>
            $.ajax({url: url,
              type:'PUT',
              data:{
                quote: last_quote
              }
            })
          }
      });
      //bid.start()
    }else{
      var r = "<tr><td><%= @bid.id%> </td><td><%= @bid.display_created_at %></td> \
      <td><%= @bid.game_round.display_end_at %> </td>\
      <td><%= @bid.game_round.instrument_code %></td><td><%= @bid.game_round.instrument_quote %></td> \
      <td><%= @bid.amount %></td> <td><%= @bid.profit %></td> <td><%= @bid.state %></td> </tr>\
      "
      $("table.b-bids tbody").prepend(r);
    }

}else {


  $("#simplemodal").html(<%== ( render :partial => "show",:formats=>[:html] ).to_json %>)

  $('#simplemodal').simplemodal(
    {
      closeHTML: '<a class="modalCloseImg" title="Close"><i class="fa fa-close"></i></a>',
      minHeight:240,
      minWidth: 360,
      overlayCss: { backgroundColor: '#000000', opacity: 0.5 },
      containerCss: { width: '320px', height: '240px', padding: '16px 24px', borderRadius: '10px', backgroundColor: '#FFFFFF',
        border: "1px solid #999" }}
  )
  var time_from= <%=Time.now.to_i%>;
  var time_to = <%=@bid.game_round.end_at.to_i %>;
  $(".b-bid-countdown-<%=@bid.id.to_i%>").countdown( moment.unix( time_from ).toDate(),moment.unix( time_to ).toDate(), function(event){

     switch(event.type) {
      case "days":
        break;
      case "hours":
        break;
      case "minutes":
        break;
      case "seconds":
        var first_quote = <%=@bid.last_quote%>;
        var last_quote = $(".b-instrument-last-quote").first().html();
        var highlow = $("input[name='bid[highlow]']").val();
        var hight_win = (parseInt(last_quote) - first_quote > 0 && parseInt(highlow) == 1);
        var low_win = (parseInt(last_quote) - first_quote < 0 && parseInt(highlow) == 0);
        if(hight_win || low_win){
          var status = "价内期权";
        }else{
          var status = "价外期权";
        }
        $("#bid_status").html(status);
        //console.log( "%s,%s,%s", event.lasting.seconds ,  event.lasting.minutes*60,  event.lasting.hours*3600 );
        var seconds =  event.lasting.seconds +  event.lasting.minutes*60+  event.lasting.hours*3600
        var time_left = moment.unix(seconds);
        $("#bid_countdown_<%=@bid.id%>").html(time_left.format("mm:ss"));
        break;
      case "finished":
        var last_quote = $(".b-instrument-last-quote").first().html();
        var bid_id = <%=@bid.id ? @bid.id : 0%>
        <% if @bid.persisted? %>
          var url ='/my/bids/<%=@bid.id%>';
        <%else%>
          var url ='/my/bids/simulate_update';
        <%end%>
        // give server time to close game_round
        setTimeout(function(){
          $.ajax({url: url,
            type:'PUT',
            data:{
              quote: last_quote
            }
          })
        },2000);

        break;
    }
  });


  $.simplemodal(info.substring(6,info.length-6), options);

}
<%end%>
