<% content_for :page_title  do %>
  <p class="fanhui"> <%= fa_icon "angle-left" %></p>
  <p class="iphonelan">日推广效果表</p>
<% end %>

<div class="dailiright_down">

  <table class="biaoge table">
    <thead>
      <tr>
        <th>会员</th>
        <th style="display:none;">推广链接点击数</th>
        <th>注册数</th>
        <th>新注册并存款</th>
        <th style="display:none;">注册存款转化率</th>
        <th>详情</th>
      </tr>
    </thead>

    <tbody>
      <% @sale_days.each do |sale_day|%>
        <tr id="sd<%= sale_day.seller.id %>">
          <td><%= sale_day.seller_name %></td>
          <td style="display:none;"><%= sale_day.clink_visits %></td>
          <td><%= sale_day.member_count %></td>
          <td><%= sale_day.valuable_member_count %></td>
          <td style="display:none;"><%= sale_day.display_valuable_rate %></td>
          <td><%=link_to "详情", nil, href:"#", onclick: "bigger('sd#{sale_day.seller.id}');" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @children_brokers  if @children_brokers.respond_to? :total_pages%>
</div>
<div id="shougerenb" style="display:none;">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr><td class="ipming">会员</td><td class="ipnei"></td></tr>
    <tr><td class="ipming">推广链接点击数</td><td class="ipnei"></td></tr>
    <tr><td class="ipming">注册数</td><td class="ipnei"></td></tr>
    <tr><td class="ipming">新注册并存款</td><td class="ipnei"></td></tr>
    <tr><td class="ipming">注册存款转化率</td><td class="ipnei"></td></tr>
  </table>
</div>
