<div class="dailiright_top">
  <%=image_tag "new/dailiimg/biaoge_21.gif", class:"biaoimg" %>
  <div class="biaotou">
    <h1>日推广效果表</h1>
    <p>显示您每日的推广注册效果</p>
  </div>
</div>
<div class="dailiright_down">
  <%= render partial: "agent/shared/date_filter_and_export_excel", locals: {thispath: agent_sale_days_path} %>

  <table class="biaoge">
    <thead>
      <tr>
        <th>日期</th>
        <th>推广链接点击数</th>
        <th>注册数</th>
        <th>新注册并存款</th>
        <th>注册存款转化率</th>
      </tr>
    </thead>

    <tbody>
      <% @dates.each do |date| sale_day  = @sale_days.select{|day| day.effective_on == date}.first || SaleDay.new( effective_on: date ) %>
        <tr>
          <td><%= sale_day.effective_on %></td>
          <td><%= sale_day.clink_visits %></td>
          <td><%= sale_day.member_count %></td>
          <td><%= sale_day.valuable_member_count %></td>
          <td><%= sale_day.display_valuable_rate %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @dates %>
</div>
