<%
  @end_date ||= ""
  @end_time ||= ""
%>
<div class="lishibaojiabody">
  <div class="lishibodynei">
    <div class="lishichaxun">
      <%=form_tag game_rounds_path, method:"get", class:"form-inline", role:"form" do%>
        <div class="form-group">
          <label for="end_date">日期:</label>
          <%=calendar "end_date", @end_date%>
        </div>
        <div class="form-group">
          <label for="end_time">时间:</label>
          <%=calendar "end_time", @end_time, "time_calendar"%>
        </div>
        <div class="form-group">
          <%=submit_tag "查询", class:"form-control cxx" %>
        </div>

      <%end%>
    </div>
    <div class="lsnei">
      <%= render partial: "records" %>
    </div>
  </div>
</div>
