<div class="dailiright_top">
  <%=image_tag "new/dailiimg/biaoge_21.gif", class:"biaoimg" %>
  <div class="biaotou">
    <h1>月盈利表</h1>
    <p>显示各月份下线会员所创造的盈利</p>
  </div>
</div>
<div class="dailiright_down">
  <%= render partial: "agent/shared/date_filter_and_export_excel", locals: {thispath: profit_agent_broker_months_path} %>
  <table class="biaoge">
    <thead>
      <tr>
        <th>月份</th>
        <th>活跃人数</th>
        <th>存款(人数)</th>
        <th>提款(人数)</th>
        <th>投注</th>
        <th>投注补差</th>
        <th>输赢</th>
        <th>输赢补差</th>
        <th>红利</th>
        <th>盈利</th>
      </tr>
    </thead>

    <tbody>
      <% @dates.each do |date| monthly_profit  = @monthly_profits.select{|month| month.effective_on == date}.first || Summary::BrokerMonthlyProfit.new( date ) %>
        <tr>
          <td><%= monthly_profit.effective_on.to_s(:year_month)  %></td>
          <td><%= 0 %></td>
          <td><%= monthly_profit.display_deposit_amount %>(<%= monthly_profit.deposit_member_count %>)</td>
          <td><%= monthly_profit.display_drawing_amount %>(<%= monthly_profit.drawing_member_count %>)</td>
          <td><%= monthly_profit.display_bid_amount %></td>
          <td><%= monthly_profit.display_bid_difference %></td>
          <td><%= monthly_profit.display_net %></td>
          <td><%= monthly_profit.display_net_difference %></td>
          <td><%= monthly_profit.display_bonus %></td>
          <td><%= monthly_profit.display_profit %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <%= will_paginate @dates %>
</div>
