<div> <h2 class="page-header">日盈利表  <small>显示各代理下线会员创造的日度盈利 </small> </h2></div>
<p id="notice"><%= notice %></p>
<%= render partial: "agent/shared/subbroker_filter_and_export_excel", locals: {thispath: children_profit_agent_broker_days_path} %>

<table class="table">
  <thead>
    <tr>
      <th>会员</th>
      <th>注册时间</th>
      <th>状态</th>
      <th>活跃人数</th>
      <th>存款(人数)</th>
      <th>提款(人数)</th>
      <th>投注</th>
      <th>输赢</th>
      <th>红利</th>
      <th>盈利</th>
    </tr>
  </thead>

  <tbody>
    <% @day_profits.each do |day_profit| %>
      <tr>
        <td><%= day_profit.broker_name %></td>
        <td><%= day_profit.sign_up_time %></td>
        <td><%= day_profit.state %></td>
        <td><%= 0 %></td>
        <td><%= day_profit.deposit_amount %>(<%= day_profit.deposit_member_count %>)</td>
        <td><%= day_profit.drawing_amount %>(<%= day_profit.drawing_member_count %>)</td>
        <td><%= day_profit.bid_amount %></td>
        <td><%= day_profit.net %></td>
        <td><%= day_profit.bonus %></td>
        <td><%= day_profit.profit %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= will_paginate @children_brokers  if @children_brokers.respond_to? :total_pages %>
