<div> <h2 class="page-header">日推广效果表  <small>显示您每日的推广注册效果 </small> </h2></div>
<p id="notice"><%= notice %></p>
<%= render partial: "agent/shared/broker_day_filters" %>

<table class="table">
  <thead>
    <tr>
      <th>日期</th>
      <th>推广链接点击数</th>
      <th>注册数</th>
      <th>新注册并存款</th>
      <th>注册存款转化率</th>
    </tr>
  </thead>

  <tbody>
    <% @dates.each do |date| broker_day  = @broker_days.select{|day| day.effective_on == date}.first || BrokerDay.new( effective_on: date ) %>
      <tr>
        <td><%= broker_day.effective_on %></td>
        <td><%= broker_day.clink_visits %></td>
        <td><%= broker_day.member_count %></td>
        <td><%= broker_day.valuable_member_count %></td>
        <td><%= broker_day.display_valuable_rate %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Broker Day', new_agent_broker_day_path %>
