  <div class="dailiright_top">
    <div class="biaotou">
      <h3>月推广效果表<small>显示各代理的月度推广注册效果</small></h3>

    </div>
  </div>
  <div class="dailiright_down">

    <table class="biaoge table">
      <thead>
        <tr>
          <th>会员</th>
          <th>上级</th>
          <th>点击数</th>
          <th>注册数</th>
          <th>新注册并存款</th>
          <th>注册存款转化率</th>
        </tr>
      </thead>

      <tbody>
        <% @sale_months.each do |sale_month|%>
          <tr>
            <td><%= sale_month.seller_name %></td>
            <td><%= sale_month.seller_parent_name %></td>
            <td><%= sale_month.clink_visits %></td>
            <td><%= sale_month.member_count %></td>
            <td><%= sale_month.valuable_member_count %></td>
            <td><%= sale_month.display_valuable_rate %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @children_brokers  if @children_brokers.respond_to? :total_pages %>
  </div>
