<% content_for :page_title  do %>
  <p class="fanhui"> <%= fa_icon "angle-left" %></p>
  <p class="iphonelan">月盈利表</p>
<% end %>

<div class="dailiright_down">
   <table class="biaoge  table">
    <thead>
      <tr>
        <th>会员</th>
        <th style="display:none;">活跃人数</th>
        <th style="display:none;">存款(人数)</th>
        <th style="display:none;">提款(人数)</th>
        <th>投注</th>
        <th style="display:none;">投注补差</th>
        <th style="display:none;">输赢</th>
        <th style="display:none;">输赢补差</th>
        <th>红利</th>
        <th style="display:none;">盈利</th>
        <th>详情</th>
      </tr>
    </thead>

    <tbody>
      <% @month_profits.each do |month_profit| %>
        <tr id="mp<%= month_profit.seller.seller.id %>">
          <td><%= month_profit.seller_name %></td>
          <td style="display:none;"><%= 0 %></td>
          <td style="display:none;"><%= month_profit.display_deposit_amount %>(<%= month_profit.deposit_member_count %>)</td>
          <td style="display:none;"><%= month_profit.display_drawing_amount %>(<%= month_profit.drawing_member_count %>)</td>
          <td><%= month_profit.display_bid_amount %></td>
          <td style="display:none;"><%= month_profit.display_bid_difference %></td>
          <td style="display:none;"><%= month_profit.display_net %></td>
          <td style="display:none;"><%= month_profit.display_net_difference %></td>
          <td><%= month_profit.display_bonus %></td>
          <td style="display:none;"><%= month_profit.display_profit %></td>
          <td><%=link_to "详情", nil, href:"#", onclick: "bigger('mp#{month_profit.seller.seller.id}');" %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <%= will_paginate @children_brokers  if @children_brokers.respond_to? :total_pages %>
</div>

<div id="shougerenb" style="display:none;">
	<table border="0" cellpadding="0" cellspacing="0">
    <tr><td class="ipming">会员</td><td class="ipnei"></td></tr>
    <tr><td class="ipming">活跃人数</td><td class="ipnei"></td></tr>
    <tr><td class="ipming">存款(人数)</td><td class="ipnei"></td></tr>
    <tr><td class="ipming">提款(人数)</td><td class="ipnei"></td></tr>
    <tr><td class="ipming">投注</td><td class="ipnei"></td></tr>
    <tr><td class="ipming">投注补差</td><td class="ipnei"></td></tr>
    <tr><td class="ipming">输赢</td><td class="ipnei"></td></tr>
    <tr><td class="ipming">输赢补差</td><td class="ipnei"></td></tr>
    <tr><td class="ipming">红利</td><td class="ipnei"></td></tr>
    <tr><td class="ipming">盈利</td><td class="ipnei"></td></tr>
	</table>
</div>
