<% content_for :page_title  do %>
  <p class="fanhui"> <%= fa_icon "angle-left" %></p>
  <p class="iphonelan">月推广效果表</p>
<% end %>

<div class="dailiright_top">
  <div class="biaotou">
    <small>显示您各月份的推广注册效果</small>
  </div>
</div>
<div class="dailiright_down">
  <table class="biaoge table">
    <thead>
      <tr>
        <th>月份</th>
        <th>点击数</th>
        <th>注册数</th>
        <th>新注册并存款</th>
        <th>注册存款转化率</th>
        <th>放大</th>
      </tr>
    </thead>

    <tbody>
      <% @dates.each do |date| sale_month  = @sale_months.select{|month| month.effective_on == date}.first || SaleMonth.new( effective_on: date ) %>
        <tr id="<%= sale_month.effective_on.to_s(:year_month) %>">
          <td><%= sale_month.effective_on.to_s(:year_month) %></td>
          <td><%= sale_month.clink_visits %></td>
          <td><%= sale_month.member_count %></td>
          <td><%= sale_month.valuable_member_count %></td>
          <td><%= sale_month.display_valuable_rate %></td>
          <td><%=link_to "放大", nil, href:"#", onclick: "bigger('#{sale_month.effective_on.to_s(:year_month)}');" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @dates %>
</div>

<div id="shougerenb" style="display:none;">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr><td class="ipming">月份</td><td class="ipnei"></td></tr>
    <tr><td class="ipming">点击数</td><td class="ipnei"></td></tr>
    <tr><td class="ipming">注册数</td><td class="ipnei"></td></tr>
    <tr><td class="ipming">新注册并存款</td><td class="ipnei"></td></tr>
    <tr><td class="ipming">注册存款转化率</td><td class="ipnei"></td></tr>
  </table>
</div>
