<% content_for :page_title do %>
  <%= link_to "系统通知", admin_messages_url %> /
   通知详情
<% end %>
<div>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>主题</td>
        <td><%= @message.title %></td>
      </tr>
      <tr>
        <td>创建时间</td>
        <td><%= @message.display_created_at %></td>
      </tr>
      <tr>
        <td>内容</td>
        <td><%= @message.content %></td>
      </tr>
      <tr>
        <td>通知类型</td>
        <td><%=t @message.message_type %></td>
      </tr>
      <tr>
        <td>发送状态</td>
        <td><%=t @message.state %></td>
      </tr>
    </tbody>
  </table>
</div>
