
<%= render partial: "users/profile" %>

<div class="row">

  <%= render partial: "shared/user_sidebar" %>
  <div id="change_passward" class="col-md-9 user-content" >
    <%=link_to "Login Password", {}, :href=>"#",:onclick=>"$('#login_password').show();$('#money_password').hide();"%>
    <%=link_to "Money Password", {}, :href=>"#",:onclick=>"$('#login_password').hide();$('#money_password').show();"%>
    <%= form_for(current_user,:url=>{:action=>"change_password"}) do |f| %>
      <div id="login_password" class="field">
        <div class="field">
          <%= f.label :current_password %><br />
          <%= f.password_field :current_password, :autocomplete => "off"  %>
        </div>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, :autocomplete => "off"  %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %>
        </div>
        <div class="action_container">
          <%= f.submit %>
        </div>
      </div>

    <% end %>
    <%= form_for(current_user, :url=>{:action=>"change_password"}) do |f| %>
      <div id="money_password" class="field" style="display:none;">
        <div class="field">
          <%= f.label :current_password %><br />
          <%= f.password_field :current_money_password, :autocomplete => "off"  %>
        </div>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :money_password, :autocomplete => "off"  %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :money_password_confirmation %>
        </div>
        <div class="action_container">
          <%= f.submit %>
        </div>
      </div>
    <% end %>
  </div>
</div>
