
<%= render partial: "users/profile" %>

<div class="row">

  <%= render partial: "shared/user_sidebar" %>
  <div id="set_password_protection" class="col-md-9 user-content" >
    <%= form_for(current_user, :url=>{:action=>"set_password_protection"}) do |f| %>
      <div id="user_password_protection" class="field">
        <div class="field">
          <%= f.label :current_password %><br />
          <%= f.password_field :current_password, :autocomplete => "off"  %>
        </div>
        <div class="field">
          <%= f.label :pp_question, "Question" %><br />
          <%= f.text_field :pp_question %>
        </div>
        <div class="field">
          <%= f.label :pp_answer, "Answer" %><br />
          <%= f.text_field :pp_answer %>
        </div>
        <div class="action_container">
          <%= f.submit %>
        </div>
      </div>

    <% end %>

  </div>
</div>
