<div class="sign" style="">
  <%@user||=User.new%>
  <%= simple_form_for(@user, :url => user_registration_path, remote:true,
  :html => { :id=>"sign_up_form", :role => 'form', :class=>"sign_box", style:"width:100%"},
  defaults: { wrapper_html:{style:"float:left;margin:5px 30px 5px 0;width:295px;"},
  input_html:{style:"border-radius: 0px;border:0;box-shadow:0 0;margin:0;"}}) do |f| %>
    <div style="width:688px;float:left;">
      <%=f.input "first_name", label: false, placeholder: "名", input_html: {class: "in01"},
      wrapper_html:{style:"float:left;margin:5px 5px 5px 0;width:145px;"} %>
      <%=f.input "last_name", label: false, placeholder: "姓", input_html: {class: "in01"}, wrapper_html:{style:"float:left;margin:5px 30px 5px 0;width:145px;"} %>
      <%=f.input "email", label: false, placeholder: "电子邮箱", input_html: {class: "in02"}  %>
      <%=f.input "qq", label: false, placeholder: "QQ", input_html: {class: "in04  notx"}  %>
      <input name="countryDialCode" value="+86" id="reg-area-code" class="in05" type="text" style="margin:5px 0;">
      <%=f.input "phone", label: false, placeholder: "电话", input_html: {id:'phone',class: "in06"}, wrapper_html:{style:"float:left;margin:5px 30px 5px 0;width:245px;"} %>
      <%=f.input "password", label: false, placeholder: "密码", input_html: {class: "in03"}  %>
      <%= f.input :validate_code, label: false, placeholder: "验证码", input_html: {class: "in07"}, wrapper_html:{style:"float:left;margin:5px 5px 5px 0;width:190px;"} %>
      <input id="landing" name="landing" value="" readonly="readonly" type="hidden">
      <input id="obtainVerifyCode" value="获取验证码" class="btn01 obtainVerifyCode" style="height:36px;float:left;margin:5px 30px 5px 0;" type="button">
      <%=hidden_field_tag :send_code, "0" %>
    </div>
    <style>
        .black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 4081px;
            background-color: black;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=88);
        }
        .white_content {
            display: none;
            position: absolute;
            top: 15%;
            left: 25%;
            width: 55%;
            height: 1200px;
            padding: 20px;
            border-top: 10px solid #5292e2;
            background-color: white;
            z-index:1002;
            overflow: auto;
        }
        .white_content h1{
            float: left;
            margin-left: 43%;
            font-family: 微软雅黑;
            font-size: 30px;
            color: #000
        }
        .white_content p{
            clear: both;
            line-height: 40px;
            color: #333;
            padding-left: 50px;
            padding-right: 50px;
        }
        .white_content h3{
            padding-left: 50px;
            font-size: 20px;
            color: #000;
            padding-top: 20px;
        }
    </style>
    <div class="ce" style="margin-top:0;">
      <!--
      <div class="ce1" style="margin-left:10px;">
        <span><%=image_tag "new/sign-icon04.png" %>经纪人:</span>
        <label class="cho"><input name="affiliate" class="ch" value="1" type="radio" onclick="$('.in11').show()">有</label>
        <label class="cho"><input name="affiliate" checked="checked" class="ch" value="0" type="radio" onclick="$('.in11').hide()">无</label>
        <%=f.input "broker_number", label: false, placeholder: "经纪人编码", input_html: {class: "in11", style:"border-radius: 0px;border:0;box-shadow:0 0;width:120px;"}, wrapper_html:{style:"margin:5px 15px;width:120px;height: 48px;float:right"}  %>
      </div>
    -->
      <div style="clear:both"></div>
      <input name="reg-agreement" checked="checked" class="bo" id="reg-agreement" type="checkbox">
     我已阅读并同意
     <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">服务条款</a> 和
     <a href = "javascript:void(0)" onclick = "document.getElementById('light1').style.display='block';document.getElementById('fade').style.display='block'">隐私政策</a>
   </div>
   <div id="light" class="white_content">
            <h1>条款协议</h1><br>
            <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'" style="float:right;color:#333">点这里关闭本窗口</a>
            <p>条款协议书仅适用域名为（以下简称“我们的网站”）的网站上的服务，条款协议中的“我们”和“我们的”这些词意思是。使用的“您”和“您的”意思是使用此网站的任何用户。该协议由您和订立，如果您有任何问题，请立即在咨询我们在线客服或者通过发邮件至来联系我们。</p>
            <p>请在签署本协议前，小心阅读整份协议。注意：通过网上开户者勾选“我已阅读并同意《条款协议书》 ”， 您接受（但不限于）所有这些条款和条件，我们保留随时改变这些条款和条件的权利，会及时上载最新修订之协议内容，客户有必要自行查阅以保障知情权。</p>
            <p>通过使用我们的网站，您事先同意每次使用都受限于当时适用的条款和条件。通过使用并且进入我们的网站，需受限于以下这些条款和条件。您接受以下所列的条款和条件以及隐私权声明。如果你不同意这些政策，请立即停止使用该网站。</p>
            <h3>1.会员资格</h3>
            <p>服务方面保留给那些可以（根据其所在国家的适用法律）订立具有法律约束力的合同的个人或者企业。在不限制于以下所述条款的情况下，我们的服务不面向未满18周岁的人或者未达到法定年龄的人（“未成年人”）。</p>
            <p>如果您是未成年人，请您不要使用该网站。如果您不符合资格，请不要注册使用该网站。为了避免任何疑问，我们对未成年人以任何方式使用该网站或者其他未授权使用该网站这一事实不负有任何法律责任。此外，我们的网站只面对那些拥有金融经验和足够金融知识，并且能够通过网站评估获得融资合约所带来的利益和风险的人。</p>
            <p>您只需要对您的任何决定或者您在该网站交易平台所做出的任何决定负责。在不背离上述规定的情况下，我们对审计注册或者检查您金融知识水平或者投资经验不负有任何法律责任，并且对您因为使用该网站直接或者间接造成的任何利益损害/或者投资损失不负有任何法律责任。该规定适用于任何交易以及服务的使用。在不受限于上述规定的情况下，当使用人是非法时，我们的服务无法使用并且保留拒绝或者取消任何人使用该网站对其服务的权利。</p>
            <h3>2.记信息和要求</h3>
            <p>当登记时，您将要提供一定的识别信息。您将对您在 网站上的账户登录和密码安全负责。您只需对因您的任何行为或者疏忽（因不合适或者非法使用您账号造成的行为或者疏忽）而造成的任何损害负责。您同意在登记过程中提供准确的信息，有关您的准确并且完整的信息。并且您也同意不冒充其他人或者实体并且不对隐瞒您的身份（不管什么原因）。如果您作为商业实体登记，您应声明您有权使该实体受该协议的约束。根据在登记过程中的信息披露规定以及隐私权保护政策，将会认真对待您提供给我们的信息。</p>
            <h3>3.在线服务协议</h3>
            <p>《条款协议书》适用于我们的网站和交易平台，以及该网站提供的上百种可供选择的标的资产，如：股票、外汇、商品期货（黄金、原油、铜等等）、全球各国股指等。目前提供的电子内容/交易软件，以及通过网络，电话或者传真提供的外汇市场项目交易服务以及以后可能增加的任何其他产品特征，内容或者服务。</p>
            <h3>4.法律限制</h3>
            <p>在不受限于下述规定的情况下，您理解关于融资合约的法律在世界范围都不同，并且您有责任确保您适当地遵守您所在国家关于网站使用的任何法律，规定或者指导方针。为了避免任何疑惑，能够进入我们的网站并不意味着我们的服务以及/或者您在该网站的活动是合法的（根据您所在国家的法律，规定或者指令）。您在此声明您在账户上的钱并不是通过毒品走私，绑架或者其他非法或者犯罪活动获得的。</p>
        </div>

        <div id="light1" class="white_content">
            <h1>隐私政策</h1>
            <a href = "javascript:void(0)" onclick = "document.getElementById('light1').style.display='none';document.getElementById('fade').style.display='none'" style="float:right;color:#333">点这里关闭本窗口</a>
            <p>通过向我们提交信息和/或使用我们的网站，您将被视为同意您提交的所有信息，包括个人身份信息，可以被以本隐私政策所描述的方式或目的处理。如果您不同意遵守此隐私政策,则建议您请不要访问或使用本网站。为使您安心安全地享受本网站的各项服务，请您在必要的最小范围内提供您的个人信息。我们会尽勤勉和审慎义务对您提供的个人信息进行妥善的管理和保护。</p>
            <h3>收集用户的两类信息：</h3>
            <h3>一、与个人身份无关的信息：</h3>
            <p>当用户来到集团网站，我们收集和汇总诸如哪些网页受到了访问，访问的顺序，链接途径等信息。收集这些信息涉及到记录访问我们的每个用户的IP地址、操作平台、浏览器页面等。尽管这些信息无关个人身份，但我们能够通过其IP地址确定其使用的ISP和其上网的地理位置。这些无关个人身份的信息都帮助我们辩别我们网页最受欢迎的地区并确定我们推广活动的有效性。</p>
            <h3>二、有关个人身份的信息：</h3>
            <p>在集团网站的某些区域，比如在客户开户时，客户会被要求提供信息，集团网站收集这类关于个人身份的信息，主要是为了用户能够更容易和更满意地使用集团网站的交易。例如：评估您的财政需要、服务您的要求、协助您的交易、通知您关于最新的产品和服务、并且提供顾客服服务等。这些信息包括：</p>
            <p>1、 客户注册交易账户（如：姓名、国家、联系等）；</p>
            <p>2、 客户第一次取款审核信息（如：身份证正反面、银行持有人的匹配等）；</p>
            <p>3、 请求获取相关产品或者服务信息支持（如：接收方式等）；</p>
            <p>4、 参与官方支持的相关活动政策（如：赠送方式和联系方式等）；</p>
            <p>5、 订阅新闻稿、电子邮件、交易信号等产品和服务等（如：客户说明、接收方式等）；</p>
            <p>6、 联系我们（如：客户建议、联系方式等）。</p>
            <h3>信息安全方式：</h3>
            <p>承诺保护您的个人信息安全。我们使用加密、密码、物理安全等各种安全技术和过程来帮助保护您的个人信息，使其免遭未经授权的访问、使用和披露。如果使用密码来帮助保护您的帐户和个人信息，您需要自行承担密码保密的责任。请勿与任何人共享此信息。如果您是与其他人共享计算机，那么在离开某个站点或服务之前，始终都应该执行注销操作，以防止后面的用户访问您的信息。</p>
            <h3>Cookies</h3>
            <p>通过使用Cookies，集团网站向用户提供简单易行并富个性化的网络体验。一个Cookies是少量的数据，它们从一个网络服务器送至您的浏览器并存在计算机硬盘上。集团网站使用Cookies是为了让其用户受益。比如，为使得集团网站虚拟社区的登录过程更快捷，用户们可以选择把用户名和口令存在一个Cookies中。这样下次当用户要登录集团网站的服务时，只要点击一键就可以了。Cookies能帮助我们确定您连接的页面和内容，您在集团网站特定网页上花费的时间和您所选择的集团网站的服务。</p>
            <p>Cookies 还能告诉我们您在我们的网页上看到了哪些内容。总之，Cookies是放置在集团网站的计算机或服务器上的您的身份证。Cookies只能被设置它们的服务器阅读，而且不能执行任何代码或病毒。Cookies使得集团网站能更好、更快地为您服务，并且使您在集团网站网页上的经历更富个性化。</p>
            <p>然而，您应该能够控制Cookies是否以及怎样被你的浏览器接受。请查阅您的浏览器附带的文件以获得更多这方面的信息。简而言之，集团网站将Cookies当作一种便捷的体验，其作用是使得用户在从集团网站的一项服务转到另一项服务时，无须再证明自己的身份。</p>
            <h3>保护您的信息：</h3>
            <p>我们将保持合理的行政、物理和技术手段来保护您提交到网站或通过网站提交的信息的机密和安全。例如：当我们通过您在线购买时收集到信用卡信息，即会提供安全服务，加密您的运输中的信息以阻止别人拦截或滥用它。不幸的是，没有网站，服务器或数据库是绝对安全的或能绝对阻挡黑客。因此，我们不能保证您的个人身份信息因为意外或非法行为被泄露、滥用或丢失。</p>
        </div>

        <div id="fade" class="black_overlay"></div>
   <input name="input2" value="免费创建账户" class="btn02" id="reg-submit" type="submit">
 <%end%>
</div>
