<div class="col-md-2  user-sidebar">

	<div class="my-navs am-fl">
					<!-- ngRepeat: item in navs -->
					<div >
						<div class="my-navs-item-parent">
							<span ng-class="item.icon" class="icon my-icon-account"></span>
							<span  class="am-margin-left-sm name ">我的账户</span>
						</div>
						<%= build_user_nav_link "账户概况", {controller: 'my/account'} %>
						<%= build_user_nav_link "充值", {controller: 'my/deposits', action: 'new'} %>
						<%= build_user_nav_link "提现", {controller: 'my/drawings', action: 'new'} %>
						<%= build_user_nav_link "转账", {controller: 'my/transfers', action: 'new'} %>
					</div>
					<div >
						<div class="my-navs-item-parent">
							<span ng-class="item.icon" class="icon my-icon-detail"></span>
							<span  class="am-margin-left-sm name ">账户明细</span>
						</div>

						<%= build_user_nav_link "红利记录", {controller: 'my/wallets', action: 'bonuses'} %>
						<%= build_user_nav_link "投注记录", {controller: 'my/bids'} %>
						<%= build_user_nav_link "充值记录", {controller: 'my/deposits'} %>
						<%= build_user_nav_link "提款记录", {controller: 'my/drawings'} %>
						<%= build_user_nav_link "转账记录", {controller: 'my/transfers'} %>

					</div>
					<div >
						<div class="my-navs-item-parent">
							<span ng-class="item.icon" class="icon my-icon-safety"></span>
							<span  class="am-margin-left-sm name ">账户安全</span>
						</div>
						<%= build_user_nav_link "安全中心", {controller: 'my/account', action: 'security_center', id: current_user} %>
						<%= build_user_nav_link "个人资料", {controller: 'my/account', action: 'change_profile', id: current_user} %>
						<%= build_user_nav_link "修改密码", {controller: 'my/account', action: 'change_password', id: current_user} %>
					</div>
					<div >
						<div class="my-navs-item-parent">
							<span ng-class="item.icon" class="icon my-icon-message"></span>
							<span  class="am-margin-left-sm name ">我的消息</span>
						</div>
						<%= build_user_nav_link "系统通知", {controller: 'my/messages'} %>
					</div>
				</div>
</div>
