<section class="sidebar">
	<div class="subNav">
		<div class="huiyuanxinxi">
			<div class="pull-left">
				<%= fa_icon "user 4x" %>
			</div>
			<div class="pull-left" style="margin-left:1.2em;">
			<p style="margin-left:0.2em"><%= current_user.real_name%></p>
			<p>USD 账户</p>
			<p style="margin-top:1.2em;">余额<i><%= current_user.wallet_balance %></i></p>
			<p>已投资<i><%= current_user.bid_sum %></i></p>
			</div>
		</div>
	</div>

	<div class="subNav" style="clear:both">
		<h6>个人中心   <%= link_to "退出", destroy_user_session_path, :method=>'delete', class: 'pull-right' %></h6>
	</div>
	<ul class="navContent">
		<li><%= build_nav_link "个人信息", { controller: 'my/account', action: 'index' }%></li>
		<li><%= build_nav_link "我的二维码", { controller: 'my/account', action: 'invitable_qrcode'}%></li>
	</ul>
	<div class="subNav"><h6>一级客户推广状况</h6></div>
	<ul class="navContent">
		<li><%= build_nav_link "月推广效果表", { controller: 'agent/sale_months', action: 'index'}%></li>
		<li><%= build_nav_link "月盈利表", { controller: 'agent/sale_months', action: 'profit'}%></li>
		<li><%= build_nav_link "月结余表", { controller: 'agent/sale_months', action: 'balance'}%></li>
		<li><%= build_nav_link "日推广效果表", { controller: 'agent/sale_days', action: 'index'}%></li>
		<li><%= build_nav_link "日盈利表", { controller: 'agent/sale_days', action: 'profit'}%></li>
	</ul>

	<div class="subNav"><h6>二级客户推广状况</h6></div>
	<ul class="navContent">
		<li><%= build_nav_link "月推广效果表", { controller: 'agent/sale_months', action: 'children', member_level: 2}%></li>
		<li><%= build_nav_link "月盈利表", { controller: 'agent/sale_months', action: 'children_profit', member_level: 2}%></li>
		<li><%= build_nav_link "月结余表", { controller: 'agent/sale_months', action: 'children_balance', member_level: 2}%></li>
		<li><%= build_nav_link "日推广效果表", { controller: 'agent/sale_days', action: 'children', member_level: 2}%></li>
		<li><%= build_nav_link "日盈利表", { controller: 'agent/sale_days', action: 'children_profit', member_level: 2}%></li>
	</ul>

	<div class="subNav"><h6>三级客户推广状况</h6></div>
	<ul class="navContent">
		<li><%= build_nav_link "月推广效果表", { controller: 'agent/sale_months', action: 'children', member_level: 3}%></li>
		<li><%= build_nav_link "月盈利表", { controller: 'agent/sale_months', action: 'children_profit', member_level: 3}%></li>
		<li><%= build_nav_link "月结余表", { controller: 'agent/sale_months', action: 'children_balance', member_level: 3}%></li>
		<li><%= build_nav_link "日推广效果表", { controller: 'agent/sale_days', action: 'children', member_level: 3}%></li>
		<li><%= build_nav_link "日盈利表", { controller: 'agent/sale_days', action: 'children_profit', member_level: 3}%></li>

	</ul>
	<div class="subNav"><h6>四级客户推广状况</h6></div>
	<ul class="navContent">
		<li><%= build_nav_link "月推广效果表", { controller: 'agent/sale_months', action: 'children', member_level: 4}%></li>
		<li><%= build_nav_link "月盈利表", { controller: 'agent/sale_months', action: 'children_profit', member_level: 4}%></li>
		<li><%= build_nav_link "月结余表", { controller: 'agent/sale_months', action: 'children_balance', member_level: 4}%></li>
		<li><%= build_nav_link "日推广效果表", { controller: 'agent/sale_days', action: 'children', member_level: 4}%></li>
		<li><%= build_nav_link "日盈利表", { controller: 'agent/sale_days', action: 'children_profit', member_level: 4}%></li>
	</ul>
	<div class="subNav"><h6>五级客户推广状况</h6></div>
	<ul class="navContent">
		<li><%= build_nav_link "月推广效果表", { controller: 'agent/sale_months', action: 'children', member_level: 5}%></li>
		<li><%= build_nav_link "月盈利表", { controller: 'agent/sale_months', action: 'children_profit', member_level: 5}%></li>
		<li><%= build_nav_link "月结余表", { controller: 'agent/sale_months', action: 'children_balance', member_level: 5}%></li>
		<li><%= build_nav_link "日推广效果表", { controller: 'agent/sale_days', action: 'children', member_level: 5}%></li>
		<li><%= build_nav_link "日盈利表", { controller: 'agent/sale_days', action: 'children_profit', member_level: 5}%></li>

	</ul>
	<div class="subNav"><h6>六级客户推广状况</h6></div>
	<ul class="navContent">
		<li><%= build_nav_link "月推广效果表", { controller: 'agent/sale_months', action: 'children', member_level: 6}%></li>
		<li><%= build_nav_link "月盈利表", { controller: 'agent/sale_months', action: 'children_profit', member_level: 6}%></li>
		<li><%= build_nav_link "月结余表", { controller: 'agent/sale_months', action: 'children_balance', member_level: 6}%></li>
		<li><%= build_nav_link "日推广效果表", { controller: 'agent/sale_days', action: 'children', member_level: 6}%></li>
		<li><%= build_nav_link "日盈利表", { controller: 'agent/sale_days', action: 'children_profit', member_level: 6 	}%></li>

	</ul>
	<div class="subNav"><h6>交易平台</h6></div>
	<ul class="navContent">
		<li><%= build_nav_link "高/低", page_path('my/forex_adv')%></li>
	</ul>
	<div class="subNav"><h6>我的交易</h6></div>
	<div class="subNav"><h6>银行</h6></div>
	<ul class="navContent">
		<li><%= build_nav_link "电子钱包", { controller: 'my/wallets'}%></li>
		<li><%= build_nav_link "入金", { controller: 'my/deposits', action: 'new'}%></li>
		<li><%= build_nav_link "提现", { controller: 'my/drawings', action: 'new'}%></li>
		<li><%= build_nav_link "交易记录", { controller: 'my/deposits'}%></li>
	</ul>
	<div class="subNav"><h6>账户设置</h6></div>
	<ul class="navContent">
		<li><a href="#">上传文件</a></li>
		<li><%= build_nav_link "设置登录密码", { controller: 'my/account', action: 'edit_login_password', id: current_user.id}%></li>
		<li><%= build_nav_link "设置资金密码", { controller: 'my/account', action: 'edit_money_password', id: current_user.id}%></li>
	</ul>
	<div class="subNav"><h6>报告</h6></div>
	<ul class="navContent">
		<li><%= link_to '可供交易资产', page_path('my/kejiaoyizichan') %></li>
		<li><%= link_to '期满价格', page_path('my/qimanjiage') %></li>
	</ul>
</section>
