<div class="dailileft_top">
  <%=image_tag "new/dailiimg/biaoge_18.gif", class: "topimg"%>
  <div class="toptime">
    <h1><%= DateTime.current.to_date.to_s %></h1>
    <h1><%= t(:"date.day_names")[DateTime.current.wday] %></h1>
  </div>
</div>
<div class="dailileft_down">
  <h2>代理中心首页</h2>
  <ul>
    <li>
      <h4>-</h4><h3>数据概况</h3>
      <p><%= build_nav_link "数据概况", { controller: 'agent/broker'}%></p>
    </li>
    <li>
      <h4>-</h4><h3>月综合报表</h3>
      <p><%= build_nav_link "月推广效果表", { controller: 'agent/sale_months'}%></p>
      <p><%= build_nav_link "月盈利表", { controller: 'agent/sale_months', action: 'profit'}%></p>
      <p><%= build_nav_link "月结余表", { controller: 'agent/sale_months', action: 'balance'}%></p>
    </li>
    <li>
      <h4>-</h4><h3>日明细报表</h3>
      <p><%= build_nav_link "日推广效果表", { controller: 'agent/sale_days'}%></p>
      <p><%= build_nav_link "日盈利表", { controller: 'agent/sale_days', action: 'profit'}%></p>
    </li>
    <li>
      <h4>-</h4><h3>会员明细表</h3>
      <p><%= build_nav_link "代理列表", { controller: 'agent/members', action: 'brokers'}%></p>
      <p><%= build_nav_link "用户列表", { controller: 'agent/members', action: 'index'}%></p>
      <p><%= build_nav_link "会员明细表", { controller: 'agent/members', action: 'profit'}%></p>
    </li>
 
    <li>
      <h4>-</h4><h3>六级代理推广状况</h3>
      <p><%= build_nav_link "月推广效果表", { controller: 'agent/sale_months', action: 'children'}%></p>
      <p><%= build_nav_link "月盈利表", { controller: 'agent/sale_months', action: 'children_profit'}%></p>
      <p><%= build_nav_link "月结余表", { controller: 'agent/sale_months', action: 'children_balance'}%></p>
      <p><%= build_nav_link "日推广效果表", { controller: 'agent/sale_days', action: 'children'}%></p>
      <p><%= build_nav_link "日盈利表", { controller: 'agent/sale_days', action: 'children_profit'}%></p>
    </li>
    <li>
      <h4>-</h4><h3>代理信息</h3>
      <p><%= build_nav_link "更改密码", { controller: 'agent/broker', action: 'change_password', broker_id: current_broker.id}%></p>
    </li>

  </ul>
</div>
