<div class="dailifoot">
  <div class="dailifootnei">
    <ul>
      <% bcontroller = current_broker ? "broker" : "welcome"%>
      <li><%=link_to "代理中心", {controller: bcontroller, action: "index"} %></li>
      <li><%=link_to "优势前景", {controller: "welcome", action: "future"} %></li>
      <li><%=link_to "扶持政策", {controller: "welcome", action: "product"} %></li>
      <li><%=link_to "商业模式", {controller: "welcome", action: "commission"} %></li>
      <li><%=link_to "加盟优势", {controller: "welcome", action: "clause"} %></li>
    </ul>
    <p>代理电话：400-0000000</p><p>招商QQ：111111111</p><p>招商微信：18800001111</p>
  </div>
</div>
