<div class="dailifoot">
  <div class="dailifootnei">
    <ul>
      <% bcontroller = current_broker ? "broker" : "welcome"%>
      <li><%=link_to "代理中心", {controller: bcontroller, action: "index"} %></li>
      <li><%=link_to "扶持政策", {controller: "welcome", action: "product"} %></li>
      <li><%=link_to "商业模式", {controller: "welcome", action: "commission"} %></li>
      <li><%=link_to "加盟优势", {controller: "welcome", action: "clause"} %></li>
      <li><%=link_to "代理活动", {controller: "welcome", action: "activity"} %></li>
    </ul>
    <p>招商QQ：2041096995</p><p style="float:right;margin-right: 100px;">招商微信：18042662046</p>
  </div>
</div>
