<div id="header">
  <div class="container clearfix">
    <div id="logo" class="left">
      <div class="header_r00">
        <%=image_tag "new/meiimg_02.gif"%><p id="clock"></p>
      </div>
      <a href="http:" title="公司名称Ballmer Asia">
        <%=image_tag "new/biao01.png", alt: ""%>
      </a>
    </div>

    <div class="header_r right">
      <div class="header_r01">
        <%=image_tag "new/meiimg_04.gif"%>
        <a href="">联系我们：400-666-6666</a>
        <span>|</span> <%=image_tag "new/meiimg_06.gif"%><a href="">English</a>
        <span>|</span> <%=image_tag "new/meiimg_08.gif"%><a href="">简体中文</a>
      </div>

      <div class="header_r02 pt10">
        <%= render "agent/shared/broker_auth" %>
      </div>
    </div>
  </div>

  <div id="nav-div" class="container clearfix" style="padding-top:21px;">
    <div id="nav" class="left">
       <ul>
         <li><%=link_to "优势前景", {controller: "welcome", action: "future"} %></li>
         <li><%=link_to "代理中心", {controller: "welcome", action: "future"} %></li>
         <li><%=link_to "扶持政策", {controller: "welcome", action: "product"} %></li>
         <li><%=link_to "商业模式", {controller: "welcome", action: "commission"} %></li>
         <li><%=link_to "加盟优势", {controller: "welcome", action: "clause"} %></li>
      </ul>
    </div>
    <div id="search" class="right">
    <form action="http://www.qooptions.com/new/check_art" class="searchform" method="post">
      <input class="wenben" type="text" name="wenben">
      <input value="" class="anniu" type="submit">
    </form>
    </div>
  </div>
</div>
