<div id="header">
  <div class="container clearfix">
    <div id="logo" class="left">
      <div class="header_r00">
        <%=image_tag "new/meiimg_02.gif"%><p>北京时间：<%= Time.now.to_s(:db) %></p>
      </div>
      <a href="http:" title="公司名称二元期权">
        <%=image_tag "new/biao01.jpg", alt: ""%><%=image_tag "new/biao02.jpg", alt: ""%>
      </a>
    </div>

    <div class="header_r right">
      <div class="header_r01">
        <%=image_tag "new/meiimg_04.gif"%>
        <a href="">联系我们：400-666-6666</a>
        <span>|</span> <%=image_tag "new/meiimg_06.gif"%><a href="">English</a>
        <span>|</span> <%=image_tag "new/meiimg_08.gif"%><a href="">简体中文</a>
      </div>

      <div class="header_r02 pt10">

        <div class="daili_after1">
          <div class="daili_left">
            <div class="daili_top">
              <div class="dailitop_left">
                <%=image_tag "new/meiimg_08.gif"%><%=image_tag "new/dailiimg/biaoge_03.gif"%>
                <p><%=current_broker.email%></p>
              </div>
              <%=image_tag "new/dailiimg/biaoge_06.gif", class: "dailitop_right"%>
            </div>
            <div class="daili_down">
            <ul>
              <li><%= link_to agent_broker_index_path do %><%=image_tag "new/dailiimg/biaoge_11.gif"%><span>代理中心</span><%end%></li>
              <li><%= link_to destroy_broker_session_path, :method=>'delete' do %><%=image_tag "new/dailiimg/biaoge_13.gif"%><span>退出</span><%end%></li>
            </ul>
            </div>
          </div>
          <div class="daili_right">
            <%=image_tag "new/noimages/toux_04.gif"%>
          </div>
        </div>

           <!--新加代码结束-->

        </span>
        </div>
    </div>
  </div>

  <div class="container clearfix">
    <div id="nav" class="left">
       <ul>
        <li><a href="http://www.qooptions.com/">优势前景</a></li>
        <li><a href="http://www.qooptions.com/">我们的产品</a></li>
        <li><a href="http://www.qooptions.com/">佣金计划</a></li>
        <li><a href="http://www.qooptions.com/">合作条款</a></li>
      </ul>
    </div>
    <div id="search" class="right">
    <form action="http://www.qooptions.com/new/check_art" class="searchform" method="post">
      <input class="wenben" type="text" name="wenben">
      <input value="" class="anniu" type="submit">
    </form>
    </div>
  </div>
</div>
