<%@member_state ||= "all"%>
<%calendar_class = (thispath.include? "month") ? "mcalendar" : "calendar"%>
<%=form_tag thispath, id:"search_form", class:"form-inline", role:"form", method: :get do%>
  <div class="row">
    <div class="col-md-10">
      <div class="form-group">
        <label for="start_date">起始日期</label>
        <%=calendar "start_date", @start_date, calendar_class%>
      </div>
      <div class="form-group">
        <label for="end_date">到</label>
        <%=calendar "end_date", @end_date, calendar_class%>
      </div>

      <div class="form-group">
        <%=member_state_select @member_state %>
      </div>

      <div class="form-group">
        <%=submit_tag "查询",  class:"form-control"%>
      </div>
    </div>
    <div class="col-md-2">
      <%=link_to "导出EXCEL", nil, href:"#", onclick:"$('#search_form').attr('action', '#{thispath}'+'.xls');$('#search_form').submit();", class:"btn btn-primary"%>
    </div>
  </div>
<%end%>
