<div class="leftnav">
            <div class="time">
            		<p class="d"><%= DateTime.current.to_date.to_s %></p>
            </div>
            <div class="top_tit">代理中心首页</div>
            <div class="title"><span class="btn"></span>数据概况</div>
            <ul class="nav nav-sidebar">
                <li class="cur">
                  <%= build_nav_link "数据概况", { controller: 'agent/broker'}%>
                </li>
            </ul>

            <div class="title"><span class="btn"></span>月综合报表</div>
            <ul class="nav nav-sidebar">
                <li><a href="/agent/resultdata">月推广效果表</a></li>
                <li><a href="/agent/month_profit">月盈利表</a></li>
                <li><a href="/agent/month_balance">月结余表</a></li>
            </ul>

            <div class="title"><span class="btn"></span>日明细报表</div>
            <ul class="nav nav-sidebar">
                <li>
                  <%= build_nav_link "日推广效果表", { controller: 'agent/broker_days'}%>
                </li>
                <li>
                  <%= build_nav_link "日盈利表", { controller: 'agent/broker_days', action: 'profit'}%>
                </li>
            </ul>

			<div class="title"><span class="btn"></span>会员明细表</div>
			<ul class="nav nav-sidebar">
                <li>
                  <%= build_nav_link "用户列表", { controller: 'agent/members', action: 'index'}%>
                </li>
                <li>
                  <%= build_nav_link "会员明细表", { controller: 'agent/members', action: 'profit'}%>
                </li>
            </ul>


            <div class="title"><span class="btn"></span>平台输赢明细</div>
			<ul class="nav nav-sidebar">
                <li><a href="/agent/winlose">平台输赢明细</a></li>
            </ul>


            <div class="title"><span class="btn"></span>投注记录遗漏表</div>
			<ul class="nav nav-sidebar">
                <li><a href="/agent/betfix">投注记录遗漏表</a></li>
            </ul>

            <div class="title"><span class="btn"></span>直属下级代理推广状况</div>
			<ul class="nav nav-sidebar">
            <li><a href="/agent/child_promotion">月推广效果</a></li>
            <li><a href="/agent/child_profit">月盈利表</a></li>
            <li><a href="/agent/child_balance">月结余表</a></li>
            <li><a href="/agent/child_day_promotion">日推广效果</a></li>
            <li><a href="/agent/child_day_profit">日盈利表</a></li>

            </ul>

            <div class="title"><span class="btn"></span>代理信息</div>
            <ul class="nav nav-sidebar">
                <li><a href="/mc/user/password">更改密码</a></li>
            </ul>


</div>
