<% platform ||= "my"%>
<% th_class = platform == "my" ? "xsjg1" : ""%>
<% tr_class = platform == "my" ? "xsjg2" : ""%>
<% p_class = platform == "my" ? "czjlll" : ""%>
<% t_class = platform == "my" ? "" : "table table-striped"%>

<table class="<%=t_class%>">
  <thead>
    <tr class="<%=th_class%>">
      <th><p>ID</p></th>
      <th><p>日期/时间(GMT+8)</p></th>
      <th><p>交易号码</p></th>
      <th><p>存款方式</p></th>
      <th><p>全额(RMB)</p></th>
      <th><p>状态</p></th>
    </tr>
  </thead>

  <tbody>
    <%total_amount=0%>
    <% if @deposits.empty? %>
      <tr class="<%=tr_class%>">
        <td colspan="6">暂无记录</td>
      <tr>
    <% else %>
    <% @deposits.each do |deposit| %>
      <tr class="<%=tr_class%>">
        <td><%= deposit.created_at.to_i %></td>
        <td><%= deposit.display_created_at %></td>
        <td><%= deposit.number %></td>
        <td><%= deposit.payment_method.name %></td>
        <td><%= deposit.display_amount %></td>
        <td><%= t(deposit.state) %></td>
      </tr>
      <%total_amount += deposit.amount%>
    <% end %>
  <% end %>
  </tbody>
</table>
<p class="<%=p_class%>">充值记录总额：<b><%=display_money(total_amount)%></b></p>
<%= will_paginate @deposits if @deposits.respond_to? :total_pages%>
