<table>
  <thead>
    <tr class="xsjg1">
      <th><p>ID</p></th>
      <th><p>日期/时间(GMT+8)</p></th>
      <th><p>交易号码</p></th>
      <th><p>存款方式</p></th>
      <th><p>全额(RMB)</p></th>
      <th><p>状态</p></th>
    </tr>
  </thead>

  <tbody>
    <%total_amount=0%>
    <% if @deposits.empty? %>
      <tr class="xsjg2">
        <td colspan="6">暂无记录</td>
      <tr>
    <% else %>
    <% @deposits.each do |deposit| %>
      <tr class="xsjg2">
        <td><%= deposit.created_at.to_i %></td>
        <td><%= deposit.display_created_at %></td>
        <td><%= deposit.number %></td>
        <td><%= deposit.payment_method.name %></td>
        <td><%= deposit.display_amount %></td>
        <td><%= display_state(deposit.state) %></td>
      </tr>
      <%total_amount += deposit.amount%>
    <% end %>
  <% end %>
  </tbody>
</table>
<p class="czjlll">充值记录总额：<b><%=display_money(total_amount)%></b></p>
<%= will_paginate @deposits if @deposits.respond_to? :total_pages%>
