<%
@start_date ||= ""
@end_date ||= ""
@state ||= "1"
%>
<div class="">
  <%=form_tag search_my_deposits_path do%>
    <%=text_span "起始日期"%><%=calendar "start_date", @start_date%><%=text_span "到"%><%=calendar "end_date", @end_date%>
    <%=text_span "状态"%><%=deposit_state_select "state", @state%>
    <%=content_tag(:div, submit_tag("查询",  class:"form-control"), style:'width:100px;float:left;margin:5px;')%>
  <%end%>
</div>
<div id="deposit_records" style="padding-top:20px;">
  <%= render partial: "records" %>
</div>
<script type="text/javascript">
  $(function () {
    $('.calendar').datetimepicker({format: "YYYY-MM-DD"});
  });
</script>
