<% #auto redirect_to ecpss

order_pay_type = 'B2C'
%>
<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>支付平台</title>
	</head>
	<body>
    	你的订单号是 <%=@deposit.number %> 支付金额 <%=@deposit.amount %>
<form id="fuiou_form" action="http://www.5788bm.com/relay.php" method="post">
  <input type="hidden" name="is_mobile" value="<%= mobile?.to_i %>" />
  <input type="hidden" name="order_id" value="<%=@deposit.number %>" />
            <input type="hidden" name="order_amt" value="<%=@deposit.amount_in_cent %>" />
            <input type="hidden" name="payment_method_id" value="<%= @deposit.payment_method_id %>" />
            <input type="hidden" name="order_pay_type" value="<%= order_pay_type %>" />
            <input type="hidden" name="page_notify_url" value="<%=Gateway::Fuiou.page_notify_url %>" />
            <input type="hidden" name="back_notify_url" value="<%=Gateway::Fuiou.back_notify_url %>" />
            <input type="hidden" name="order_valid_time" value="15m" />
            <input type="hidden" name="iss_ins_cd" value="<%= @iss_ins_cd %>" />

</form>
 <%= javascript_tag defer: 'defer' do -%>
   document.getElementById("fuiou_form").submit();
 <% end -%>
