
  <div class="my-sub-title">充值</div>
  <div class="panel">
    <div class="boma-select-group am-margin-bottom-lg">
			<span ng-bind="'recharge-to' | i18n" class="am-fl">存款到：</span>
			<select class="am-fl boma-select ng-isolate-scope ng-valid" name="platforms" ng-model="_recharge.pf" dictionary=""><!-- ngRepeat: item in dictionary --><option value="CENTER" ng-repeat="item in dictionary" title="中心钱包" class=" ng-scope">中心钱包</option><!-- end ngRepeat: item in dictionary --><option value="GD" ng-repeat="item in dictionary" title="GD" class=" ng-scope">GD</option><!-- end ngRepeat: item in dictionary --><option value="AG" ng-repeat="item in dictionary" title="AG" class=" ng-scope">AG</option><!-- end ngRepeat: item in dictionary --><option value="SB" ng-repeat="item in dictionary" title="沙巴体育" class=" ng-scope">沙巴体育</option><!-- end ngRepeat: item in dictionary --><option value="PT" ng-repeat="item in dictionary" title="PT平台" class=" ng-scope">PT平台</option><!-- end ngRepeat: item in dictionary --><option value="BBIN" ng-repeat="item in dictionary" title="波音平台" class=" ng-scope">波音平台</option><!-- end ngRepeat: item in dictionary --><option value="MG" ng-repeat="item in dictionary" title="MG" class=" ng-scope">MG</option><!-- end ngRepeat: item in dictionary --></select>
		</div>
    <%  deposit = @deposit %>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">在线支付</a></li>
      <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">银行转账</a></li>
      <li role="presentation"><a href="#messages" role="tab" data-toggle="tab">微信充值</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <%= simple_form_for(deposit, url: my_deposits_path, remote: true ) do |f| %>
          <%= f.input :payment_method_id, input_html: { value: 1 }, as: :hidden %>
          <%= render partial: "payment_methods/method_alipay_bank" %>
          <div class="field">
            <%= f.label :amount %>
            <%= f.text_field :amount %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
        <%= simple_form_for(deposit, url: my_deposits_path) do |f| %>
        <%= f.input :payment_method_id, input_html: { value: 2 }, as: :hidden %>
          <%= render partial: "payment_methods/method_bank_transfer" %>
          <div class="field">
            <%= f.label :amount %>
            <%= f.text_field :amount %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="messages">
        <%= simple_form_for(deposit, url: my_deposits_path) do |f| %>
        <%= f.input :payment_method_id, input_html: { value: 3 }, as: :hidden %>
          <%= render partial: "payment_methods/method_weixin" %>
          <div class="field">
            <%= f.label :amount %>
            <%= f.text_field :amount %>
          </div>

          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
