<div class="anquan_img">
  <%=link_to domestic_new_my_deposits_path do %>
    <%=image_tag "new/noimages/guoneiwai_03.jpg", style:"float:left;width: 40%;"%>
  <%end%>
  <%=link_to foreign_new_my_deposits_path do %>
    <%=image_tag "new/noimages/guoneiwai_05.jpg", style:"width: 48%;"%>
  <%end%>
  <hr style="clear:both">
</div>
<div class="chongzhi_top">
  <p style="font-weight:bold;color:#8f1616;font-family:微软雅黑;font-size:16px;">
    为确保客户账户资金安全，首次出金的客户，第三方托管银行将会审核您的个人资料，以确保是您本人操作。请到"个人中心"上传身份证和银行卡的正反面照片。
    <%=link_to "进入个人中心", my_account_index_path, style:"color:#034890"  %>
  </p>
</div>
