
  <div class="my-sub-title">充值</div>
  <div class="panel">
    <%  deposit = @deposit %>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">在线支付</a></li>
      <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">银行转账</a></li>
      <li role="presentation"><a href="#messages" role="tab" data-toggle="tab">微信充值</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <%= better_form_for(deposit, url: my_deposits_path ) do |f| %>
          <%= f.input :payment_method_id, input_html: { value: 1 }, as: :hidden %>
          <%= render partial: "payment_methods/method_alipay_bank" %>
          <div class="form-inputs">
            <%= f.input :amount, as:"string" %>
            <%= f.input :promotion_code, as:"string" %>
          </div>
          <div class="form-actions">
            <%= f.submit "deposit", class:"btn"  %>
          </div>
        <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
        <%= better_form_for(deposit, url: my_deposits_path) do |f| %>
        <%= f.input :payment_method_id, input_html: { value: 2 }, as: :hidden %>
          <%= render partial: "payment_methods/method_bank_transfer" %>
          <div class="form-inputs">
            <%= f.input :amount, as:"string" %>
            <%= f.input :promotion_code, as:"string" %>
          </div>
          <div class="form-actions">
            <%= f.submit "deposit", class:"btn"  %>
          </div>
        <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="messages">
        <%= better_form_for(deposit, url: my_deposits_path) do |f| %>
        <%= f.input :payment_method_id, input_html: { value: 3 }, as: :hidden %>
          <%= render partial: "payment_methods/method_weixin" %>
          <div class="form-inputs">
            <%= f.input :amount, as:"string" %>
            <%= f.input :promotion_code, as:"string" %>
          </div>
          <div class="form-actions">
            <%= f.submit "deposit", class:"btn"  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
