<p id="notice"><%= notice %></p>

<h1>User Wallets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Game center</th>
      <th>Amount</th>
      <th>Memo</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_wallets.each do |user_wallet| %>
      <tr>
        <td><%= user_wallet.user %></td>
        <td><%= user_wallet.game_center %></td>
        <td><%= user_wallet.amount %></td>
        <td><%= user_wallet.memo %></td>
        <td><%= user_wallet.deleted_at %></td>
        <td><%= link_to 'Show', user_wallet %></td>
        <td><%= link_to 'Edit', edit_user_wallet_path(user_wallet) %></td>
        <td><%= link_to 'Destroy', user_wallet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Wallet', new_user_wallet_path %>
