  <div class="zidongtubiao">
    <div class="zidongtubiao_timu">
      <a class="zidongtb"><%= image_tag "new/jiaoyi/jiaoyi1_72.png" %></a>

      <h1>自动图标分析</h1>

      <%= form_tag  trends_game_instruments_path, { method: :get, remote: true, id: 'instrument_trends_update_form'} do  %>
        <%= hidden_field_tag "instrument_codes",@game_instruments.map(&:code).join(',') %>
       <% end %>
      <div class="zidongtable b_instrument_trends" data-instrument-codes='<%=@game_instruments.map(&:code).join(',') %>'>
         <%= render partial: 'game_instruments/trends' %>
      </div>
    </div>
    <div class="zishenjiaoyi">
      <div class="zishentou">
      <h1>资深交易者</h1>
      <h2>体验WOW平台</h2>
      </div>
      <div class="zishenbg">
        <a> <%= image_tag "new/jiaoyi/jiaoyi1_106.png" %> </a>
      </div>
    </div>
    <div class="jiaoyishequ">
       <h1>资深交易者</h1>
       <div class="shequtable">
         <table>
         <tbody><tr class="shequtou">
           <td>用户名</td>
           <td>期权涨跌</td>
           <td>交易时间</td>
           <td>开仓时间</td>
         </tr>
       </tbody></table>
       </div>
    </div>
    <div class="ruheyunzuo">
      <h1>如何运作？</h1>
      <ul>
        <li><a href=""><h3>1.</h3><p>选择标的资产到期时间并调整收益 （如果需要）</p></a></li>
        <li><a href=""><h3>2.</h3><p>选择方向涨交易高于目前的价格， 选择跌交易低于目前的价格。</p></a></li>
        <li><a href=""><h3>3.</h3><p>选择投资金额，并确认。</p></a></li>
        <li><a href=""><h3>4.</h3><p>期权会自动平仓，将获得最高85%的 收益，或最高40%的返回。</p></a></li>
      </ul>
    </div>
  </div>
