<div class="jiaoyi1_zhulan">
  <ul>
    <li class="<%if @list=="all"%>btn2<%else%>btn1<%end%>" id="2"><a href="/pages/forex_simple?list=all"><%= image_tag "new/jiaoyi/jiaoyi1_31.gif" %> <span>所有</span></a></li>
    <li class="<%if @list=="popular"%>btn2<%else%>btn1<%end%>" id="1"><a href="/pages/forex_simple?list=popular"><%= image_tag "new/jiaoyi/jiaoyi1_28.gif" %> <span>热门资产</span></a></li>
    <li class="<%if @list=="collection"%>btn2<%else%>btn1<%end%>" id="3"><a href="/pages/forex_simple?list=collection"><%= image_tag "new/jiaoyi/jiaoyi1_34.gif" %> <span>收藏</span></a></li>
    <li class="btn1" id="4"><a href="#" onclick="alert('暂不对初级用户开放!');"><span>资深交易者</span></a></li>
    <li>
      <%= image_tag "new/jiaoyi/jiaoyi1_22.gif", class: "shipingtubiao" %>
      <div class="sousuoanniu"><a href=""><%= image_tag "new/jiaoyi/jiaoyi1_32.gif" %> </a></div><input class="sousuo">
    </li>
  </ul>
</div>

<div class="jiaoyi1_shanglan">
  <ul class="clearfix">
    <li>
      <%= link_to page_path( id: params[:id], category: 'currency')  do %>
        <%= image_tag "new/jiaoyi/jiaoyi1_48.gif" %> <span>货币</span>
      <%end %>
    </li>
    <li>
      <%= link_to page_path( id: params[:id], category: 'stock')  do %>
        <%= image_tag "new/jiaoyi/jiaoyi1_42.gif" %> <span>股票</span>
      <%end %>
    </li>
    <li>
      <%= link_to page_path( id: params[:id], category: 'product')  do %>
        <%= image_tag "new/jiaoyi/jiaoyi1_51.gif" %> <span>商品</span>
      <%end %>
    </li>
    <li>
      <%= link_to page_path( id: params[:id], category: 'index')  do %>
        <%= image_tag "new/jiaoyi/jiaoyi1_45.gif" %> <span>指数</span>
      <%end %>
    </li>
    <li>
      <%= link_to page_path( id: params[:id], category: 'xxx')  do %>
        <%= image_tag "new/jiaoyi/jiaoyi1_54.gif" %> <span>对</span>
      <%end %>
    </li>
    <li class="qieh1">
      <%= link_to image_tag("new/jiaoyi/jiaoyi1_422.gif", class: "qieh"), page_path( id: 'forex_simple')%>
      <%= link_to image_tag("new/jiaoyi/jiaoyi1_46.gif", class: "qieh"), page_path( id: 'forex_list')%>
      <%= link_to image_tag("new/jiaoyi/jiaoyi1_44.gif", class: "qieh"), page_path( id: 'forex_grid')%>
    </li>
  </ul>
 </div>
