<% # locals {container_id, symbol}
%>

<div class="forex-wrapper">
  <div class="one_zhang1 clearfix">
  		<div class="one_zz"><%= image_tag "new/jiaoyi/jiaoyi2_03.gif" %>
        <span> <%= t( "forex.symbol.#{symbol}") %></span>
      </div>
  		<div class="one_z1">
  		<button class="btn2" type="button" id="1">涨/跌</button>
          <button class="btn1" type="button" id="2">60秒</button>
          </div>
          <div class="one_z2">
  		    <button class="btn4" type="button" id="3">今天10:48</button>
          <button class="btn3" type="button" id="4">30sec</button>
          <button class="btn3" type="button" id="5">60sec</button>
          <button class="btn3" type="button" id="6">2min</button>
          <button class="btn3" type="button" id="7">5min</button>
          </div>
          <div style="display:none" class="one_z3">
          <button class="btn5" type="button" id="8">今天10:48</button>
      	</div>
      	<div class="guoqi">
      		<div class="guoqi_left">
            
            <span> <%= t( "forex.symbol.#{symbol}") %>收盘时价格将低于或高于？</span></div>
      		<div class="guoqi_right"><b>剩余时间：</b>
            <div class="shijiamokuan">
            <%= image_tag "new/jiaoyi/jiaoyi2_12.gif" %> </div></div>
      	</div>
  	</div>

  <%= content_tag "div","", id: container_id, class: "forex-chart", data: {symbol: symbol} %>

  <div class="huobiright_ti1 clearfix">
			<div class="huobiti_left1">
        <%= content_tag "h4","0.0000", class: "forex-label", data: {symbol: symbol} %>
        <a href="" class="szxd3"> <%= image_tag "new/jiaoyi/jiaoyi1_101.gif" %></a>
        <a href="" class="szxd4"> <%= image_tag "new/jiaoyi/jiaoyi1_109.gif" %></a>
			</div>
			<div class="huobiti_right1">
				<div class="sshuou">
				<a href=""><span>+更多</span></a><a href=""><span>+chart</span></a>
				<h1>70%</h1>
				</div>
				<div class="ssshou">
				<p class="shouyi1">收益</p>
        <p class="chushou1"><%= image_tag "new/jiaoyi/jiaoyi1_112.gif" %>出售</p>
        <p class="duichong1"><%= image_tag "new/jiaoyi/jiaoyi1_114.gif" %>对冲</p>
				<p class="jiabei1">X2加倍</p>
				</div>
			</div>
    </div>
</div>
