<div class="jiaoyi1_shanglan">
  <ul class="clearfix">
    <li><a href=""><%= image_tag "new/jiaoyi/jiaoyi1_48.gif" %> <span>货币</span></a></li>
    <li><a href=""><%= image_tag "new/jiaoyi/jiaoyi1_42.gif" %> <span>股票</span></a></li>
    <li><a href=""><%= image_tag "new/jiaoyi/jiaoyi1_51.gif" %> <span>商品</span></a></li>
    <li><a href=""><%= image_tag "new/jiaoyi/jiaoyi1_45.gif" %> <span>指数</span></a></li>
    <li><a href=""><%= image_tag "new/jiaoyi/jiaoyi1_54.gif" %> <span>对</span></a></li>
    <li class="qieh1">
      <%= link_to image_tag("new/jiaoyi/jiaoyi1_422.gif", class: "qieh"), page_path( id: 'forex_simple')%>
      <%= link_to image_tag("new/jiaoyi/jiaoyi1_44.gif", class: "qieh"), page_path( id: 'forex_grid')%>
      <%= link_to image_tag("new/jiaoyi/jiaoyi1_46.gif", class: "qieh"), page_path( id: 'forex_list')%>
    </li>
  </ul>
 </div>
