<div class="sign1">
      <h1>免费创建账户</h1>
      <form method="POST" action="https://trading.ggbinary.com/index/sign-up?redirectUrl=http://www.ggbinary.com/Recharge" id="reg-form" class="sign_box">
        <input type="text" placeholder="名" id="reg-first-name" name="firstName" class="in01">
        <input type="text" style="margin-right:30px;" placeholder="姓" id="reg-last-name" name="lastName" class="in01">
        <input type="text" class="in02" placeholder="电子邮箱" id="reg-email" name="email">
        <input type="text" class="in04" placeholder="QQ" id="reg-qq" name="qq">

        <input type="text" class="in05" id="reg-area-code" value="+86" name="countryDialCode">
        <input type="text" class="in06" placeholder=" 电话" id="reg-phone" name="phone">

        <input type="password" class="in03" placeholder="密码" id="reg-password" name="password">
        <input type="text" class="in07" placeholder="验证码" id="reg-verify-code" name="verifyCode">

        <input type="hidden" readonly="readonly" value="" name="landing" id="landing">
        <input type="button" class="btn01 obtainVerifyCode" value="获取验证码">
      </form>
      <div class="cee">
        <div class="ce1">
        <span>
          <%= image_tag "new/sign-icon04.png" %>经纪人:
        </span>
        <label class="cho">
          <input type="radio" value="1" class="ch" name="affiliate">
          有
        </label>
        <label class="cho">
          <input type="radio" value="0" class="ch" checked="checked" name="affiliate">
          无
        </label>
        <input type="text" placeholder="经纪人编码" id="reg-first-name" name="firstName" class="in11">
        </div>

        <input type="checkbox" id="reg-agreement" class="bo1" checked="checked" name="reg-agreement">
        我已阅读并同意 <a target="_blank" href="http://www.ggbinary.com/zh-cn/TermsOfAgreement/">服务条款</a> 和 <a target="_blank" href="http://www.ggbinary.com/zh-cn/PrivacyPolicy/">隐私政策</a>
      </div>
      <input type="button" id="reg-submit" class="btn02" value="免费创建账户" name="input2">
</div>

<div class="jiaoyi1body">
        <hr>
        <div class="jiaoyi1body_nei">
          <div class="jiaoyi1_left">
            <div class="jiaoyi1_zhulan">
              <ul>
                <li class="btn1" id="2"><a href=""><%= image_tag "new/jiaoyi/jiaoyi1_31.gif" %> <span>所有</span></a></li>
                <li class="btn2" id="1"><a href=""><%= image_tag "new/jiaoyi/jiaoyi1_28.gif" %> <span>热门资产</span></a></li>
                <li class="btn1" id="3"><a href=""><%= image_tag "new/jiaoyi/jiaoyi1_34.gif" %> <span>收藏</span></a></li>
                <li class="btn1" id="4"><a href=""><span>资深交易者</span></a></li>
                <li>
                  <%= image_tag "new/jiaoyi/jiaoyi1_22.gif", class: "shipingtubiao" %>
                  <div class="sousuoanniu"><a href=""><%= image_tag "new/jiaoyi/jiaoyi1_32.gif" %> </a></div><input class="sousuo">
                </li>
              </ul>
            </div>
            <div class="jiaoyi1_shanglan">
              <ul class="clearfix">
                <li><a href=""><%= image_tag "new/jiaoyi/jiaoyi1_48.gif" %> <span>货币</span></a></li>
                <li><a href=""><%= image_tag "new/jiaoyi/jiaoyi1_42.gif" %> <span>股票</span></a></li>
                <li><a href=""><%= image_tag "new/jiaoyi/jiaoyi1_51.gif" %> <span>商品</span></a></li>
                <li><a href=""><%= image_tag "new/jiaoyi/jiaoyi1_45.gif" %> <span>指数</span></a></li>
                <li><a href=""><%= image_tag "new/jiaoyi/jiaoyi1_54.gif" %> <span>对</span></a></li>
                <li class="qieh1">
                  <a href="javascript:jumpto('pingtai/jiaoyi1.html')">
                    <%= image_tag "new/jiaoyi/jiaoyi1_422.gif", class: "qieh" %> </a>
                  <a href="javascript:jumpto('pingtai/jiaoyi2.html')">
                    <%= image_tag "new/jiaoyi/jiaoyi1_44.gif", class: "qieh" %>  </a>
                  <a href="javascript:jumpto('pingtai/jiaoyi3.html')">
                    <%= image_tag "new/jiaoyi/jiaoyi1_46.gif", class: "qieh"%> </a>
                </li>
              </ul>

              <div id="chart1" class="forex-chart" data-symbol="USEURUSD">
              </div>
             </div>
            <div class="jiaoyi1_qiehuanti">


              <div class="one_huobi">
              		<div class="huobi_left">
              			<div ondragstart="drag(event, this)" draggable="true" ondragover="allowDrop(event)" ondrop="drop(event,this)" class="huobi">
                			<%= image_tag "new/jiaoyi/jiaoyi1_131.gif" %> <span>美汇欧元</span><b class="forex-label" data-symbol="USEURUSD">0.0000</b>
                		</div>
                		<div ondragstart="drag(event, this)" draggable="true" ondragover="allowDrop(event)" ondrop="drop(event,this)" class="huobi">
                			<%= image_tag "new/jiaoyi/jiaoyi1_131.gif" %><span>美汇英镑</span><b class="forex-label" data-symbol="USGBPUSD">0.0000</b>
                		</div>
                		<div ondragstart="drag(event, this)" draggable="true" ondragover="allowDrop(event)" ondrop="drop(event,this)" class="huobi">
                			<%= image_tag "new/jiaoyi/jiaoyi1_142.gif" %> <span>美汇澳元</span><b class="forex-label" data-symbol="USAUDUSD">0.0000</b>
                		</div>
                		<div ondragstart="drag(event, this)" draggable="true" ondragover="allowDrop(event)" ondrop="drop(event,this)" class="huobi">
                			<%= image_tag "new/jiaoyi/jiaoyi1_131.gif" %><span>美汇加元</span><b class="forex-label" data-symbol="USUSDCAD">0.0000</b>
                		</div>
                		<div ondragstart="drag(event, this)" draggable="true" ondragover="allowDrop(event)" ondrop="drop(event,this)" class="huobi">
                			<%= image_tag "new/jiaoyi/jiaoyi1_142.gif" %><span>美汇日元</span><b class="forex-label" data-symbol="USUSDJPY">0.0000</b>
                		</div>
              		</div>
              		<div class="huobi_right">
              			<div class="huobiright_top">
              				<!--<img src="../images/jiaoyi/jiaoyi1_22.gif">--><span>英镑/美元</span><b>00:17</b>
              			</div>
              			<div class="huobiright_ti">
              				<div class="huobiti_left">
                        <a href="" class="szxd1"> <%= image_tag "new/jiaoyi/jiaoyi1_101.gif" %></a>
                        <a href="" class="szxd1"> <%= image_tag "new/jiaoyi/jiaoyi1_109.gif" %></a>
              				</div>
              				<div class="huobiti_right">
              					<h1>70%</h1>
              					<p>收益</p>
              					<p class="chushou"><%= image_tag "new/jiaoyi/jiaoyi1_112.gif" %>出售</p>
              					<p class="duichong"><%= image_tag "new/jiaoyi/jiaoyi1_114.gif" %>对冲</p>
              					<p class="jiabei">X2加倍</p>
              				</div>
              			</div>
              		</div>
              </div>

              <div class="jiaoyi1biao">
                				<table rules="rows">
                					<tbody><tr class="bbiao1">
                						<td class="a18"><h2>工具</h2></td>
                						<td class="a18"><h2>最近到期价格</h2></td>
                						<td class="a14"><h2>收益</h2></td>
                						<td class="a32"><h2>情绪</h2></td>
                						<td class="a18"><h2>波动性</h2></td>
                					</tr>
                					<tr class="bbiao2">
                						<td class="a18">货币</td>
                						<td class="a18"></td>
                						<td class="a14"></td>
                						<td class="a32"></td>
                						<td class="a18"></td>
                					</tr>
                					<tr class="bbiao3">
                						<td><p>AUD/JPY</p></td>
                						<td><p>80.422</p></td>
                						<td><p>70%</p></td>
                						<td><div class="baifenbi">
                							<span class="baifenbi1">30%</span>
                							<span class="baifenbi2">70%</span>
                						</div></td>
                						<td><div id="bodong">
                							<div id="chi"> </div>
                							<div id="cheng"> </div>
                							<div id="huang"> </div>
                							<div id="lv"> </div>
                							<div id="qing"> </div>
                							<div id="lan"> </div>

                						</div></td>
                					</tr>
                					<tr class="bbiao3">
                						<td><p>AUD/JPY</p></td>
                						<td><p>80.422</p></td>
                						<td><p>70%</p></td>
                						<td><div class="baifenbi">
                							<span class="baifenbi1">30%</span>
                							<span class="baifenbi2">70%</span>
                						</div></td>
                						<td><div id="bodong">
                							<div id="chi"> </div>
                							<div id="cheng"> </div>
                							<div id="huang"> </div>
                							<div id="lv"> </div>
                							<div id="qing"> </div>
                							<div id="lan"> </div>

                						</div></td>
                					</tr>
                					<tr class="bbiao3">
                						<td><p>AUD/JPY</p></td>
                						<td><p>80.422</p></td>
                						<td><p>70%</p></td>
                						<td><div class="baifenbi">
                							<span class="baifenbi1">30%</span>
                							<span class="baifenbi2">70%</span>
                						</div></td>
                						<td><div id="bodong">
                							<div id="chi"> </div>
                							<div id="cheng"> </div>
                							<div id="huang"> </div>
                							<div id="lv"> </div>
                							<div id="qing"> </div>
                							<div id="lan"> </div>

                						</div></td>
                					</tr>
                					<tr class="bbiao3">
                						<td><p>AUD/JPY</p></td>
                						<td><p>80.422</p></td>
                						<td><p>70%</p></td>
                						<td><div class="baifenbi">
                							<span class="baifenbi1">30%</span>
                							<span class="baifenbi2">70%</span>
                						</div></td>
                						<td><div id="bodong">
                							<div id="chi"> </div>
                							<div id="cheng"> </div>
                							<div id="huang"> </div>
                							<div id="lv"> </div>
                							<div id="qing"> </div>
                							<div id="lan"> </div>

                						</div></td>
                					</tr>
                					<tr class="bbiao2">
                						<td class="a18">股票</td>
                						<td class="a18"></td>
                						<td class="a14"></td>
                						<td class="a32"></td>
                						<td class="a18"></td>
                					</tr>
                					<tr class="bbiao3">
                						<td><p>AUD/JPY</p></td>
                						<td><p>80.422</p></td>
                						<td><p>70%</p></td>
                						<td><div class="baifenbi">
                							<span class="baifenbi1">30%</span>
                							<span class="baifenbi2">70%</span>
                						</div></td>
                						<td><div id="bodong">
                							<div id="chi"> </div>
                							<div id="cheng"> </div>
                							<div id="huang"> </div>
                							<div id="lv"> </div>
                							<div id="qing"> </div>
                							<div id="lan"> </div>

                						</div></td>
                					</tr>
                					<tr class="bbiao3">
                						<td><p>AUD/JPY</p></td>
                						<td><p>80.422</p></td>
                						<td><p>70%</p></td>
                						<td><div class="baifenbi">
                							<span class="baifenbi1">30%</span>
                							<span class="baifenbi2">70%</span>
                						</div></td>
                						<td><div id="bodong">
                							<div id="chi"> </div>
                							<div id="cheng"> </div>
                							<div id="huang"> </div>
                							<div id="lv"> </div>
                							<div id="qing"> </div>
                							<div id="lan"> </div>

                						</div></td>
                					</tr>
                					<tr class="bbiao2">
                						<td class="a18">商品</td>
                						<td class="a18"></td>
                						<td class="a14"></td>
                						<td class="a32"></td>
                						<td class="a18"></td>
                					</tr>
                					<tr class="bbiao3">
                						<td><p>AUD/JPY</p></td>
                						<td><p>80.422</p></td>
                						<td><p>70%</p></td>
                						<td><div class="baifenbi">
                							<span class="baifenbi1">30%</span>
                							<span class="baifenbi2">70%</span>
                						</div></td>
                						<td><div id="bodong">
                							<div id="chi"> </div>
                							<div id="cheng"> </div>
                							<div id="huang"> </div>
                							<div id="lv"> </div>
                							<div id="qing"> </div>
                							<div id="lan"> </div>

                						</div></td>
                					</tr>
                					<tr class="bbiao3">
                						<td><p>AUD/JPY</p></td>
                						<td><p>80.422</p></td>
                						<td><p>70%</p></td>
                						<td><div class="baifenbi">
                							<span class="baifenbi1">30%</span>
                							<span class="baifenbi2">70%</span>
                						</div></td>
                						<td><div id="bodong">
                							<div id="chi"> </div>
                							<div id="cheng"> </div>
                							<div id="huang"> </div>
                							<div id="lv"> </div>
                							<div id="qing"> </div>
                							<div id="lan"> </div>

                						</div></td>
                					</tr>
                					<tr class="bbiao2">
                						<td class="a18">指数</td>
                						<td class="a18"></td>
                						<td class="a14"></td>
                						<td class="a32"></td>
                						<td class="a18"></td>
                					</tr>
                					<tr class="bbiao3">
                						<td><p>AUD/JPY</p></td>
                						<td><p>80.422</p></td>
                						<td><p>70%</p></td>
                						<td><div class="baifenbi">
                							<span class="baifenbi1">30%</span>
                							<span class="baifenbi2">70%</span>
                						</div></td>
                						<td><div id="bodong">
                							<div id="chi"> </div>
                							<div id="cheng"> </div>
                							<div id="huang"> </div>
                							<div id="lv"> </div>
                							<div id="qing"> </div>
                							<div id="lan"> </div>

                						</div></td>
                					</tr>
                					<tr class="bbiao3">
                						<td><p>AUD/JPY</p></td>
                						<td><p>80.422</p></td>
                						<td><p>70%</p></td>
                						<td><div class="baifenbi">
                							<span class="baifenbi1">30%</span>
                							<span class="baifenbi2">70%</span>
                						</div></td>
                						<td><div id="bodong">
                							<div id="chi"> </div>
                							<div id="cheng"> </div>
                							<div id="huang"> </div>
                							<div id="lv"> </div>
                							<div id="qing"> </div>
                							<div id="lan"> </div>

                						</div></td>
                					</tr>
                					<tr class="bbiao3">
                						<td><p>AUD/JPY</p></td>
                						<td><p>80.422</p></td>
                						<td><p>70%</p></td>
                						<td><div class="baifenbi">
                							<span class="baifenbi1">30%</span>
                							<span class="baifenbi2">70%</span>
                						</div></td>
                						<td><div id="bodong">
                							<div id="chi"> </div>
                							<div id="cheng"> </div>
                							<div id="huang"> </div>
                							<div id="lv"> </div>
                							<div id="qing"> </div>
                							<div id="lan"> </div>

                						</div></td>
                					</tr>
                					<tr class="bbiao3">
                						<td><p>AUD/JPY</p></td>
                						<td><p>80.422</p></td>
                						<td><p>70%</p></td>
                						<td><div class="baifenbi">
                							<span class="baifenbi1">30%</span>
                							<span class="baifenbi2">70%</span>
                						</div></td>
                						<td><div id="bodong">
                							<div id="chi"> </div>
                							<div id="cheng"> </div>
                							<div id="huang"> </div>
                							<div id="lv"> </div>
                							<div id="qing"> </div>
                							<div id="lan"> </div>

                						</div></td>
                					</tr>
                					<tr class="bbiao3">
                						<td><p> </p></td>
                						<td><p> </p></td>
                						<td><p> </p></td>
                						<td></td>
                						<td></td>
                					</tr>

                				</tbody></table>
              </div>
            </div>
          </div>
          <div class="jiaoyi1_right">
            <div class="zidongtubiao">
              <div class="zidongtubiao_timu">
                <input type="image" class="zidongtb" src="images/jiaoyi/jiaoyi1_72.png">
                <h1>自动图标分析</h1>
                <ul class="zidongtubiao_lanmu">
                  <li><input type="image" class="zidongtbxl" src="images/jiaoyi/jiaoyi1_49.gif"></li>
                  <li><h2>符号</h2></li>
                  <li><h2>形态</h2></li>
                  <li><h2>时间</h2></li>
                </ul>
                <div class="zidongtable">
                  <table>
                    <tbody><tr>
                      <td class="up1"><%= image_tag "new/jiaoyi/jiaoyi1_58.gif" %> </td>
                      <td><p>美元/日元（1-5分钟）</p></td>
                      <td><p>反弹</p></td>
                      <td><p>10分钟前</p></td>
                      <td class="up2"><%= image_tag "new/jiaoyi/jiaoyi1_61.gif" %> </td>
                    </tr>
                    <tr>
                      <td class="down1"><%= image_tag "new/jiaoyi/jiaoyi1_67.gif" %> </td>
                      <td><p>美元/日元（1-5分钟）</p></td>
                      <td><p>反弹</p></td>
                      <td><p>10分钟前</p></td>
                      <td class="down2"><%= image_tag "new/jiaoyi/jiaoyi1_68.gif" %> </td>
                    </tr>
                    <tr>
                      <td class="down1"><%= image_tag "new/jiaoyi/jiaoyi1_67.gif" %> </td>
                      <td><p>美元/日元（1-5分钟）</p></td>
                      <td><p>反弹</p></td>
                      <td><p>10分钟前</p></td>
                      <td class="down2"><%= image_tag "new/jiaoyi/jiaoyi1_68.gif" %> </td>
                    </tr>
                    <tr>
                      <td class="down1"><%= image_tag "new/jiaoyi/jiaoyi1_67.gif" %> </td>
                      <td><p>美元/日元（1-5分钟）</p></td>
                      <td><p>反弹</p></td>
                      <td><p>10分钟前</p></td>
                      <td class="down2"><%= image_tag "new/jiaoyi/jiaoyi1_68.gif" %> </td>
                    </tr>
                    <tr>
                      <td class="down1"><%= image_tag "new/jiaoyi/jiaoyi1_58.gif" %> </td>
                      <td><p>美元/日元（1-5分钟）</p></td>
                      <td><p>反弹</p></td>
                      <td><p>10分钟前</p></td>
                      <td class="down2"><%= image_tag "new/jiaoyi/jiaoyi1_61.gif" %> </td>
                    </tr>
                    <tr>
                      <td class="down1"><%= image_tag "new/jiaoyi/jiaoyi1_67.gif" %> </td>
                      <td><p>美元/日元（1-5分钟）</p></td>
                      <td><p>反弹</p></td>
                      <td><p>10分钟前</p></td>
                      <td class="down2"><%= image_tag "new/jiaoyi/jiaoyi1_68.gif" %> </td>
                    </tr>
                     <tr>
                      <td class="down1"><%= image_tag "new/jiaoyi/jiaoyi1_58.gif" %> </td>
                      <td><p>美元/日元（1-5分钟）</p></td>
                      <td><p>反弹</p></td>
                      <td><p>10分钟前</p></td>
                      <td class="down2"><%= image_tag "new/jiaoyi/jiaoyi1_61.gif" %> </td>
                    </tr>
                       <tr>
                      <td class="down1"><%= image_tag "new/jiaoyi/jiaoyi1_58.gif" %> </td>
                      <td><p>美元/日元（1-5分钟）</p></td>
                      <td><p>反弹</p></td>
                      <td><p>10分钟前</p></td>
                      <td class="down2"><%= image_tag "new/jiaoyi/jiaoyi1_61.gif" %> </td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
              <div class="zishenjiaoyi">
                <div class="zishentou">
                <h1>资深交易者</h1>
                <h2>体验WOW平台</h2>
                </div>
                <div class="zishenbg">
                  <input type="image" src="images/jiaoyi/jiaoyi1_106.png">
                </div>
              </div>
              <div class="jiaoyishequ">
                 <h1>资深交易者</h1>
                 <div class="shequtable">
                   <table>
                   <tbody><tr class="shequtou">
                     <td>用户名</td>
                     <td>期权涨跌</td>
                     <td>交易时间</td>
                     <td>开仓时间</td>
                   </tr>
                   <tr class="shequti">
                     <td>李阳</td>
                     <td>上涨</td>
                     <td>05-06</td>
                     <td>05-06</td>
                   </tr>
                   <tr class="shequti">
                     <td>李阳</td>
                     <td>上涨</td>
                     <td>05-06</td>
                     <td>05-06</td>
                   </tr>
                   <tr class="shequti">
                     <td>李阳</td>
                     <td>上涨</td>
                     <td>05-06</td>
                     <td>05-06</td>
                   </tr>
                   <tr class="shequti">
                     <td>李阳</td>
                     <td>上涨</td>
                     <td>05-06</td>
                     <td>05-06</td>
                   </tr>
                   <tr class="shequti">
                     <td>李阳</td>
                     <td>上涨</td>
                     <td>05-06</td>
                     <td>05-06</td>
                   </tr>
                 </tbody></table>
                 </div>
              </div>
              <div class="ruheyunzuo">
                <h1>如何运作？</h1>
                <ul>
                  <li><a href=""><h3>1.</h3><p>选择标的资产到期时间并调整收益 （如果需要）</p></a></li>
                  <li><a href=""><h3>2.</h3><p>选择方向涨交易高于目前的价格， 选择跌交易低于目前的价格。</p></a></li>
                  <li><a href=""><h3>3.</h3><p>选择投资金额，并确认。</p></a></li>
                  <li><a href=""><h3>4.</h3><p>期权会自动平仓，将获得最高85%的 收益，或最高40%的返回。</p></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
</div>
