<div id="zishenbody" class="zishenbody forex-adv forex-wrapper">
  <div id="gaodi" class="gaodi">
      <ul>

        <li class="div1" style="background-color: rgb(102, 102, 102);">
          <a href="javascript:void(0)" class=" b-game-type active"  id="game-type-1" data-game-type="1"> <%= image_tag "new/jiaoyi/zishen_05.png" %>高/低</a>

        </li>
        <li class="div1" style="background-color: rgb(58, 58, 58);">
          <a href="javascript:void(0)" class="b-game-type" id="game-type-2" data-game-type="2"> <%= image_tag "new/jiaoyi/zishen_03.png" %>高于/低于</a>
         </li>
      </ul>
  </div>

  <div class="zishenti">
      <div class="zishenti_left">
        <div id="zishentileft_top" class="zishentileft_top">
          <div class=" ">
            <a> <%= image_tag "new/jiaoyi/zishen_10.png", alt: "上一页", class: 'shangyi next-page' %> </a>

            <div id="ISL_Cont">
              <div class="swiper-container swiper-container-currency">
               <div class="swiper-wrapper" id="List1">
                  <% Forex.symbols.each{|symbol| %>
                    <div class="swiper-slide div2">
                        <div class="clearfix">
                          <a id="shouc" ><%= image_tag "new/jiaoyi/zishen_14.png", alt: "search" %></a>
                        </div>
                        <div>
                          <%= link_to page_path( id: "forex_adv", symbol: symbol) do %>

                            <%= image_tag "new/jiaoyi/zishen_25.png", alt: "guoqi1" %>
                            <%= image_tag "new/jiaoyi/zishen_27.png", alt: "guoqi2" %>
                            <p> <%= t( "forex.symbol.#{symbol}") %> </p>
                          <% end %>
                        </div>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
            <a> <%= image_tag "new/jiaoyi/zishen_199.png", alt: "下一页", class: 'xiayi previous-page' %> </a>
          </div>
        </div>

        <div id="kxianti" class="kxianti">
          <%= content_tag "div","", id: "advanced-chart-line-#{@symbol}", class: "forex-chart", data: {symbol: @symbol} %>
          <div id="kxiantitop_center" class="kxiantitop_center">
            <p> <span><%= t( "forex.symbol.#{@symbol}") %>-今天</span></p>
          </div>

          <div id="kxianti_top" class="kxianti_top">
             <div id="kxiantitop_anniu" class="kxiantitop_anniu">
              <%= image_tag "new/jiaoyi/zishen_50.png", alt: "放大"  %>
              <%= image_tag "new/jiaoyi/zishen_52.png", alt: "缩小"  %>
              <%= image_tag "new/jiaoyi/zishen_54.png", alt: "选择图标视图"  %>
              <%= image_tag "new/jiaoyi/zishen_56.png", alt: "选择时间"  %>
              <%= image_tag "new/jiaoyi/zishen_58.png", alt: "指标"  %>
            </div>

          </div>
          <div id="kxianti_down" class="kxianti_down" style="display:none;">

            <div class="hou1" ;="" onclick="showhidediv(&quot;div41&quot;)" style="float:left;"></div>
            <div class="hou2" ;="" onclick="showhidediv(&quot;div42&quot;)" style="float:left;"></div>
            <div class="hou3" ;="" onclick="showhidediv(&quot;div43&quot;)" style="float:left;"></div>
            <div class="hou4" ;="" onclick="showhidediv(&quot;div44&quot;)" style="float:left;"></div>

            <div class="xian" style="display:none;float:left;" id="div41_1"><h1>所有</h1></div>
            <div class="xian" style="display:none;float:left;" id="div42_2"><h1>账户</h1></div>
            <div class="xian" style="display:none;float:left;" id="div43_3"><h1>社区</h1></div>
            <div class="xian" style="display:none;float:left;" id="div44_4"><h1>图表</h1></div>
          </div>
      </div>
    </div>

    <div id="zishenti_right" class="zishenti_right">
      <%= render "user_auth_adv" %>
      <div class="zishentiright_down">

          <div  class=" b-game-round-time-wrapper game-type-1">
            <div style="margin: 8px 0; ">
              <span style="color:white;">开始时间 </span>
                <select id = "game-expiry-box" name="" class="b-game-expiry-box select2" style="">
                  <option value="1481424300000" selected="">今天 00:00</option>
                </select>
            </div>
          </div>

          <div class=" b-game-round-time-wrapper game-type-2 " style="display:none">
            <button class="btn game-short-expiry-tooltip" type="button" >
              今天<span class="b-game-round-expiry-at"> 00:00  </span>
            </button>
            <div class="btn-group" style="margin: 6px 0 0 0;">
              <button class="btn   b-expiry-in" type="button"  data-expiry-in="30">30sec</button>
              <button class="btn   b-expiry-in" type="button"  data-expiry-in="60">60sec</button>
              <button class="btn   b-expiry-in" type="button"  data-expiry-in="120">2min</button>
              <button class="btn   b-expiry-in" type="button"  data-expiry-in="300">5min</button>
            </div>
          </div>

       </div>
      <% @bid = Bid.new %>
       <%= simple_form_for(@bid, url: my_bids_path, remote: true) do |f| %>
       <input class="b-current-expiry-in" type="hidden" value="60">

       <%=  hidden_field_tag "game_round[instrument_code]", @symbol %>
       <%=  hidden_field_tag "game_round[start_at]"  %>
       <%=  hidden_field_tag "game_round[period]"  %>
       <%= f.input "rate", as: :hidden, value: '0.70'   %>
       <%= f.input "highlow", as: :hidden   %>
       <%= f.input "last_quote", as: :hidden   %>
        <div id="zishentiright_down" class="zishentiright_down">
          <div class="rightdown_top">
            <a href="javascript:void(0)" class="bid-highlow  b-bid" data-highlow="1">
              <div id="ggaoy" class="ggaoy">
                <input type="button" id="gaoyu1" value="高">
                <span id="shouyi7">收益70%</span>
              </div>
            </a>
            <a href="javascript:void(0)" class="bid-highlow  b-bid" data-highlow="0">
              <div id="ddiy" class="ddiy">
               <input type="button" id="diyu1" value="低">
               <span id="shouyi8">收益70%</span>
              </div>
            </a>
            <%= content_tag('span', '0.0000', class: "b-instrument-last-quote top_span", data:{ symbol: @symbol}) %>
          </div>
          <div class="rightdown_down">
            <div id="r_left" class="r_left">
              <%= image_tag "new/jiaoyi/zishen_80.png", alt: "highlow is 0", class: 'b-bid-icon b-bid-icon-0' , style: "display:none;"%>
              <%= image_tag "new/jiaoyi/zishen_81.png", alt: "highlow is 1", class: 'b-bid-icon b-bid-icon-1' %>
            </div>
            <div id="r_right" class="r_right">
              <span class="fuhao">$</span>
              <input type="text"  name="bid[amount]" value="100" id="jiaqina" class="jiaqina b-bid-cost">
            </div>
            <div id="butongjia" class="butongjia">
              <div class="bu10"><input class="b-bid-more-price" type="button" value="+10"></div>
              <div class="bu10"><input class="b-bid-more-price" type="button" value="+25"></div>
              <div class="bu10"><input class="b-bid-more-price" type="button" value="+50"></div>
              <div class="bu10"><input class="b-bid-more-price" type="button" value="+100"></div>
            </div>
            <div class="dijiaoyi">
              <input class="  b-submit-bid " type="button" value="交易">
              <span class="b-game-round-start-countdown" style="color:white;">00:00</span>

              <p>剩余时间</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="kac">
    <div class="kaicang1">
      <table class="b-bids" rules="rows">
        <thead>
          <tr>
            <td>交易id</td>
            <td>交易时间</td>
            <td>到期时间</td>
            <td>资产</td>
            <td>当期价格</td>
            <td>投资</td>
            <td>收益</td>
            <td>状态</td>
           </tr>
        </thead>
        <tbody>

        <% if current_user %>
          <% current_user.bids.pending.order(created_at: :desc).each{ |bid| %>
            <tr>
            <td><%= bid.id %></td>
            <td><%= bid.display_created_at %> </td>
            <td><%= bid.game_round.display_end_at %></td>
            <td><%= bid.game_round.instrument_code %></td>
             <td><%= bid.last_quote %></td>
            <td><%= bid.amount %></td>
            <td><%= bid.profit %></td>
            <td><%= bid.state %></td>
            </tr>
          <% } %>
        <% end %>
      </tbody></table>
    </div>
    </div>
</div>
<script language="javascript">
  //创建一个showhidediv的方法，直接跟ID属性
  function showhidediv(id){
    var div41=document.getElementById("div41_1");
    var div42=document.getElementById("div42_2");
    var div43=document.getElementById("div43_3");
    var div44=document.getElementById("div44_4");
    if (id == 'div41') {
       if (div41.style.display=='none') {
        div41.style.display='block';
        div42.style.display='none';
        div43.style.display='none';
        div44.style.display='none';
       }
    } else if(id == 'div42'){
       if (div42.style.display=='none') {
        div41.style.display='none';
        div42.style.display='block';
        div43.style.display='none';
        div44.style.display='none';
       }
     }
    else if(id == 'div43'){
     if (div43.style.display=='none') {
      div41.style.display='none';
      div42.style.display='none';
      div43.style.display='block';
      div44.style.display='none';
     }
   }
   else if(id == 'div44'){
     if (div44.style.display=='none') {
      div41.style.display='none';
      div42.style.display='nene';
      div43.style.display='none';
      div44.style.display='block';
     }
   }
  }
</script>
<%= render 'registry' %>
