<%=form_tag batch_delete_admin_game_instruments_path, method: :put do%>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>名称</th>
        <th>代码</th>
        <th>类别</th>
        <th>赔率</th>
        <th>热门</th>

<!--
        <th colspan="2">
          <%=link_to "添加资产", new_admin_game_instrument_path, class: "btn btn-primary btn_xs"%>
        </th>
        <th><%=submit_tag "删除", class: "btn btn-primary btn_xs"%></th>
        <th><%=submit_tag "设为热门", class: "btn btn-primary btn_xs", formaction: batch_hot_admin_game_instruments_path%></th>
        <th><%= check_box_tag "selectall", 1, false %></th>
-->
      </tr>
    </thead>

    <tbody>
      <% if @game_instruments.empty? %>
        <tr>
          <td colspan="9">暂无资产</td>
        <tr>
      <% else %>
      <% @game_instruments.each do |game_instrument| %>
        <tr>
          <td><%= game_instrument.name %></td>
          <td><%= game_instrument.code %></td>
          <td><%= t "forex.category."+game_instrument.category_id %></td>
          <td><%= game_instrument.default_rate %></td>
          <td><%= game_instrument.hot==true ? "是" : "否" %></td>
<!--
          <td><%= link_to "查看", admin_game_instrument_path(game_instrument), method: 'get' %></td>
          <td><%= link_to "编辑", edit_admin_game_instrument_path(game_instrument) %></td>
          <td><%= link_to "删除", admin_game_instrument_path(game_instrument), method: 'delete' %></td>
          <td><%= link_to (game_instrument.hot == 1 ? "取消热门" : "设成热门"), hot_admin_game_instrument_path(game_instrument), method: 'put' %></td>
          <td><%= check_box_tag "selected_game_instruments[]", game_instrument.id, false, class: "selectedId" %></td>
-->
        </tr>
      <% end %>
    <% end %>

    </tbody>
  </table>
<% end %>

<%= will_paginate @game_instruments if @game_instruments.respond_to? :total_pages%>
