<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Datetime</th>
      <th>Serialnumber</th>
      <th>Method</th>
      <th>Amount</th>
      <th>State</th>
    </tr>
  </thead>

  <tbody>
    <%total_amount=0%>
    <% if @drawings.empty? %>
      <tr>
        <td colspan="6">No drawing records</td>
      <tr>
    <% else %>
      <% @drawings.each do |drawing| %>
        <tr>
          <td><%= drawing.created_at.to_i %></td>
          <td><%= drawing.created_at %></td>
          <td><%= drawing.number %></td>
          <td><%= drawing.user_bank_name %></td>
          <td><%= drawing.amount %></td>
          <td><%= drawing.state %></td>
        </tr>
        <%total_amount += drawing.amount%>
      <% end %>
    <% end %>
    <tr>
      <td colspan="6"><%=content_tag :span, "total amount:#{total_amount}", style: 'float:right;'%></td>
    <tr>
  </tbody>
</table>
<%= will_paginate @drawings if @drawings.respond_to? :total_pages%>
