<% platform ||= "my"%>
<% th_class = platform == "my" ? "xsjg1" : ""%>
<% tr_class = platform == "my" ? "xsjg2" : ""%>
<% p_class = platform == "my" ? "czjlll" : ""%>
<% t_class = platform == "my" ? "" : "table table-striped"%>

<table class="<%=t_class%>">
  <thead>
    <tr class="<%=th_class%>">
      <th>ID</th>
      <th>日期/时间(GMT+8)</th>
      <th>交易号码</th>
      <th>提款方式</th>
      <th>全额(RMB)</th>
      <th>状态</th>
    </tr>
  </thead>

  <tbody>
    <%total_amount=0%>
    <% if @drawings.empty? %>
      <tr class="<%=tr_class%>">
        <td colspan="6">暂无记录</td>
      <tr>
    <% else %>
      <% @drawings.each do |drawing| %>
        <tr class="<%=tr_class%>">
          <td><%= drawing.created_at.to_i %></td>
          <td><%= drawing.display_created_at %></td>
          <td><%= drawing.number %></td>
          <td><%= drawing.user_bank_name %></td>
          <td><%= drawing.display_amount %></td>
          <td><%= display_state(drawing.state) %></td>
        </tr>
        <%total_amount += drawing.amount%>
      <% end %>
    <% end %>

  </tbody>
</table>
<p class="<%=p_class%>">提款记录总额：<b><%=display_money(total_amount)%></b></p>

<%= will_paginate @drawings if @drawings.respond_to? :total_pages%>
