<% content_for :page_title  do %>
  <p class="fanhui"> <%= fa_icon "angle-left" %></p>
  <p class="iphonelan">提现</p>
<% end %>

<div >
	<%@user_bank= @drawing.user_bank || @user_banks.first%>
	<div class="shou_top2">

		<%= better_form_for(@drawing, url: my_drawings_path) do |f| %>
			<div class="form-inputs">
				<%= f.fields_for :user_bank do |user_banks_form| %>
					<%=render 'my/account/bank_form_content', :bank_form => user_banks_form, :bank_disable=>@drawing.user_bank.persisted?, :pdisplay=>"display:block;"%>
				<% end %>
				<%= f.input :amount, label: "提现全额", as: 'string', placeholder: "请输入提现金额" %>
			</div>
      <div class="form-actions">
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <%= f.button :submit, "提交"  %>
          </div>
        </div>
      </div>

		<% end %>
	</div>

</div>
