<%
@start_date ||= ""
@end_date ||= ""
%>
<div class="clearfix" >
  <%=form_tag search_bonuses_my_wallets_path do%>
    <%=text_span "起始日期"%><%=calendar "start_date", @start_date%><%=text_span "到"%><%=calendar "end_date", @end_date%>
    <%=content_tag(:div, submit_tag("查询",  class:"form-control"), style:'width:100px;float:left;margin:5px;')%>
  <%end%>
</div>
<div id="bonus_records" >
  <%=render partial: "bonus_records"%>
</div>
<script type="text/javascript">
  $(function () {
    $('.calendar').datetimepicker({format: "YYYY-MM-DD"});
  });
</script>
