<% platform ||= "my"%>
<% th_class = platform == "my" ? "xsjg1" : ""%>
<% tr_class = platform == "my" ? "xsjg2" : ""%>
<% p_class = platform == "my" ? "czjlll" : ""%>
<% t_class = platform == "my" ? "" : "table table-striped"%>
<table class="<%=t_class%>">
  <thead>
    <tr class="<%=th_class%>">
      <th>ID</th>
      <th>日期/时间(GMT+8)</th>
      <th>交易号码</th>
      <th>全额(RMB)</th>
      <th>说明</th>
    </tr>
  </thead>

  <tbody>
    <%total_amount=0%>
    <% if @bonuses.empty? %>
      <tr class="<%=tr_class%>">
        <td colspan="5">暂无记录</td>
      <tr>
    <% else %>
      <% @bonuses.each do |bonus| %>
        <tr class="<%=tr_class%>">
          <td><%= bonus.created_at.to_i %></td>
          <td><%= bonus.display_created_at %></td>
          <td><%= bonus.number %></td>
          <td><%= bonus.display_amount %></td>
          <td><%= bonus.memo %></td>
        </tr>
        <%total_amount += transfer.amount%>
      <% end %>
    <% end %>
  </tbody>
</table>
<p class="<%=p_class%>">红利记录总额<b><%=display_money(total_amount)%></b></p>
<%= will_paginate @bonuses if @bonuses.respond_to? :total_pages%>
