<%
@start_date ||= ""
@end_date ||= ""
%>
<div class="clearfix" >
  <%=form_tag search_bonuses_my_wallets_path, class:"form-inline", role:"form" do%>
    <div class="form-group">
      <label for="start_date">起始日期</label>
      <%=calendar "start_date", @start_date%>
    </div>
    <div class="form-group">
      <label for="end_date">到</label>
      <%=calendar "end_date", @end_date%>
    </div>
    <div class="form-group">
      <%=submit_tag "查询",  class:"form-control"%>
    </div>

  <%end%>
</div>
<div id="bonus_records" >
  <%=render partial: "bonus_records"%>
</div>
<script type="text/javascript">
  $(function () {
    $('.calendar').datetimepicker({format: "YYYY-MM-DD"});
  });
</script>
