<%= simple_form_for(@wallet) do |f| %>
  <%#= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :amount %>
    <%= f.input :memo %>
    <%= f.input :deleted_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
