<% content_for :page_title  do %>
  <p class="fanhui"> <%= fa_icon "angle-left" %></p>
  <p class="iphonelan">电子钱包</p>
<% end %>
<div >
	<%= link_to '入金', new_my_deposit_path, class: "btn btn-default pull-right" %>
	<div class="shou_down">
		<table class="table">
			<tbody><tr>
				<td>余额</td><td> <%= current_user.wallet_balance %></td>
			</tr>
			<tr>
				<td>可用现金</td><td> <%= current_user.net_cash  %> </td>
			</tr>
			<tr>
				<td>可用赠金</td><td> <%= current_user.net_bonus %> </td>
			</tr>
			<tr>
				<td>已投资</td><td> <%= current_user.bid_sum %> </td>
			</tr>
		</tbody>
    </table>
	</div>

</div>
