<p id="notice"><%= notice %></p>

<h1>User Wallets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Game center</th>
      <th>Amount</th>
      <th>Memo</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wallets.each do |wallet| %>
      <tr>
        <td><%= wallet.user %></td>
        <td><%= wallet.amount %></td>
        <td><%= wallet.memo %></td>
        <td><%= wallet.deleted_at %></td>
        <td><%= link_to 'Show', wallet %></td>
        <td><%= link_to 'Edit', edit_wallet_path(wallet) %></td>
        <td><%= link_to 'Destroy', wallet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Wallet', new_wallet_path %>
