<div class="chuantongbody">
  <%=image_tag "new/dailiimg/qianjing_02.gif", class:"dailibanner" %>
  <div class="chuantongnei">
    <div class="ctnei1">
      <a href=""><span>传统模式</span></a><a href=""><b>加盟优势</b></a>

    </div>
    <%=image_tag "new/dailiimg/youshi_03.gif" %>
    <%=image_tag "new/dailiimg/youshi_05.gif" %>
    <%=image_tag "new/dailiimg/youshi_06.gif" %>
    <%=image_tag "new/dailiimg/youshi_07.gif" %>
  </div>
</div>
