<div class="chuantongbody">
  <%=image_tag "new/dailiimg/qianjing_02.gif", class:"dailibanner" %>
  <div class="tiaokuannei">


    <div style="color:#fff;">
      <%=image_tag "new/fuchi1_03.jpg" %>
      <%=image_tag "new/fuchi1_06.jpg" %>
      <%=image_tag "new/fuchi1_08.jpg" %>
      <%=image_tag "new/fuchi1_09.jpg" %>
      <%=image_tag "new/fuchi1_10.jpg" %>
 
  </div>

  </div>
</div>
