<div class="chuantongbody">
  <%=image_tag "new/dailiimg/qianjing_02.gif", class: "dailibanner"%>
  <div class="qianjingnei">

    <div style="color:#fff;">
      <%=image_tag "new/youshi_03.jpg" %>
      <%=image_tag "new/youshi_05.jpg" %>
      <%=image_tag "new/youshi_07.jpg" %>
      <%=image_tag "new/youshi_08.jpg" %>
      <%=image_tag "new/youshi_10.jpg" %>
      <%=image_tag "new/youshi_11.jpg" %>

       <div class="aa">
         <%=image_tag "new/youshi_13.jpg", class: "fangdajing"%>
        <div class="bb">
          <%=image_tag "new/taiyangxi.jpg", class: "taiyangxi"%>
        </div>
       </div>

    </div>
  </div>
</div>
