<div class="qianjingbody">
  <%=image_tag "new/dailiimg/qianjing_02.gif", class:"dailibanner" %>
  <div class="qianjingnei">
    <div class="qianjingnei1">
    <ul>
    <li><h1>1、立即注册</h1><h2>轻松30秒注册</h2></li>
    <li><h1>2、审核批准</h1><h2>后台严格审核</h2></li>
    <li><h1>3、获取追踪代码</h1><h2>代码追踪获取</h2></li>
    <li><h1>4、开始赚钱</h1><h2>开始赚钱之路</h2></li>
    </ul>
    </div>
    <%=image_tag "new/dailiimg/qianjing_09.gif", class: "btbt1" %>
    <div class="qianjingnei2">
    <ul>
      <li><%=image_tag "new/dailiimg/qianjing_12.gif" %><h3>也许您曾迷茫过</h3></li>
      <li><%=image_tag "new/dailiimg/qianjing_13.gif" %><h3>也许您曾无助过</h3></li>
      <li><%=image_tag "new/dailiimg/qianjing_14.gif" %><h3>也许您觉得与成功 已经擦肩而过？</h3></li>
      <li><%=image_tag "new/dailiimg/qianjing_15.gif" %><h3>事实并非如此，我们愿成 为您人生道路上的转折点</h3></li>
      <li><%=image_tag "new/dailiimg/qianjing_16.gif" %><h3>加入我们，给自 己一个改变的机会</h3></li>
    </ul>
    </div>
    <%=image_tag "new/dailiimg/qian_03.gif", class: "qian" %>
    <%=image_tag "new/dailiimg/qianjing_20.gif" %>
    <div class="qianjingnei3">
      <ul>
        <li><%=image_tag "new/dailiimg/qianjing_24.gif" %></li>
        <li><%=image_tag "new/dailiimg/qianjing_25.gif" %></li>
        <li><%=image_tag "new/dailiimg/qianjing_27.gif" %></li>
        <li><%=image_tag "new/dailiimg/qianjing_32.gif" %></li>
        <li><%=image_tag "new/dailiimg/qianjing_34.gif" %></li>
        <li><%=image_tag "new/dailiimg/qianjing_37.gif" %></li>
      </ul>
    </div>
  </div>
</div>
