<div class="qianjingbody">
  <%=image_tag "new/dailiimg/qianjing_02.gif", class:"dailibanner"%>
  <div class="qianjingnei">
    <div class="hezuo">


    <!--文章内容开始-->
      <div style="color:#fff;">
        <%=image_tag "new/fuchi_03.jpg" %>
        <%=image_tag "new/fuchi_06.jpg" %>
        <%=image_tag "new/fuchi_07.jpg" %>
        <%=image_tag "new/fuchi_08.jpg" %>
     
      </div>
                      <!--文章内容结束-->
  	</div>
</div>
