<%= render partial: "users/profile" %>
<div class="row">
  <%= render partial: "shared/user_sidebar" %>
  <div class="col-md-10 user-content" >
    <p id="notice"><%= notice %></p>
    <div class="my-sub-title ng-binding">充值记录</div>
    <div class="">
      <%=form_tag search_deposits_path, id:'deposit_form',remote:true do%>
        <%=content_tag :span, "start date", style:'display:block;float:left'%><%=calendar "start_date"%><%=content_tag :span, "to", style:'display:block;float:left'%><%=calendar "end_date"%>
        state<%=deposit_state_select "state"%>
        <%=submit_tag "search"%>
      <%end%>
    </div>
    <div id="deposit_records">
      <%= render partial: "records" %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    $('.calendar').datetimepicker({format: "YYYY-MM-DD"});
  });
</script>
