<%if @messages.present?%>
<table class="table">
  <thead>
    <tr class="xsjg1">
      <td><p>日期/时间</p></td>
      <td><p>主题<%=link_to '全部标记为空', read_my_messages_path, :method=>:put, style:"margin-left:30px;color:red;"%></p></td>
      <td><p style="color:red"><%=link_to "清空", delete_my_messages_path(), :method=>:put, style:"color:red;" %></p></td>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
    <tr class="xsjg2">
      <td><%= message.created_at.to_s(:db) %></td>
      <td>
        <span id="mspan<%=message.id%>" <%unless current_user.read? message.id %>style="font-weight:bold;"<%end%> >
          <%=link_to message.title, read_my_message_path(message),:method=>:put, :remote=>true,:onclick=>"$('#mc#{message.id}').toggle();$('#mspan#{message.id}').css('font-weight','normal')" %>
        </span>
      </td>
      <td><%=link_to '删除',my_message_path(message,:page=>@page), :method=>:delete%></td>
    </tr>
    <tr id="mc<%=message.id%>" style="display:none;">
      <td colspan="3"><%= message.content %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @messages %>
<% else %>
  您还没有收到消息
<% end %>
