<%disabled = (@user_bank && @user_bank.persisted?) ? true : false%>
<%password_display=(@user_bank && @user_bank.persisted?) ? "display:none" : "display:block"%>
<%= label_tag :real_name, "Name on card" %>
<%= inline_text_span(current_user.real_name)%>
<%= bank_form.input :name, as:"string", disabled: disabled %>
<%= bank_form.input :card_number, as:"string", disabled: disabled  %>
<%= bank_form.input :branch_name, as:"string", disabled: disabled  %>
<%= bank_form.input :address, as:"string", disabled: disabled  %>
<div id="password_div" style="<%=password_display%>">
  <%= bank_form.input :current_money_password, class:"required" %>
</div>
