<%= better_form_for(current_user, :url=>{:action=>"community_set"}) do |f| %>
  <table>
    <tbody>
      <tr>
        <td class="gongzhongduan">公众名字：</td>
        <td>
          <%= f.input :nickname, label: false, as:"string", input_html:{class:"gongzhongmingzi"} %>
          <input value="检测" class="mingzijian" type="button">
          <div id="test_result"></div>
        </td>
      </tr>
      <tr>
        <td class="gongzhongduan1">公众头像：</td>
        <td>
          <div class="touxiangbg">
            <%= f.input :avatar_remote_url, label: false, as:"hidden"%>
            <%=image_tag current_user.avatar_upload_url, id:'avatar', onclick:"$('#user_avatar').click();", width:"80", height:"80" %>
            <%= f.input :avatar, label: false, as:"file", input_html: {style:"margin:0;height:1;width:1;", onchange:"preview_avatar(this)"} %>
          </div>
          <%=image_tag "new/toujingshi.png", size:"", class:"toujingshi" %>
          <%if current_user.errors.has_key?(:avatar)%>
            <span style="color:red;border:0;"><%= current_user.errors[:avatar].first%></span>
          <%end%>
        </td>
      </tr>
      <tr>
        <td class="gongzhongduan1"> </td>
        <td>
          <div class="gongzhongduan2">
            <%=image_tag  image_url("new/touxiang1.jpg")%><%=image_tag image_url("new/touxiang2.jpg")%>
            <%=image_tag image_url("new/touxiang3.jpg")%><%=image_tag image_url("new/touxiang4.jpg")%>
            <%=image_tag image_url("new/touxiang5.jpg")%><%=image_tag image_url("new/touxiang6.jpg")%>
            <%=image_tag image_url("new/touxiang7.jpg")%><%=image_tag image_url("new/touxiang8.jpg")%>
            <%=image_tag image_url("new/touxiang9.jpg")%><%=image_tag image_url("new/touxiang10.jpg")%>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <input value="上传" class="txan" style="float: left !important;margin-left: 200px;" type="submit">
<% end %>
