<div>
  <%= better_form_for(current_user, :url=>{:action=>"set_email"}) do |f| %>
    <div class="form-inputs">
      <div class="form-group string optional user_phone" style="display:block;margin:10px 0;">
        <%= f.label :current_email, "当前邮件", class: 'col-md-2', style: 'text-align:right;' %>
        <%=inline_text_span(current_user.email)%>
      </div>
      <%= f.input :current_password  %>
      <%= f.input :email %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "更新邮件", class: 'col-md-offset-2'  %>
    </div>
  <% end %>
</div>
