<div class="huiyuanbody">
  <div class="hybody_top">
    <div class="hbtop_left">
      <%=link_to community_set_my_account_path(current_user) do %>
        <%=image_tag current_user.avatar_url, class:"touxiangss"%>
      <%end%>
      <h2><%= current_user.display_name %></h2>
      <div><%=image_tag "new/noimages/jidui_11.gif", class:"dengjitiao"%> </div>
      <div class="dengji"></div>
    </div>

    <div class="hbtop_right">
          <div class="bton">
            <div class="yuanbg"><%=image_tag "new/noimages/gerentu_03.gif"%><b>余额：</b><span><%=display_money(current_user.center_wallet_balance)%></span></div>
            <div class="yuanbg"><%=image_tag "new/noimages/gerentu_06.gif"%><b>以投资：</b><span>$0</span></div>
            <div class="yuanbg"><%=image_tag "new/noimages/gerentu_08.gif"%><b>待付奖金：</b><span>$0</span></div>
          </div>
          <div class="bton1">
            <div class="yuanbg1"><b>总交易量：</b><span>$0</span></div>
            <%= link_to image_tag("new/noimages/jidui_08.gif"), agent_user_index_path, class: '' %>
          </div>
    </div>
    <div>
       <div style="float:right"><%=image_tag "new/noimages/gongg.png", class:"dengjitiao"%> </div>
    </div>


  </div>
  <div id="light" class="white_content"> <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'" class="guanbi">X</a>
  <div class="qiandao">
  <div class="zongrenshu"><p>签到人数：今日您是第<span>39966</span>个签到的用户</p>
  </div>
    <div class="qdcs"><h1>累计每签到5天，可获得抽奖机会一次！</h1>
    <p>我的积分：50</p><a href=""><%=image_tag "new/noimages/qiandao_10.gif"%></a><h6>累计签到五天</h6>
    </div>
  <div class="wode"><h3>我的获奖记录</h3><div class="wodenei"></div></div>
  <div class="mingdan"><h3>获奖名单</h3><div class="mingdannei"></div></div>
  </div>
  </div>
