<%selected_password ||=@selected_password%>
<%login_active = selected_password == "login" ? "active" : ""%>
<%money_active = selected_password == "money" ? "active" : ""%>

<div class="chongzhi_top">
    <span><%=link_to "登录密码",{}, href:"#login", role:"tab", "data-toggle":"tab"%></span>
    <span><%=link_to "资金密码",{}, href:"#money", role:"tab", "data-toggle":"tab"%></span>
  <hr>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane <%=login_active%> zxzhifu" id="login">
    <%= better_form_for(current_user, url: {:action=>"change_password"} ) do |f| %>
      <div class="form-inputs">
        <%= f.input :current_password, label: "当前密码" %>
        <%= f.input :password, label: "密码" %>
        <%= f.input :password_confirmation, label: "密码确认" %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "保存", class:"ggtj1" %>
      </div>
    <% end %>
  </div>

  <div role="tabpanel" class="tab-pane <%=money_active%> zxzhifu" id="money">
    <%= better_form_for(current_user, :url=>{:action=>"change_password"}) do |f| %>
      <div class="form-inputs">
        <%= f.input :current_money_password, label: "当前资金密码" %>
        <%= f.input :money_password, label: "资金密码" %>
        <%= f.input :money_password_confirmation, label: "资金密码确认" %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "保存", class:"ggtj1" %>
      </div>
    <% end %>
  </div>

</div>
