<div class="zxzhifu">
  <%= better_form_for(current_user, :url=>{:action=>"set_password_protection"}) do |f| %>
    <div class="form-input">
      <%= f.input :current_password, label: '当前密码', placeholder: "请输入当前密码" %>
      <%= f.input :pp_question , label: '密保问题', placeholder: "请输入密保问题"%>
      <%= f.input :pp_answer, label: '密保答案', placeholder: "请输入密保答案" %>
    </div>
    <div class="form-action">
      <%= f.button :submit, "设置", class: 'col-md-offset-2 ggtj1' %>
    </div>
  <% end %>
</div>
