<div style="width:400px;">
  <%= better_form_for(current_user, :url=>{:action=>"set_password_protection"}) do |f| %>
    <div class="form-input">
      <%= f.input :current_password %>
      <%= f.input :pp_question , label: '密保问题'%>
      <%= f.input :pp_answer, label: '密保答案' %>
    </div>
    <div class="form-action">
      <%= f.button :submit, "设置" %>
    </div>
  <% end %>
</div>
