<%login_active = selected_password == "login" ? "active" : ""%>
<%money_active = selected_password == "money" ? "active" : ""%>
<ul class="nav nav-tabs" role="tablist" id="passwordTab">
  <li role="presentation" class="<%=login_active%>">
    <%=link_to "登录密码",{}, href:"#login", role:"tab", "data-toggle":"tab"%>
  </li>
  <li role="presentation" class="<%=money_active%>">
    <%=link_to "资金密码",{}, href:"#money", role:"tab", "data-toggle":"tab"%>
  </li>
</ul>

<div class="tab-content" style="padding-top:15px;">
  <div role="tabpanel" class="tab-pane <%=login_active%>" id="login">
    <%= better_form_for(current_user,:url=>{:action=>"change_password"}) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :current_password %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "更新登录密码", class: 'col-md-offset-2' %>
      </div>
    <% end %>
  </div>

  <div role="tabpanel" class="tab-pane <%=money_active%>" id="money">
    <%= better_form_for(current_user, :url=>{:action=>"change_password"}) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :current_money_password, label: "当前资金密码" %>
        <%= f.input :money_password, label: "资金密码" %>
        <%= f.input :money_password_confirmation, label: "资金密码确认" %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "更新资金密码", class: 'col-md-offset-2' %>
      </div>
    <% end %>
  </div>

</div>
