<div class="row profile">

  <div class="col-md-2">
    <p>你好！ <%= current_user.nickname %> </p>
    <p>  最近登录：<%= l current_user.last_sign_in_at, format: :better %>  </p>
  </div>
  <div class="col-md-10">
      <div class="pull-left">
        账户资产: ￥<%=current_user.center_wallet_balance%>
      </div>
      <div class="pull-right">
        <%=link_to "资金密码", change_password_my_account_path(current_user, :selected_password=> "money")%>
        <%=link_to "电子邮箱", set_email_my_account_path(current_user)%>
        <%=link_to "密保问题", set_password_protection_my_account_path(current_user)%>
      </div>

      <div class="pull-right">
        安全指数80 <%=link_to "提升", {controller: 'my/account', action: 'security_center', id: current_user}%>
      </div>

  </div>
</div>
