<div>
  <%= better_form_for(current_user, :url=>{:action=>"change_profile"}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.label :nickname%>
      <%=inline_text_span(current_user.name)%><br>
      <%= f.label :gender%>
      <%= f.collection_radio_buttons :gender, [['male', 'Male'] ,['female', 'Female'],['secret', 'Secret']], :first, :last%>
      <%= f.input :phone, as:"string" %>
      <%= f.input :qq, as:"string" %>
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
