<%db_user = User.find(current_user.id)%>
<%disabled = db_user.bind_name? ? true : false%>
<div class="zxzhifu">
  <%= better_form_for(current_user, :url=>{:controller=>"my/account",:action=>"bind_name"}) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :first_name, label: '名', disabled: disabled%>
      <%= f.input :last_name, label: '姓', disabled: disabled%>
      <%= f.input :id_type, label: '证件类型' do %>
        <%= f.collection_radio_buttons :id_type, [['id_card', '身份证'] ,['passport', '护照']], :first, :last, disabled: disabled %>
      <% end %>
      <%= f.input :id_number, label: '证件号', placeholder: "请输入证件号", disabled: disabled %>
      <%= f.input :phone, label: '电话号码', placeholder: "请输入电话号码" %>
      <div class="form-group string optional ">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <%=link_to "发送验证码", {}, class:"btn btn-default", href:"#", onclick:"$('#send_code').val('1');$('#edit_user_#{current_user.id}').submit();return false;" %>
        </div>
      </div>
      <%= f.input :validate_code, label: '验证码', placeholder: "请输入验证码" %>
      <%=hidden_field_tag :send_code, "0" %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, '绑定实名', class: 'col-md-offset-2 ggtj1' %>
    </div>
  <% end %>
</div>
