<table>
  <tbody>
    <tr>
      <td><span>登录密码</span></td>
      <td><b>+30分</b></td>
      <td class="llong">强度高的密码更安全</td>
      <td class="iimg">
        <%=link_to change_password_my_account_path(current_user) do %>
          <%=image_tag "new/noimages/anquanzhongxin_07.gif"%>
        <%end%>
      </td>
    </tr>
    <tr>
      <td><span>绑定实名</span></td>
      <td><b>+15分</b></td>
      <td class="llong">个人真实身份信息， 用户提款和确认身份</td>
      <td class="iimg">
        <%=link_to bind_name_my_account_path(current_user) do%>
          <%image_no = current_user.bind_name? ? "10" : "14"%>
          <%=image_tag "new/noimages/anquanzhongxin_#{image_no}.gif"%>
        <%end%>
      </td>
    </tr>
    <tr>
      <td><span>资金密码</span></td>
      <td><b>+15分</b></td>
      <td class="llong">非常重要！ 用于提款或转账时验证身份</td>
      <td class="iimg">
        <%=link_to change_password_my_account_path(current_user) do%>
          <%=image_tag "new/noimages/anquanzhongxin_07.gif"%>
        <%end%>
      </td>
    </tr>
    <tr>
      <td><span>绑定银行卡</span></td>
      <td><b>+20分</b></td>
      <td class="llong">提款银行卡，绑定后账户资金更加安全</td>
      <td class="iimg">
        <%=link_to new_my_user_bank_path do%>
          <%image_no = current_user.bind_bank? ? "10" : "14"%>
          <%=image_tag "new/noimages/anquanzhongxin_#{image_no}.gif"%>
        <%end%>
      </td>
    </tr>
    <tr>
      <td><span>绑定邮箱</span></td>
      <td><b>+10分</b></td>
      <td class="llong">用于保护账户安全和找回密码</td>
      <td class="iimg">
        <%=link_to set_email_my_account_path(current_user) do%>
          <%image_no = current_user.bind_email? ? "10" : "14"%>
          <%=image_tag "new/noimages/anquanzhongxin_#{image_no}.gif"%>
        <%end%>
      </td>
    </tr>
    <tr>
      <td><span>密保问题</span></td>
      <td><b>+10分</b></td>
      <td class="llong">用户找回密码、修改账户资料时验证身份</td>
      <td class="iimg">
        <%=link_to set_password_protection_my_account_path(current_user) do%>
          <%image_no = current_user.set_password_protection? ? "10" : "12"%>
          <%=image_tag "new/noimages/anquanzhongxin_#{image_no}.gif"%>
        <%end%>
      </td>
    </tr>

  </tbody>
</table>
