<%= better_form_for(current_user, url: {:action=>"change_password"} ) do |f| %>
  <div class="form-inputs">
    <%= f.input :current_password, label: "当前密码" %>
    <%= f.input :password, label: "密码" %>
    <%= f.input :password_confirmation, label: "密码确认" %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "保存", class:"ggtj1" %>
  </div>
<% end %>
