
<div class="my-sub-title">
  <span> 中心钱包 </span>
  <div class="pull-right">
    <%=link_to "充值", {controller: 'my/deposits', action: 'new'}, class:"btn btn-primary"%>
    <%=link_to "提款", {controller: 'my/drawings', action: 'new'}, class:"btn btn-primary"%>
  </div>
</div>

    <div class="panel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">

        <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab"> 红利记录</a></li>
        <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">投注记录</a></li>
        <li role="presentation"><a href="#messages" role="tab" data-toggle="tab">充值记录</a></li>
        <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">提款记录</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <%= render partial: "my/wallets/bonus_records" %>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <%= render partial: "my/bids/records" %>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">
          <%= render partial: "my/deposits/records" %>
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">
          <%= render partial: "my/drawings/records" %>
        </div>
      </div>
