

  <div class="col-md-10 user-content" >
    <div class="row">
      <div class="col-md-4">
        <p>
    			<span class="my-mini-title " ng-bind="'my-centerMoney' | i18n">中心钱包</span>
    			<span class="money " ng-bind="$root.user.balance.centreBalance | currency: '' : 2">0.00</span><span class="" ng-bind="'common-currencyunit' | i18n">元</span>
    			<div class="button-set am-text-center">
    				<button href-plus="" url="#/my/recharge" class="btn btn-primary"><span class="" ng-bind="'user-operation-charge' | i18n">充值</span></button>
    				<button href-plus="" url="#/my/withdraw" class="btn btn-primary"><span class="" ng-bind="'user-operation-withdrawal' | i18n">提款</span></button>
    				<button href-plus="" url="#/my/transfers" class="btn btn-primary"><span class="" ng-bind="'user-operation-transfers' | i18n">转账</span></button>
    			</div>
        </p>
  			<div class="recover relative">
  				<span class="pointer" ng-click="onekeyBack()"></span>
  			</div>

      </div>
      <div class="col-md-8">
        娱乐
      </div>
    </div>
    <p class="">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">

        <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab"> 红利记录</a></li>
        <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">投注记录</a></li>
        <li role="presentation"><a href="#messages" role="tab" data-toggle="tab">充值记录</a></li>
        <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">提款记录</a></li>
        <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">转账记录</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home"> 红利记录 </div>
        <div role="tabpanel" class="tab-pane" id="profile">投注记录</div>
        <div role="tabpanel" class="tab-pane" id="messages">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>日期/时间(GMT+8)</th>
                <th>交易号码</th>
                <th>存款方式</th>
                <th>金额(RMB) </th>
                <th>状态 </th>
              </tr>
            </thead>

            <tbody>
              <% @deposits.each do |deposit| %>
                <tr>
                  <td><%= deposit.created_at.to_i %></td>
                  <td><%= deposit.updated_at %></td>
                  <td><%= deposit.number %></td>
                  <td><%= deposit.payment_method_name %></td>
                  <td><%= deposit.amount %></td>
                  <td><%= deposit.state %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">...</div>
        <div role="tabpanel" class="tab-pane" id="transfers">...</div>
      </div>
    </p>

  </div>
