<% content_for :page_title  do %>
  <div class="container">
    	<h2>数据概况 <small>显示您当月业绩达成状况</small></h2>
  </div>
<% end %>

<div class="container ">
  <div class="row">
      <div class="col-xs-4">
        <%=image_tag "new/dailiimg/shujutu_03.gif" %>
        <h5><%=current_user.children.size%></h5><h6>总人数</h6>
      </div>
      <div class="col-xs-4">
        <%=image_tag "new/dailiimg/shujutu_05.gif" %>
        <h5><%=@user.energetic_member_count || 0%></h5><h6>活跃人数</h6>
      </div>
      <div class="col-xs-4">
        <%=image_tag "new/dailiimg/shujutu_07.gif" %>
        <h5><%=@user.clink_visits || 0%></h5><h6>点击数</h6>
      </div>

      <div class="col-xs-4">
        <%=image_tag "new/dailiimg/shujutu_09.gif" %>
        <h5><%=@user_month.display_drawing_amount%></h5><h6>提款额</h6>
      </div>
      <div class="col-xs-4">
        <%=image_tag "new/dailiimg/shujutu_11.gif" %>
        <h5><%=@user_month.drawing_member_count%></h5><h6>提款人数</h6>
      </div>
      <div class="col-xs-4">
        <%=image_tag "new/dailiimg/shujutu_22.gif" %>
        <h5><%=@user_month.display_bid_amount%></h5><h6>平台投注</h6>
      </div>

      <div class="col-xs-4">
        <%=image_tag "new/dailiimg/shujutu_18.gif" %>
        <h5><%=@user_month.display_net%></h5><h6>平台输赢</h6>
      </div>
      <div class="col-xs-4">
        <%=image_tag "new/dailiimg/shujutu_19.gif" %>
        <h5><%=@user_month.display_bonus%></h5><h6>红利</h6>
      </div>
      <div class="col-xs-4">
        <%=image_tag "new/dailiimg/shujutu_20.gif" %>
        <h5><%=@user.member_count || 0%></h5><h6>注册数</h6>
      </div>
      <div class="col-xs-4">
        <%=image_tag "new/dailiimg/shujutu_21.gif" %>
        <h5><%=@user_day.display_profit %></h5><h6>日盈利</h6>
      </div>

  </div>
</div>
<div class="container">
  <div class="diyi">
    <h2>客户注册链接</h2>
    <p id="invite_link"><%=invite_link(@user) %></p>
    <p><%=link_to "复制", nil, href:"javascript:void(0);", oncdivck: "copyToCdivpboard('#invite_link');" %></p>
  </div>

</div>
