<%=form_tag batch_delete_admin_users_path, method: :put do%>
  <table class="table <%if @user_display == 'list'%>table-striped<% end %>">
    <thead>
      <tr>
        <th>会员名</th>
        <th>注册时间</th>
        <th>电子邮箱</th>
        <th>电话号码</th>
        <th colspan="2">
          <%=link_to "添加会员", new_admin_user_path, class: "btn btn-primary btn_xs"%>
        </th>
        <th><%=submit_tag "删除", class: "btn btn-primary btn_xs"%></th>
        <th><%=submit_tag "封号/解封", class: "btn btn-primary btn_xs", formaction: batch_lock_admin_brokers_path(page: @page) %></th>
        <th><%= check_box_tag "selectall", 1, false %></th>
      </tr>
    </thead>

    <tbody>
      <% if @users.empty? %>
        <tr><td colspan="8">暂无会员</td><tr>
      <% else %>
        <%= render partial: "children", locals: { user_display: @user_display, users: @users } %>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= will_paginate @users if @users.respond_to? :total_pages%>
