<div> <h2 class="page-header">会员管理 </h2>
</div>
<div>
  <div class="">
    <%=form_tag search_admin_users_path, method:"get", class:"form-inline", role:"form" do%>
      <div class="form-group">
        <label for="start_date">会员邮箱</label>
        <%=text_field_tag "email", '', class:"form-control"%>
      </div>
      <div class="form-group">
        <%=submit_tag "查询",  class:"form-control"%>
      </div>
    <%end%>
  </div>
  <div style="padding-top:20px;">
    <span>显示方式</span>
    <% tree_active = @user_display == "tree" ? "active" : ""%>
    <% list_active = @user_display == "list" ? "active" : ""%>
    <%= link_to "树形", admin_users_path(user_display: 'tree'), class:"btn btn-default #{tree_active}" %>
    <%= link_to "列表", admin_users_path(user_display: 'list'), class:"btn btn-default #{list_active}" %>
  </div>
  <div style="padding-top:20px;">
    <%= render partial: "records", locals: {display: @user_display} %>
  </div>
</div>
