<% content_for :page_title do %>
  <%= link_to "users", admin_users_url %> /
   会员详情
<% end %>

<%= render 'admin/shared/user_tabs', current: :profile %>

<div>
<p>
  <strong>会员名:</strong>
  <%= @user.nickname %>
</p>
<p>
  <strong>注册时间:</strong>
  <%= @user.display_created_at %>
</p>
<p>
  <strong>电子邮箱:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>电话号码:</strong>
  <%= @user.phone %>
</p>
<p>
  <strong>性别:</strong>
  <%= @user.gender %>
</p>
<p>
  <strong>QQ号:</strong>
  <%= @user.qq %>
</p>
<p>
  <strong>真实姓名:</strong>
  <%= @user.real_name %>
</p>
</div>
