
<ul class="nav sidebar-menu">
  <li>
    <a><i class="menu-icon fa fa-home"></i> 基本概况 </a>
  </li>
  <li><a class="menu-dropdown" href="#">
      <i class="menu-icon fa fa-tachometer"></i>
      <span class="menu-text"> 平台报表 </span>
      <i class="menu-expand"></i>
      </a>
      <ul class="submenu">
        <li><a>日明细报表</a></li>
        <li><a>月综合报表</a></li>
      </ul>
    </li>



    <li><a class="menu-dropdown" href="#">
        <i class="menu-icon fa fa-arrow-down"></i>
        <span class="menu-text"> 充值管理 </span>
        <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
          <li><%= build_nav_link "充值统计", admin_deposits_path%></li>
        </ul>
      </li>
      <li><a class="menu-dropdown" href="#">
          <i class="menu-icon fa fa-arrow-up"></i>
          <span class="menu-text"> 提现管理 </span>
          <i class="menu-expand"></i>
          </a>
          <ul class="submenu">
            <li><%= build_nav_link "提现审核", admin_drawings_path(check: 1)%></li>
            <li><%= build_nav_link "提现统计", admin_drawings_path%></li>
          </ul>
        </li>

        <li><a class="menu-dropdown" href="#">
            <i class="menu-icon fa fa-birthday-cake"></i>
            <span class="menu-text"> 活动管理 </span>
            <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
              <li><%= build_nav_link "所有活动", admin_promotions_path%></li>
            </ul>
          </li>

  <li class="title">
    <a class="menu-dropdown" href="#">
                            <i class="menu-icon fa fa-users"></i>
                            <span class="menu-text"> 用户管理 </span>
                            <i class="menu-expand"></i>
    </a>
    <ul class="submenu">
  		<li class="cur">
  			<%= build_nav_link "会员管理", admin_users_path%>
  		</li>
  		<li class="cur">
  			<%= build_nav_link "代理管理", admin_brokers_path%>
  		</li>
    </ul>
  </li>
  <li>
    <a class="menu-dropdown" href="#">
    <i class="menu-icon fa fa-sitemap"></i>
    <span class="menu-text"> 部门管理 </span>
    <i class="menu-expand"></i>
    </a>
    <ul class="submenu">
      <li><%= build_nav_link "人员管理", admin_administrators_path%> </li>
    </ul>
  </li>
  <li>
    <a class="menu-dropdown" href="#">
    <i class="menu-icon fa fa-sitemap"></i>
    <span class="menu-text"> 交易管理 </span>
    <i class="menu-expand"></i>
    </a>
    <ul class="submenu">
      <li><%= build_nav_link "资产管理", admin_game_instruments_path %> </li>
      <li><%= build_nav_link "风控管理", admin_game_rounds_path %> </li>
      <li><%= build_nav_link "投注统计", bid_statistic_admin_users_path %> </li>
      <li><%= build_nav_link "投注管理", admin_bids_path %> </li>
    </ul>
  </li>

	<li class="cur">
    <a class="menu-dropdown" href="#">
    <i class="menu-icon fa fa-cogs"></i>
    <span class="menu-text"> 系统管理 </span>
    <i class="menu-expand"></i>
    </a>
    <ul class="submenu">
      <li><%= build_nav_link "系统通知", admin_messages_path%> </li>
    </ul>
	</li>

</ul>
