
<ul class="nav sidebar-menu">
  <li>
    <a><i class="menu-icon fa fa-home"></i> 基本概况 </a>
  </li>
  <li><a class="menu-dropdown" href="#">
      <i class="menu-icon fa fa-tachometer"></i>
      <span class="menu-text"> 平台报表 </span>
      <i class="menu-expand"></i>
      </a>
      <ul class="submenu">
        <li><a>日明细报表</a></li>
        <li><a>月综合报表</a></li>
      </ul>
    </li>



    <li><a>充值管理</a> </li>
    <li><a>提现管理</a> </li>
    <li><a>提现管理</a> </li>

    <li><a>活动管理</a> </li>

  <li class="title">
    <a class="menu-dropdown" href="#">
                            <i class="menu-icon fa fa-users"></i>
                            <span class="menu-text"> 用户管理 </span>
                            <i class="menu-expand"></i>
    </a>
    <ul class="submenu">
  		<li class="cur">
  			<%= build_nav_link "会员管理", admin_users_path%>
  		</li>
  		<li class="cur">
  			<%= build_nav_link "代理管理", admin_brokers_path%>
  		</li>
    </ul>
  </li>
  <li> <a>   <i class="menu-icon fa fa-sitemap"></i>部门管理 </a></li>

	<li class="cur">
    <a class="menu-dropdown" href="#">
                            <i class="menu-icon fa fa-cogs"></i>
                            <span class="menu-text"> 系统管理 </span>
                            <i class="menu-expand"></i>
    </a>
    <ul class="submenu">
      <li><%= build_nav_link "系统通知", admin_messages_path%> </li>
    </ul>
	</li>

  <li>
    <a class="menu-dropdown" href="#">
                            <i class="menu-icon fa fa-lock"></i>
                            <span class="menu-text"> 安全中心 </span>
                            <i class="menu-expand"></i>
    </a>
    <ul class="submenu">
      <li>
        <%= build_nav_link "重置密码", { controller: 'admin/users', action: 'search'}%>
      </li>
      <li>
        <%= build_nav_link "修改资金密码", { controller: 'admin/users', action: 'search'}%>
      </li>
			<li>
        <%= build_nav_link "恢复密保问题", { controller: 'admin/users', action: 'search'}%>
      </li>
			<li>
        <%= build_nav_link "银行卡管理", { controller: 'admin/users', action: 'search'}%>
      </li>
    </ul>
  </li>
</ul>
