<div class="foot">
  <div class="main" style="">

    <div class="nav2">
          <%=image_tag "new/foot-Trophy.png", class: "Cup"%>
          <ul>
                  <li>

                       <a class="lord">账户资金</a>

                            <ul>

                              <a  href="/info/a/zhanghuzijin/zijinanquan/" class="second">资金安全</a>
                              <a  href="/info/a/zhanghuzijin/zhanghuanquan/" class="second">账户安全</a>
                              <a  href="/info/a/zhanghuzijin/cunkuanshuoming/" class="second">存款说明</a>
                              <a  href="/info/a/zhanghuzijin/qukuanshuoming/" class="second">取款说明</a>

                            </ul>
                    </li>
                    <li>

                              <a class="lord">交易信息</a>

                            <ul>
                               <a  href="/info/a/jiaoyixinxi/_xuanzezichan/" class="second">选择资产</a>
                               <a  href="/info/a/jiaoyixinxi/jiaoyibuzhou/" class="second">交易步骤</a>
                               <a  href="/info/a/jiaoyixinxi/sunyidiaozheng/" class="second">损益调整</a>
                               <a  href="/info/a/jiaoyixinxi/jiaoyishijian/" class="second">交易时间</a>
                               <a  href="/info/a/jiaoyixinxi/zichanshoucang/" class="second">资产收藏</a>
                               <a  href="/info/a/jiaoyixinxi/fujiagongnen_/" class="second">附加功能</a>

                            </ul>
                    </li>
                    <!--<li>


                        <a class="lord">[field:typename/]</a>


                    </li>-->
                    <li>


                        <a class="lord">二元期权</a>

                       <ul>

                             <a  href="/info/a/eryuanqiquan/_jiaoyishuyu/" class="second">交易术语</a>
                             <a  href="/info/a/eryuanqiquan/ruhejiaoyi/" class="second">如何交易</a>
                             <a  href="/info/a/eryuanqiquan/zhuanyecihui/" class="second">专业词汇</a>
                             <a  href="/info/a/eryuanqiquan/tiqianpingcang_/" class="second">提前平仓</a>

                            </ul>

                    </li>
                    <li>


                        <a class="lord">即时咨讯</a>

                            <ul>

                                    <a  href="/info/a/jishizixun/_waihuizi/" class="second">外汇咨讯</a>
                                    <a  href="/info/a/jishizixun/guzhizixun/" class="second">股指咨讯</a>
                                    <a  href="/info/a/jishizixun/shangpinzixun/" class="second">商品咨讯</a>
                                    <a  href="/info/a/jishizixun/gupiaozixun/" class="second">股票咨讯</a>
                                    <a  href="/info/a/jishizixun/xingonggao_/" class="second">最新公告</a>

                            </ul>
                    </li>
                    <li>

                            <a class="lord">教育中心</a>

                            <ul>

                              <a  href="/info/a/jiaoyuzhongxin/changjianwenti/" class="second">常见问题</a>
                              <a  href="/info/a/jiaoyuzhongxin/chenggonggushi/" class="second">成功故事</a>
                              <a  href="/info/a/jiaoyuzhongxin/jiaoyicelue/" class="second">交易策略</a>

                            </ul>
                    </li>
                    <li>


                        <a class="lord">交易助手</a>

                            <ul>

                                   <a  href="/info/a/jiaoyizhushou/shouyilvzhushou/" class="second">收益率助手</a>
                                   <a href="/info/a/guanyuwomen/pingtaibeijing/" class="second">平台动态</a>

                            </ul>
                    </li>
                    <li>


                        <a class="lord">协议政策</a>

                            <ul>

                                   <a  href="/info/a/xieyizhengce/tiaokuanxieyi/" class="second">条款协议</a>
                                   <a  href="/info/a/xieyizhengce/mianzeshenming/" class="second">免责声明</a>
                                   <a  href="/info/a/xieyizhengce/yinsizhengce/" class="second">隐私政策</a>
                                   <a  href="/info/a/xieyizhengce/fengxianpilu/" class="second">风险披露</a>
                                   <a  href="/info/a/xieyizhengce/daoqijiagetiaokuan/" class="second">到期价格条款</a>
                                   <a  href="/info/a/xieyizhengce/fanxiheiqianzhengce/" class="second">反洗黑钱政策</a>

                            </ul>
                    </li>
                    <li>


                        <a class="lord">优惠活动</a>

                            <ul>

                                    <a  href="/info/a/youhuihuodong/_suoyouhuodong/" class="second">所有活动</a>
                                    <a  href="/info/a/youhuihuodong/zuixinhuodong/" class="second">最新活动</a>
                                    <a  href="/info/a/youhuihuodong/jierihuodong/" class="second">节日活动</a>
                                    <a  href="/info/a/youhuihuodong/changguihuodong_/" class="second">常规活动</a>

                            </ul>
                    </li>
                   
                    <li>


                        <a class="lord">在线帮助</a>

                            <ul>

                                   <a  href="/info/a/zaixianbangzhu/_zhucezhidao/" class="second">注册指导</a>
                                   <a  href="/info/a/zaixianbangzhu/rujinzhidao/" class="second">入金指导</a>
                                   <a  href="/info/a/zaixianbangzhu/qukuanzhidao/" class="second">取款指导</a>
                                   <a  href="/info/a/zaixianbangzhu/lianxiwomen_/" class="second">联系我们</a>

                            </ul>
                    </li>

          </ul>
        <div class="warning">
          高风险交易警告：我们提供全球投资者服务的金融产品投资，而二元期权投资具备高风险、高回报、T+0交易且可提前出售、对冲等多个特点。您可能获取盈利的同时，亦存在损失全部初始存款。在决定入市之前，您应当综合考虑自己的投资目标、风险承受能力和对投资产品的经验程度。在我们的平台开始交易之前，请仔细阅读Ballmer Asia的风险披露声明。
                    <p>© 版权所有：博马亚洲金融集团 Ballmer Asia Financial Group </p>
        </div>
      <div class="Icon">
          <%=image_tag "new/foot-icon01.jpg"%>
          <%=image_tag "new/foot-icon02.jpg"%>
          <%=image_tag "new/foot-icon03.jpg", class: "imgno"%>
          <%=image_tag "new/foot-icon04.jpg"%>
          <%=image_tag "new/foot-icon05.jpg"%>
          <%=image_tag "new/foot-icon06.jpg", class: "imgno"%>
          <%=image_tag "new/foot-icon07.png", class: "lit"%>
          <%=image_tag "new/foot-icon08.png", class: "lit"%>
          <%=image_tag "new/foot-icon09.png", class: "lit"%>
          <%=image_tag "new/foot-icon10.png", class: "lit"%>
          <%=image_tag "new/foot-icon11.png", class: "imgno"%>
        </div>
        

    </div>

    <div class="p-bottom">
      <div class="main" style="    width: 1100px;margin: auto;">
        <a href="/users/sign_up">
          <div class="center">
            <%=image_tag "new/bottom-icon01.png" %> 免费开户
          </div>
        </a>
        
       
      </div>

    </div>
  </div>
</div>
