<div id="header">
  <div class="container clearfix">
    <div id="logo" class="left">
      <div class="header_r00"><%=image_tag "new/meiimg_02.gif"%><p id="clock">北京时间：</p></div>
          <%= link_to root_path, title: "公司名称二元期权" do %>
          <%=image_tag "new/biao01.jpg", alt:""%><%=image_tag "new/biao02.jpg", alt:""%>
          <% end %>

    </div>
    <div class="header_r right">

      <div class="header_r01">
        <%=image_tag "new/meiimg_04.gif"%>
        <a href="">联系我们：400-666-6666</a>
        <span>|</span> <%=image_tag "new/meiimg_06.gif"%><a href="">English</a>
        <span>|</span> <%=image_tag "new/meiimg_08.gif"%><a href="">简体中文</a>
      </div>
      <div class="header_r02 pt10">
        <!--新加代码开始-->
        <% unless current_user %>
          <div class="login_before">
            <div class="left">
              <%user = User.new%>
              <%= simple_form_for(user, :url => user_session_path, :html => { :role => 'form', :class=> 'login-form'}) do |f| %>
                <%=f.input "email", label: false, placeholder: "邮箱", input_html: {class: "in01 email", style: "padding:0;"}, wrapper_html: {style: "margin-bottom:0"}  %>
                <%=f.input "password", label: false, placeholder: "密码", input_html: {class: "in01 password", style: "padding:0;"}, wrapper_html: {style: "margin-bottom:0"}  %>
                <%=f.input "lang", label: false, as: "hidden" %>
                <%= link_to "忘记密码?", new_password_path(user) %>
                <%= f.submit '登录', class: 'btn01' %>
              <% end %>
            </div>
            <%= link_to new_user_registration_path, target:"_blank", class: 'btn02' do%>
              免费<br>开户
            <% end %>
            <%= link_to new_broker_registration_path, target:"_blank", class: 'btn03' do%>
              申请<br>代理
            <% end %>
            <div class="login-msg"></div>
          </div>
          <% else %>
        <div class="login_after1">
          <div class="after_left">
            <div class="after_top">
            <p>Hi、<span><%= current_user.nickname %></span> 用户积分：<span>5000</span></p>
            </div>
            <div class="after_down">
            <ul>
              <li>
                <%=link_to new_my_deposit_path do%>
                  <%=image_tag "new/noimages/afteryu_03.gif"%><span>立即入金</span>
                <%end%>
              </li>
              <li>
                <%=link_to "" do%>
                  <%=image_tag "new/noimages/afteryu_05.gif"%><span>签到抽奖</span>
                <%end%>
              </li>
              <li>
                <%=link_to my_account_index_path do%>
                  <%=image_tag "new/noimages/afteryu_07.gif"%><span>个人中心</span>
                <%end%>
              </li>
              <li>
                <%= link_to destroy_user_session_path, :method=>'delete' do %>
                  <%=image_tag "new/noimages/afteryu_09.gif"%><span>退出</span>
                <%end%>
              </li>
            </ul>
            </div>
          </div>
          <div class="after_right">
            <%=image_tag "new/noimages/toux_04.gif"%>
          </div>
        </div>
          <% end %>
           <!--新加代码结束-->

        </span>
        </div>
    </div>
  </div>

  <div class="container clearfix">
    <div id="nav" class="left">
       <ul>
        <li><a href="http://www.qooptions.com/">首页</a></li>
        <li><a href="">即时资讯</a>
          <div class="xian">
            <a href="">外汇咨询</a>
            <a href="http://www.qooptions.com/cn/news-61">股指资讯</a>
            <a href="http://www.qooptions.com/cn/news-62">商品资讯</a>
            <a href="http://www.qooptions.com/cn/news-109">股票资讯</a>
            <a href="http://www.qooptions.com/cn/news-178">最新公告</a>
          </div>
        </li>
        <li>
          <a href="http://www.qooptions.com/cn/acct">交易平台</a>
          <div class="xian">
            <a href="http://www.qooptions.com/cn/acct">网页版</a>
            <!--<a href="/cn/fx">外汇</a>-->
            <a href="http://www.qooptions.com/cn/comm">手机版</a>
            <a href="http://www.qooptions.com/cn/stocks">微信版</a>

          </div>
        </li>
        <li>
          <a href="http://www.qooptions.com/appProxy/plt">账户与交易</a>
          <div class="xian">
            <a href="http://www.qooptions.com/appProxy/plt">账户类型</a>
            <!--<a href="/appProxy/m">手机版</a>
            <a href="/appProxy/pc">PC程式版</a>-->
            <a href="http://www.qooptions.com/appProxy/software">商品</a>
            <a href="http://www.qooptions.com/appProxy/software">股票</a>
            <a href="http://www.qooptions.com/appProxy/software">指数</a>
            <a href="http://www.qooptions.com/appProxy/software">商业条款</a>
          </div>
        </li>
        <li>
          <a href="http://www.qooptions.com/cn/terms">二元期权</a>
          <div class="xian">
            <a href="http://www.qooptions.com/cn/terms">交易术语</a>
            <a href="http://www.qooptions.com/cn/edu">如何交易</a>
            <a href="http://www.qooptions.com/cn/termspt">专业词汇</a>
            <a href="http://www.qooptions.com/cn/exp">提前平仓</a>
          </div>
        </li>
        <li>
          <a href="http://www.qooptions.com/cn/about">交易帮手</a>
          <div class="xian"><a href="http://www.qooptions.com/cn/about">历史报价</a><a href="http://mt4.qooptions.com/Home/partner/JoinUs.html">交易资产</a></div>
        </li>
        <li>
          <a href="http://www.qooptions.com/cn/dep">交易信息</a>
          <div class="xian">
            <a href="http://www.qooptions.com/cn/dep">选择资产</a>
            <a href="http://www.qooptions.com/cn/wd">交易步骤</a>
            <a href="http://www.qooptions.com/cn/dwfaq">损益调整</a>
            <a href="http://www.qooptions.com/cn/dep">交易时间</a>
            <a href="http://www.qooptions.com/cn/dep">资产收藏</a>
            <a href="http://www.qooptions.com/cn/dep">附加功能</a>
          </div>

        </li>

                <li>
          <a href="http://mt4.qooptions.com/promo/stretch/">优惠活动</a>
          <div class="xian">
      <a href="http://mt4.qooptions.com/promo/NationalDay/">所有活动</a>
            <a href="http://mt4.qooptions.com/promo/stretch/">最新活动</a>
            <a href="http://www.qooptions.com/cn/dep">节日活动</a>
            <a href="http://www.qooptions.com/cn/dep">常规活动</a>
            <!--<a href="/christmas/index.php">圣诞活动</a>
            <a href="/annual_bonus/">年终奖</a>
            <a href="/activity/gold">赠金活动</a>
            <a href="/activity/present">豪礼相送</a>
            <a href="/iphone6s/">预约iphone6S</a>-->
          </div>
        </li>
                <li>
          <a href="http://www.qooptions.com/cn/comp">在线帮助</a>
          <div class="xian">
            <a href="http://www.qooptions.com/cn/comp">注册指导</a>
            <a href="http://www.qooptions.com/cn/why">入金指南</a>
            <a href="http://www.qooptions.com/cn/cnt">取款指导</a>
            <a href="http://www.qooptions.com/cn/faq">合作伙伴</a>
            <a href="http://www.qooptions.com/cn/dep">联系我们</a>
          </div>
        </li>
      </ul>
    </div>
    <div id="search" class="right">
    <form action="http://www.qooptions.com/new/check_art" class="searchform" method="post">
      <input class="wenben" type="text" name="wenben">
      <input value="" class="anniu" type="submit">
    </form>
    </div>
  </div>
</div>
