<div id="header">
  <div class="container clearfix">
    <div id="logo" class="left">
      <div class="header_r00"><%=image_tag "new/meiimg_02.gif"%><p id="clock">北京时间：</p></div>
          <%= link_to root_path, title: "公司名称Ballmer Asia" do %>
          <%=image_tag "new/biao01.png", alt:"logo"%>
          <% end %>

    </div>
    <div class="header_r right">

      <div class="header_r01">
        <%=image_tag "new/meiimg_04.gif"%>
        <a href="">联系我们：400-666-6666</a>
        <span>|</span> <%=image_tag "new/meiimg_06.gif"%><a href="">English</a>
        <span>|</span> <%=image_tag "new/meiimg_08.gif"%><a href="">简体中文</a>
      </div>
      <div class="header_r02 pt10">
        <%= render "shared/user_auth" %>
      </div>
    </div>
  </div>

  <div id="nav-div" class="container clearfix" style="padding-top:21px;">
    <div id="nav" class="left">
      <ul>
        <li><a href="/">首页</a></li>

        <li>

          <a>交易平台</a>

          <div  class="xian">

            <a href="/pages/forex_simple">热门资产</a>
            <a href="/pages/forex_adv">资深交易者</a>
          </div>
        </li>


        <li>


          <a>交易帮手</a>

          <div  class="xian">


            <a href="">历史报价</a>
            <a href="">资产列表</a>
          </div>
        </li>

        <li>


          <a>关于我们</a>

          <div  class="xian">


            <a href="/info/a/guanyuwomen/pingtaibeijing/">平台背景</a>
            <a href="/info/a/guanyuwomen/pingtaibeijing/">平台动态</a>
            <a href="/info/a/guanyuwomen/pingtaianquan/">平台安全</a>
            <a href="/info/a/guanyuwomen/jianguanqingkuang/">监管情况</a>
            <a href="/info/a/guanyuwomen/fazhanlicheng/">发展历程</a>
          </div>
        </li>

          <a>合作伙伴</a>

          <div  class="xian">


            <a href="/info/a/zaixianbangzhu/hezuohuoban/">代理中心</a>
            <a href="/info/a/yonghuzhongxin/">优势前景</a>
            <a href="/info/a/tiaokuanxieyi/">条款协议</a>
            <a href="/info/a/fuchizhengce/">扶持政策</a>
            <a href="/info/a/changjianwentiri/">商业模式</a>
            <a href="/info/a/meiyuechunxiao/">加盟优势</a>
            <a href="/info/a/guanwangshuoming/">官网说明</a>
          </div>
        </li>
        <li>


          <a>在线帮助</a>

          <div  class="xian">


            <a href="/info/a/zaixianbangzhu/_zhucezhidao/">在线帮助</a>
            <a href="/info/a/zaixianbangzhu/rujinzhidao/">入金指导</a>
            <a href="/info/a/zaixianbangzhu/qukuanzhidao/">取款指导</a>
            <a href="/info/a/zaixianbangzhu/lianxiwomen_/">联系我们</a>

          </div>
        </li>
      </ul>
    </div>
    <div id="search" class="right">
    <form action="http://www.qooptions.com/new/check_art" class="searchform" method="post">
      <input class="wenben" type="text" name="wenben">
      <input value="" class="anniu" type="submit">
    </form>
    </div>
  </div>
</div>
