<div>
<h1 id="mingcheng">
  <%= image_tag "new/shouji/logo.png", style: "width:140px;" %>
 </h1>
<a href="#" class="nav__trigger"><span class="nav__icon"></span></a>
</div>

<nav class="nav1">
    <ul class="nav__list">
      <li class="nav__item"><a class="nav__link" href="/info/templets/default/shouji_index.htm">
        <%= image_tag "new/shouji/shoujixialatu_03.gif" %> <span>首页</span></a></li>

      <li class="nav__item"><a class="nav__link" href="/info/plus/list.php?tid=119">
        <%= image_tag "new/shouji/shoujixialatu_08.gif" %>
         <span>行情分析</span></a></li>
      <li class="nav__item"><a class="nav__link" href="/pages/forex_adv">
        <%= image_tag "new/shouji/shoujixialatu_10.gif" %>  <span>马上赚钱</span></a></li>
     <li class="nav__item"><a class="nav__link" href="/info/templets/default/shouji_chuantong.htm">
         <%= image_tag "new/shouji/shang1.jpg" %>  <span>商业模式</span></a></li>
         <li class="nav__item"><a class="nav__link" href="/info/templets/default/shouji_youshi.htm">
           <%= image_tag "new/shouji/jia1.jpg" %> <span>加盟优势</span></a></li>
      <li class="nav__item"><a class="nav__link" href="/info/templets/default/shouji_lianxi.htm">
        <%= image_tag "new/shouji/shoujixialatu_12.gif" %>  <span>联系我们</span></a></li>

    </ul>
</nav>
