<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta charset="utf-8">
		<title><%= t("admin.site.name")  %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "admin", :media => "all" %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
		<% # This line ensures javascript code can access the current locale from Rails %>
		<script type="text/javascript">var tkh_locale = '<%= I18n.locale.to_s %>';</script>
	</head>

	<body>

    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="navbar-container">
              <div class="navbar-header">
                <%= link_to "后台管理", root_path, class: "navbar-brand" %>
              </div>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Dashboard</a></li>
                  <li><a href="#">Settings</a></li>
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Help</a></li>
                </ul>
            </div>
          </div>
    </div>

    <div class="main-container container-fluid" role="main">
      <div class= "page-container row">
        <div class="page-sidebar col-sm-3 col-md-2 sidebar">
           <%= render partial: "admin/shared/admin_sidebar" %>
        </div>
        <div class="page-content col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
          <%#-------------------------------------------------%>
          <%# Content header (page title/actions)             %>
          <%#-------------------------------------------------%>
          <%= render partial: 'admin/shared/content_header' %>
          <div class="row">
            <%#= render 'shared/flash_messages' %>

            <%#-------------------------------------------------%>
            <%# Main content                                    %>
            <%#-------------------------------------------------%>
            <div class="<%= content_for?(:sidebar) ? 'with-sidebar col-md-9 col-sm-8' : 'col-sm-12'  %>" id="content" data-hook>
              <%= render partial: 'admin/shared/table_filter' if content_for?(:table_filter)%>
              <%= yield %>
            </div>

            <%#-------------------------------------------------%>
            <%# Inner aside                                     %>
            <%#-------------------------------------------------%>
            <% if content_for?(:sidebar) %>
              <div class="col-md-3 col-sm-4">
                <%= render partial: 'admin/shared/sidebar' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "admin" %>

  </body>
</html>
