<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Better" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Better" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <% # This line ensures javascript code can access the current locale from Rails %>
		<script type="text/javascript">var tkh_locale = '<%= I18n.locale.to_s %>';</script>
  </head>
  <body>
    <div >
      <%= render 'layouts/navigation' %>
    </div>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <%= render 'layouts/footer' %>

    <%= render 'shared/dialog' %>

  </body>
</html>
