<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ballmer Asia" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ballmer Asia" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.qrcode.min' %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <% # This line ensures javascript code can access the current locale from Rails %>
		<script type="text/javascript">var tkh_locale = '<%= I18n.locale.to_s %>';</script>
  </head>
  <body>
    <div class="header">
      <%= render 'layouts/new_navigation' %>
    </div>

    <div class="page-content-wrapper rebody">
      <div class="page-content clearfix <%='fullwidth' if @fullwith_content %>">
        <%= yield %>
      </div>
    </div>
    <% # render 'shared/online_service_tools' %>

    <%= render 'layouts/footer' %>

    <%= render 'shared/dialog' %>

  </body>
</html>
