<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Better" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Better" %>">
    <%= stylesheet_link_tag 'my', media: 'all' %>
    <%= javascript_include_tag 'my' %>
    <%= javascript_include_tag 'jquery.qrcode.min' %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <% # This line ensures javascript code can access the current locale from Rails %>
		<script type="text/javascript">var tkh_locale = '<%= I18n.locale.to_s %>';</script>
  </head>
  <body>
    <%= render 'layouts/new_navigation' %>
    <%= render 'shared/flash_messages' %>
    <%= render partial: "my/account/member_profile" %>
    <%= render partial: "shared/user_menu" %>
    <div class="hybody_down">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= render 'shared/dialog' %>
  </body>
</html>
