<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <%= render 'my/shared/head' %>
  </head>
  <body class="mobile">
    <%= render 'layouts/header' %>
    <%= render "shared/user_menu" %>
    <div class="page">
      <div class="page-title">
        <div class="container">
        <%= yield :page_title %>
        </div>
      </div>
      <div class="page-body">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <%= render 'shared/dialog' %>
    <%= render 'pages/registry' %>

  </body>
</html>
