<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <%= render 'my/shared/head' %>
  </head>
  <body>
    <%= render 'layouts/new_navigation' %>
    <%= render 'shared/flash_messages' %>
    <%= render partial: "my/account/member_profile" %>
    <%= render partial: "shared/user_menu" %>
    <div class="hybody_down">
      <div class="p-down_nei">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <%= render 'shared/dialog' %>
  </body>
</html>
